
.sima-model-display-icon {
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &._clickable:hover { cursor: pointer; }
    .sima-model-display-icon-icon { 
        color: white;
        border-radius: 3px;
        background: #8d949e;
    }/* end sima-model-display-icon-icon */
    .sima-model-display-icon-img {
        width: 100%;
        height: auto;
        border-radius: 2px;
    }/* end sima-model-display-icon-img */
    .fa-stack, .fa-stack-1x, .fa-stack-2x {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }/* end fa-stack */
}/* end sima-model-display-icon */

