/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2014, 4:03:10 PM
    Author     : sasa
*/

.account_transactions table tr.transaction_selected {
    background-color: #98f5ff !important;
}


.accounts_disagreement .header {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.accounts_disagreement .body {
    width: 100%;
}

.accounts_disagreement .header .row, .accounts_disagreement .body .row {
    width: calc(100% - 30px);
    padding: 0px 15px;
}

.accounts_disagreement .header .row > div, .accounts_disagreement .body .row > div {
    display: inline-block;    
    text-align: right;
}

.accounts_disagreement .body .row .account_name .sima-model-link {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
}

.accounts_disagreement .header .row .account_name, .accounts_disagreement .body .row .account_name, .accounts_disagreement .header .row .checkbox, .accounts_disagreement .body .row .checkbox {
    text-align: left;
}

/*.accounts_disagreement .body .row .prev_year_saldo, .accounts_disagreement .body .row .curr_year_saldo, .accounts_disagreement .body .row .diff_saldo {
    text-align: right;
}*/

.bill_info .bill_info_item {
    /*border: 1px solid black;*/ 
    /*margin: 20px 5px 0px 5px;*/ 
    /*padding: 5px;*/
}

.bill_info .bill_info_item .head {
    position: relative;
    margin-top: -18px; 
    background: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.bill_info .bill_info_item .head .name {
    margin: 0px 5px;
}

.bill_info .bill_info_item .body {
    /*margin-top: 5px;*/
}

.bill_info .bill_info_item .body .name {
    font-weight: bold;
    font-size: 14px;
}

.bill_info .bill_info_item .body .main_table {
    
}

.bill_info .bill_info_item .body .proposals {
    /*margin-top: 20px;*/
}

.bill_info .bill_info_item .body .proposals .current_unreleased_percent {
    /*display: none;*/
}

.bill_info .bill_info_item .body .proposals .current_unreleased_percent .amount.overflow {
    color: red;
}

.bill_info .bill_info_item .body .proposals table td.number_field {
    /*text-align: right;*/
}

.cost_types_for_transfer .header {
    margin-bottom: 10px;
}

.cost_types_for_transfer .header .row .checkbox {
    font-weight: bold;
}

.cost_types_for_transfer .row > * {
    vertical-align: top;
}

.cost_types_for_transfer .row .checkbox {
    display: inline-block;
    width: 100px;    
    text-align: center;
}

.cost_types_for_transfer .header .row .cost_type, .cost_types_for_transfer .header .row .account {
    font-weight: bold;
}

.cost_types_for_transfer .row .cost_type, .cost_types_for_transfer .row .account {
    display: inline-block;
    width: calc(50% - 60px);    
    font-size: 16px;
    text-align: left;
}

.sima-accounting .sima-page-title-nav-opt .date_range_picker_wrapper {
    height: 100%;
}

.sima-accounting .sima-page-title-nav-opt .date_range_picker_wrapper input {
    height: 20px;
    border: 1px solid #aaa;
}

.sima-accounting .sima-page-title-nav-opt .date_range_picker_wrapper input:hover {    
    border: 1px solid #000;
}

.sima-change._selected
{
    font-weight: bold;
}

.sima-ioses-choose-companies-settings{
    text-align: justify;
}

.sima-ioses-global-checkbox{
    color: #014f9d;
}

/**
    boje za guitable redove
*/
table 		tr.row.payment_type_id_3  		{ background-color: Wheat 		!important; }
table 		tr.row.not_released 			{ background-color: #98F5FF 	!important; }
table 		tr.row.compensation 			{ background-color: #66CDAA		!important; }
table	 	tr.row.not_const  				{ background-color: #FFC0A2 	!important; }
table	 	tr.row.not_attached				{ background-color: #FFC0A2 	!important; }
div.sima-guitable-body table	 	tr.row.not_attached.selected				{ background-color: #FF8245 	!important; }
table	 	tr.row.have_unreleased  		{ background-color: #FFC0A2 	!important; }
table 		tr.row.color_98F5FF 			{ background-color: #98F5FF 	!important; }

table 		tr.row.VAT_advance_bill                         { background-color: #5efc71 	!important; }
table 		tr.row.VAT_relief_bill                          { background-color: #f9f61d 	!important; }


table 		tr.row.VAT_internal                             { background-color: #f7945c !important; }
table 		tr.row.VAT_internal.VAT_advance_bill            { background: repeating-linear-gradient(to right, #f7945c, #5efc71, #f7945c 10%) !important; }
table 		tr.row.VAT_internal.VAT_relief_bill             { background: repeating-linear-gradient(to right, #f7945c, #f9f61d, #f7945c 10%) !important; }
table 		tr.row.VAT_internal.VAT_non_internal            { background: repeating-linear-gradient(to right, #f7945c, transparent, #f7945c 10%) !important; }

.kpr-kir-manual-collapsed-order-numbers {
    width: calc(100% - 40px);
    padding: 20px;
}

.kpr-kir-manual-collapsed-order-numbers-tbl {
    border-collapse: collapse;
    width: 100%;
}

.kpr-kir-manual-collapsed-order-numbers-tbl td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.sima-acc-br-pretime
{
    color: blue;
}
.sima-acc-br-ontime
{
    color: green;
}
.sima-acc-br-late
{
    color: red;
}

.add-bank-account-from-bank-statement {
    text-align: initial;
}

.add-bank-account-from-bank-statement ._payment-data {
    padding: 0px 15px;
    margin-bottom: 10px;
}

.add-bank-account-from-bank-statement ._payment-data table {
    border-collapse: collapse;
    width: 100%;
}

.add-bank-account-from-bank-statement ._payment-data table tr:nth-child(even) {
    background-color: #F2F2F2;
}

.add-bank-account-from-bank-statement ._payment-data table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    width: 50%;
}

.add-bank-account-from-bank-statement ._display-message {
    background-color: #FFC0A2;
    margin: 0px 15px 10px 15px;
    padding: 10px;
}

.add-bank-account-from-bank-statement ._add-partner-btn {
    margin: 0px 15px 10px 15px;
}

.add-bank-account-from-bank-statement ._bank-account-form {
    padding: 0px 15px;
}

.add-bank-account-from-bank-statement .mutual_form_wrapper {
    margin: 0px;
}

.ppppd-full-info-item {
    padding: 5px;
}