.#{$login} {
    @include position(relative, $left: 50%);
    max-width: 730px;
    padding: 0 1rem;
    transform: translate(-50%); //add vendor prefixes
    width: 100%;
    //element
    //will compile like login__content
    &__content {
        font-size: 0; // fix to eliminate 4px margin on inline-block elements
    }
    //element
    //will compile like login__wrapper
    &__wrapper {
        @include position(relative);
        background-color: $white;
        box-shadow: 2px 0 0 -1px lighten($black, 80%);
        box-sizing: border-box;
        display: inline-block;
        padding: 1rem 2rem 1rem 0;
        vertical-align: top;
        width: 50%;
        z-index: 0;
        &._animate {
            -webkit-animation: moveRight 280ms ease-in;
            -moz-animation: moveRight 280ms ease-in;
            -o-animation: moveRight 280ms ease-in;
            animation: moveRight 280ms ease-in;
        }
    }
    //element
    //will compile like login__title
    &__title {
        margin: 2rem 0;
    }
    //element
    //will compile like login__quote
    &__quote {
        @include position(relative);
        box-sizing: border-box;
        display: inline-block;
        font-size: 0; // fix to remove margin between inline-block elements
        line-height: 19px;
        overflow:hidden;
        padding: 1rem 0 1rem 2rem;
        vertical-align: top;
        width: 50%;
        z-index: -1;
        &__text {
            display: inline-block;
            font-size: 0.850rem;
            width: calc(100% - 2rem);
        }
        &__author {
            font-style: oblique;
        }
        //element
        //will compile like login__quote
        &__img {
            display: block;
            height: auto;
            margin-top: 1rem;
            width:100%;
        }
        &._animate {
            -webkit-animation: fromRight 380ms ease-in;
            -moz-animation: fromRight 380ms ease-in;
            -o-animation: fromRight 380ms ease-in;
            animation: fromRight 380ms ease-in;
        }
    }
    &__options {
        
        &__required {
            color: $required-red;
            font-size: 0.850rem;
        }
        &__link {
            color: $blue;
            font-size: 0.850rem;
            float: right;
        }
    }
    &__change-password {
        width: 500px;
        margin: auto;
        &__title {
            margin: 2rem 0;
        }
        &__content {
            font-size: 0;
        }
    }
}
@-webkit-keyframes moveRight {
    0%{
        right: -5rem;
    }
    100% {
        right: 0;
    }
}
@-moz-keyframes moveRight {
    0%{
        right: -5rem;
    }
    100% {
        right: 0;
    }
}
@-o-keyframes moveRight {
    0%{
        right: -5rem;
    }
    100% {
        right: 0;
    }
}
@keyframes moveRight {
    0%{
        right: -5rem;
    }
    100% {
        right: 0;
    }
}

@-webkit-keyframes fromRight {
    0%{
        opacity: 0;
        right: 16rem;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}
@-moz-keyframes fromRight {
    0%{
        opacity: 0;
        right: 16rem;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}
@-o-keyframes fromRight {
    0%{
        opacity: 0;
        right: 16rem;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}
@keyframes fromRight {
    0%{
        opacity: 0;
        right: 16rem;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}