
.choose_persons_to_company_licence {
    
}

.choose_persons_to_company_licence .error {
    color: red;    
}

.choose_persons_to_company_licence .curr_references_number_wrap {
    text-align: left;    
}

.choose_persons_to_company_licence .curr_persons_number_wrap {
    text-align: left;    
}

.choose_persons_to_company_licence .curr_references_number_wrap.overflow {
    color: red;
}

.choose_persons_to_company_licence .curr_persons_number_wrap.overflow {
    color: red;
}

.choose_persons_to_company_licence .head {
    font-weight: bold;
    margin-bottom: 5px;
}

.choose_persons_to_company_licence .add {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.choose_persons_to_company_licence .name {
    display: inline-block;
    width: 20%;
    text-align: left;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space:nowrap;
}

.choose_persons_to_company_licence .references_number {
    display: inline-block;
    width: 10%;
    text-align: left;
}

.choose_persons_to_company_licence .add_references {
    display: inline-block;
    width: 30%;
}

.choose_persons_to_company_licence .accepted_references {
    display: inline-block;
    width: 20%;
}

.choose_persons_to_company_licence .choose_persons_to_company_licence_body {
    margin: 15px 0px 0px 25px;
}

.choose_persons_to_company_licence .add_reference_btn {
    
}

.choose_persons_to_company_licence_row:nth-child(odd) {
    background-color: #F2F2F2;
}

.choose_persons_to_company_licence_row:nth-child(even) {
    background-color: #FFFFFF;
}

.sima-safe-records-list-t {
    margin: 20px;
}

.sima-safe-records-list-t tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.sima-safe-records-list-t tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

.sima-safe-records-list-t tbody .sima-safe-record:hover {
    cursor: pointer !important;
    background-color: #CCCCCC;
}

.sima-safe-records-list-t tbody .sima-safe-record.selected {    
    background-color: #B8B8B8;
    color: black;
}

.check_company_license_decision_disagreements .title {
    padding: 0px 5px;
}

.check_company_license_decision_disagreements .header {
    margin-bottom: 10px;
}

.check_company_license_decision_disagreements .header .row {
    font-weight: bold;
}

.check_company_license_decision_disagreements .body {
    padding: 5px 0px;
}

.check_company_license_decision_disagreements .body .row:nth-child(odd) {
    background-color: #F2F2F2;
}

.check_company_license_decision_disagreements .body .row:nth-child(even) {
    background-color: #FFFFFF;
}

.check_company_license_decision_disagreements .row .company_license {
    display: inline-block;
    width: 40%;
    text-align: left;
    
}

.check_company_license_decision_disagreements .row .operation {
    display: inline-block;
    width: 40%;
    text-align: right;
}