/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2014, 10:10:55 AM
    Author     : goran
*/

div.sima-ui-sector_tree
{
    position: relative;
    list-style-type: none;
    margin-top: 20px;
}
div.sima-ui-sector_tree span{
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

div.sima-ui-sector_tree > ul { margin-left: 0px;}
div.sima-ui-sector_tree ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    margin-left: 20px;
}

div.sima-ui-sector_tree span.sima-ui-sector-tree-icon {
    height: 25px;
    width: 29px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
}
div.sima-ui-sector_tree span.sima-ui-sector-tree-title {
    white-space: nowrap;
    display: inline-block;
    margin-left: 30px;
    padding-top:5px;
    cursor: pointer;
}

div.sima-ui-sector_tree li > span.sector-icon{
    background: url(../images/sector_icon.png) no-repeat;
}

div.sima-ui-sector_tree li > span.person-icon{
    background: url(../images/person_icon.png) no-repeat;
}

div.sima-ui-sector_tree li:last-child {
     background-color: #F0F0F0 ;
}

div.sima-ui-sector_tree li {
    margin: 0;
    padding: 0;
    line-height: 20px; 
}

div.sima-ui-sector_tree li.selected {
    background-color: transparent !important;
    color: black !important;
}

div.sima-ui-sector_tree li.selected:last-child {
    background-color: #F0F0F0 !important;
    color: black !important;
}

div.sima-ui-sector_tree li.selected > span.sima-ui-sector-tree-title {
    background-color: #929292 !important;
    color: #FFFFFF !important;
}