@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size:3.2mm;
}

b {
    font-weight: bold;
}

header{
    padding-bottom:4.8mm;
    width:100%;
    overflow:hidden;
    position:relative;
    border-bottom: 0.5mm solid #363a45;
    display: flex;
}

header img{
    margin-right:7.9mm;
    float:left;
    width: 16mm;
    height: 16mm;
}

header .header-column1 {
    width: 105mm !important;
    height: 16mm;
}

header .header-column2 {
    width: 55mm !important;
    height: 16mm;
}

header .content{
    float:left;
    position:relative;
    width:160mm;
    height: 16.4mm;
    padding-left:2.6mm;
    border-left: 0.3mm solid #888;	
}

header .content ul{
    position:absolute;
    bottom:0;
}

header .content ul li{
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

header .content ul li span{
    font-weight:700;
}

.main-info {
    width: 100%;
    margin-top: 10mm;
    font-size: 3.2mm;
}

.main-info-item {
    padding: 2px;
}

.main-info-title {
    font-weight: 700;
}

.main-info td {
    padding: 1mm;
}

.main-info .column1 {
    width: 115mm;
}

.main .title{
    text-align:center;
    margin-top: 19.8mm;
}

.main .title h1{
    font-size:5.3mm;
    font-weight:bold;
}

.main .title h1 span{
    margin-top: 1.3mm;
    display: block;
    font-weight: normal;
    font-size:3.2mm;
}

.main .content{
    margin-top: 10.6mm;
}

/* TABLE */
#table {
    border-collapse: collapse;
    width: 100%;
    margin-top:5.3mm;
    font-size:2.6mm;
}

#table th:nth-child(1){
    width: 5.3mm;
    text-align: center;
}

#table th:nth-child(2){
    width: 66.1mm;
    text-align: left!important;
}

#table td:nth-child(1), #table td:nth-child(3), #table td:nth-child(4){
    text-align: center;
}


#table td, #table th, #tax-table td, #tax-table th, #advance_release-table th, #advance_release-table td{
    border: 0.3mm solid #fff !important;
    padding: 1.3mm !important;
    /*text-align: center;*/
    vertical-align: middle !important;
}


#tax-table tr:nth-child(even),
#advance_release-table tr:nth-child(even)
{
    background-color: #d0d0d0;
}

#table tr:nth-child(even){
    background-color: #d0d0d0;
}

#tax-table,
#advance_release-table
{
    font-size: 2.6mm;
    text-align: right;
}

#tax-table
{
    margin-top: 5.3mm;
}

#advance_release-table
{
    margin-top: 3mm;
}

#table th, #tax-table th, #advance_release-table th {
    font-weight: bold;
    text-align: center;
    background-color: #363a45;
    color: white;
}


#tax-table tr td:first-child,
#advance_release-table tr td:first-child
{
    text-align: center;
}

.advance_release p{
    margin-top: 7mm;
}

.balance{
    float:right;
    width:50%;
    border-bottom:0.5mm solid #363a45;
    text-align:right;
}

#balance-table{
    width:100%;
    font-size:3.2mm;
    font-weight:bold;
}

#balance-table tr, #balance-table td{
    text-align: right;
    padding: 1.3mm 0 !important;
}

#balance-table tr{
    border-bottom: 0.3mm solid #999;
}

#balance-table tr:last-child{
    border: none;
}

#balance-table tr td:first-child{
    width: 71.4mm;
}

.tax{
    width: 50%;
    float: left;
}

.clear{clear: both;}

.signatures {
    position: relative;
    margin: 19.8mm 0 11.9mm 0;
    text-align: center;
    font-size: 3.2mm;
}

.signatures._left {
    float: left;
    width: 33%;
}

.signatures._middle {
    float: left;
    width: 33%;
}

.signatures._right {
    float: right;
    width: 33%;
}

.signatures span{
    display: block;
}

.signatures span:first-child{
    margin-bottom: 13.2mm;
}

.signatures span:last-child{
    margin-top: 2.6mm;
}

.note{
    margin-top: 7.9mm;
    line-height: 1.4;
    font-size: 3.2mm;
}

.note span{
    font-weight: bold;
    margin-bottom: 2.6mm;
}

footer{
    text-align: center;
    padding-top: 2.6mm;
    border-top: 0.3mm solid #666;
    font-size: 2.6mm;
    line-height: 1.3;
}

footer p{
    color: #494848;
}

footer .page-number {
    position: absolute;
    right: 0;
    font-size: 4mm;
}