
.sima-addressbook {
    td, th, div, p, h3, select, input, textarea, a { font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif; }
    .addressbook-header {
        display: flex;
        overflow: hidden;
        align-items: center;
        width: calc(100% - 20px);
        margin: 10px auto 15px auto;
        justify-content: flex-start;
        input::placeholder { color: #ccc; }
        h2 { 
            margin: 0;
            font-weight: 500;
            margin-right: 15px;
        }
        > div { 
            margin: 0 5px;
            &:last-of-type { margin-right: 0; } 
        }
        .search-field {
            margin: 0;
            width: 100%;
            height: 30px;
            margin-right: 5px;
            position: relative;
            display: inline-flex;
            box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
            input.addressbook-search-input {
                height: 28px;
                border-radius: 2px;
                padding: 0 0 0 30px;
                width: calc(100% - 30px);
                border: 1px solid #7fbeff;
            }
            .input-icon {
                width: 30px;
                height: 30px;
                display: flex;
                cursor: default;
                font-size: 16px;
                position: absolute;
                align-items: center;
                justify-content: center;
                &.clear-search { 
                    right: 0;
                    cursor: pointer;
                }/* end clear-search */
            }/* end input-icon */
        }/* end search-field */
    }/* end addressbook-header */
    .addressbook-body {
        .vue-tabs {
            box-shadow: none;
            overflow: visible;
        }
        .sima-ui-resizable-separator {
            background: transparent !important;
            border-right: 1px dashed #ddd !important;
        }
        .addressbook-companies, .addressbook-persons {
            .nav-tabs-navigation, .tab-content { margin: 0 10px; }
            .nav-tabs-navigation {
                overflow: hidden;
                background: #eee;
                border: 1px solid #ddd;
                border-bottom: none;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                .nav-tabs-wrapper {            
                    ul {
                        border-bottom: none;
                        display: inline-flex;
                        li {
                            height: 30px;
                            display: flex;
                            white-space: nowrap;
                            align-items: center;
                            margin-bottom: -1px;
                            a {
                                padding: 0;
                                height: 100%;
                                display: flex;
                                padding: 0 10px;
                                border-radius: 0;
                                align-items: center;
                                &.active_tab {
                                    color: #0079d3;
                                    border-color: white;                         
                                } /* end active_tab */                      
                            }/* end a */
                            &:first-of-type a.active_tab {border-left-color: transparent; }
                            &:hover a { color: #0079d3; }
                        }/* end li */
                    }/* end ul */
                }/* end nav-tabs-wrapper */
            }/* end nav-tabs-navigation */
            .tab-content {
                border: 1px solid #ddd;
                border-top: none;
                height: calc(100% - 97px);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                .tab-container {
                    height: 100%;
                    .perfect-scrollbar { height: 100%; }
                    .partner-card {
                        display: flex;
                        padding: 5px 10px;
                        position: relative;
                        align-items: center;
                        border-bottom: 1px solid #eee;
                        &:hover {
                            background-color: #f9f9f9;
                            .partner-maincontent .partner-bottombar .main-info .sima-icon:not(.sir-info-circle) { 
                                opacity: 1;
                                color: #0079d3;
                                & + i { 
                                    opacity: 1;
                                    color: #0079d3;
                                } 
                            }
                        }
                        &:last-of-type { border-bottom: none; }
                        .sima-model-display-icon { 
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;
                        }/* end sima-model-display-icon */
                        .partner-maincontent {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .partner-topbar, .partner-bottombar {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }/* end partner-topbar, and partner-bottombar */
                            .partner-topbar {
                                .name-and-list {
                                    color: #2e3d4c;
                                    font-weight: 500;
                                    span { font-weight: 300; }
                                }/* end name-and-list */
                            }/* end .partner-topbar */
                            .partner-bottombar {
                                .main-info {
                                    display: flex;
                                    align-items: center;
                                    i { 
                                        margin-left: 5px;
                                        font-style: normal;
                                    }/* end i */
                                    .sima-icon { 
                                        color: #666;
                                        cursor: default;
                                        opacity: 0.2;
                                        & + i { opacity: 0.2; }
                                        &.sir-info-circle { 
                                            opacity: 0;
                                            & + i { opacity: 0; }
                                        }
                                    }/* end sima-icon */
                                    &:hover {
                                        cursor: pointer;
                                        .sima-icon { color: #000; & + i { color: #000; } }
                                    }
                                    &:before {
                                        content: 'Kopirano!';
                                        color: #fff;
                                        padding: 0px 3px;
                                        border-radius: 2px;
                                        visibility: hidden;
                                        position: absolute;
                                        background: #0079d3;
                                        transform: translateY(0px);
                                        transition: transform 0.3s;
                                        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
                                    }/* end before */
                                    &.clicked {
                                        &:before {
                                            visibility: visible;
                                            transform: translateY(-18px);
                                            transition: transform 0.3s;
                                        }
                                        .sima-icon:not(.sir-info-circle) { opacity: 1; color: #000; & + i  {opacity: 1; color: #000;} }
                                    }
                                }/* end main-info */
                                .all-info {
                                    cursor: default;
                                    margin-right: -5px;
                                    .sima-icon { 
                                        color: #666;
                                        padding: 5px;
                                        font-size: 14px;
                                        &:hover { color: #000; }
                                        &.no-info {
                                            opacity: 0.2;
                                            cursor: default;
                                        }/* end no-info */
                                        &.sir-star { display: none; }
                                    }/* end sima-icon */
                                }/* end all-info */
                            }/* end partner-bottombar */
                        }/* end partner-maincontent */
                    }
                }
                .btn-vue-tabs {
                    top: 0px;
                    width: 30px;
                    height: 30px;
                    z-index: 15;
                    display: flex;
                    color: #2e3d4c;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid #ddd;
                    background: rgba(238, 238, 238, 0.8);
                    &:hover { background: rgba(255, 255, 255, 0.8); }
                    &.sima-vue-tabs-left-scroll {
                        left: 10px;
                        border-top-left-radius: 5px;
                        border-left: 1px solid #ddd;
                        display: none;
                    }/* end left btn */
                    &.sima-vue-tabs-right-scroll {
                        right: 10px;
                        border-top-right-radius: 5px;
                        border-right: 1px solid #ddd;
                    }/* end right btn */
                }/* end btn-square */
            }/* end tab-content */
        }/* end addressbook-companies */
    }/* end addressbook-table */
}/* end sima-addressbook */


