.sima-b-info {
        display: block;
        width: 100%;
        /*float: left;*/
        /*background-color: #f5f5f5;*/    /* verzija bez bordera */
        border-top: 1px solid #333333;
        padding: 10px;
        
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .sima-b-info.sima-layout-panel {
        overflow: visible !important;
    }
    .sima-basic-info-wrapper.sima-layout-panel {
        overflow: visible !important;
    }
    .sima-addressbook-results-list.sima-layout-panel {
        overflow: auto !important;
    }
    .sima-b-info-header-name {
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        float: left;
        line-height: 24px;
    }
    
    .sima-b-info-header-lists {
        color:#666666; 
        font-size: 10px; 
        text-transform: uppercase; 
        display:inline-block;
        padding: 0px 4px; 
        background:#e4e4e4;
    }
    
    .sima-b-info-clear-fix {
        display: block;
        clear: both;
        height: 1px;
        width: 100%;
    }
    .sima-b-info-options {
        float: right;
        margin: 0 0 10px 0;
    }
    .sima-b-info-photo {
        display: inline-block;
        cursor: default;
        /*min-width: 280px;*/
        /*float: left;*/
        width: 70px;
        height: 90px;
        /*border: 1px solid #e3e3e3;*/     /* verzija bez bordera */
        background-color: #fff;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
/*    div.sima-b-info-photo._full-width {
        min-width: 280px;
    }*/
    div.sima-repacker-photo._full-width {
        min-width: 280px;
    }
    .sima-b-info-data-wrapper-short {
        width: calc(100% - 80px);
        height: 90px;
        float: right;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        line-height: 24px;
    }
    .sima-b-info-data-wrapper-short._narrow {
        float: left;
        width: 100%;
/*        height: 90px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        line-height: 24px;*/
    }
    
    .sima-b-info-data {
        display: inline-block;
        height: 100%;
        width: calc(50% - 5px);
        float: left;
        /*background-color: #fff;*/           /* verzija bez bordera */
        min-width: 280px;
    }
    .sima-b-info-data:nth-child(2) {
        margin: 0 0 0 10px;
    }
    .sima-b-info-data-row {
        position: relative;
        display: inline-block;
        width: calc(100% - 24px);
        height: 30px;
        padding: 0 0 0 10px;
        margin: 0;
        float: left;
        /*background-color: #fff;*/            /* verzija bez bordera */
        border-bottom: 1px solid #e3e3e3;
        border-right: none;
        /*border-left: 1px solid #e3e3e3;*/    /* verzija bez bordera */
        text-align: left;
        line-height: 30px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        /*text-indent: 60px;*/
    }
    .sima-b-info-data-row:first-child {
        /*border-top: 1px solid #e3e3e3;*/ /* verzija bez bordera */
    }
    .sima-b-info-data-row._last-row{
        border-bottom: none;               /* verzija bez bordera */
    }
    .sima-b-info-data-expand-btn {
        width: 24px;
        display: inline-block;
        /*background-color: #e0e0e0;*/    /* verzija bez bordera */
        margin: 0;
        padding: 0;
        height: 100%;
        min-height: 90px;
        text-align: center;
        vertical-align: middle;
        /*border: 1px solid #aaa;*/         /* verzija bez bordera */
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        cursor: pointer;
        box-shadow: -2px 0px 5px #B0B0B0; /*d5d9df*/
    }
    
    div.addressbook_companies_list .sima-model-view:nth-child(even){
        background-color:#E8F0FF; /* moj predlog #ecf1fa*/
    }
    
    div.addressbook_companies_list .sima-model-view:nth-child(odd){
        background-color:#ffffff;
    }
    
    div.addressbook_persons_list .sima-model-view:nth-child(even){
        background-color:#f3edee;
    }
    
    div.addressbook_persons_list .sima-model-view:nth-child(odd){
        background-color:#ffffff;
    }
    .sima-addressbook-subheader-add-button{
        display: block;
        float: left;
        margin-top: 4px;
        margin-left: 3px;
    }
    .sima-b-info-data-expand-btn:hover {
        border: 1px solid #000;
    }
    .sima-b-info-data-expand-btn:active {
        background-color: #fff;
    }
    .sima-b-info-data-row.sima-icon._pib,
    .sima-b-info-data-row.sima-icon._jmbg {
        background-position: 10px center;
    }
    .sima-b-info-icons-text-bold._pdv-yes {
        color: #46A662;
        font-weight: 900;
    }
    .sima-b-info-icons-text-bold._pdv-no {
        color: #C94F55;
    }
    .sima-b-info-icons-text-bold{
        font-weight: 900;
        float: left;
        margin-right: 20px;
        font-size: 12px;
        color: #929292;
    }
    .sima-b-info-bank-logo {
        width: 18px;
        height: 23px;
        float: left;
        display: block;
        margin: 5px 0 0 10px;
        padding: 0;
    }
    .sima-b-info-bank-logo:first-child {
        margin-left: 0;
    }
    .sima-b-info-data-row.sima-icon._address._18,
    .sima-b-info-data-row.sima-icon._phone._18,
    .sima-b-info-data-row.sima-icon._email._18 {
        background-position: 10px center;
        text-indent: 27px;
    }
    .sima-b-info-photo.sima-icon._no-logo {
        background-size: cover;
        opacity: 1;
    }
    .sima-b-info-data-row-option.sima-old-btn-group {
        height: 30px;
        /*width: 60px;*/
        position: absolute;
        top: -1px;
        right: 0;
        z-index: 10;
        text-indent: 0;
        display: none;
    }
    .sima-b-info-data-row-option.sima-old-btn-group .sima-old-btn {
        width: 28px;
        height: 28px;
    }
    .sima-b-info-data-row:hover>.sima-b-info-data-row-option.sima-old-btn-group {
        display: block;
    }
    .sima-b-info-data-wrapper-expanded {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #BDCCF0;
        float: left;
    }
    .sima-b-info-data-wrapper-expanded .sima-b-info-data-expand-btn {
        height: 100%;
    }
/*    .sima-b-info-photo._full-width {
        width: 100%;
        margin-bottom: 10px;
    }*/
.sima-repacker-photo._full-width {
    width: 100%;
    margin-bottom: 10px;
}
/*    .sima-b-info-data-wrapper-short._full-width,
    .sima-b-info-data._full-width {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .sima-b-info-data-wrapper-short._full-width:last-child,
    .sima-b-info-data._full-width:last-child {
        margin: 0;
    }
    .sima-b-info-data-wrapper-short._full-width {
        float: left;
        display: block;
        width: 100%;
        height: 100%;
    }*/
.sima-repacker-data-wrapper-short._full-width,
    .sima-repacker-data._full-width {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .sima-repacker-data-wrapper-short._full-width:last-child,
    .sima-repacker-data._full-width:last-child {
        margin: 0;
    }
    .sima-repacker-data-wrapper-short._full-width {
        float: left;
        display: block;
        width: 100%;
        height: 100%;
    }
    .sima-b-info-data-row:hover {
        background-color: #e0e0e0;
    }
    
    .sima_addressbook_colapsed_bussines {
        display: none;
    }
    
    .sima-addressbook-search-width {
        width: 500px;
        height: 24px;
    }
    
    .sima-bi-name-font-size {
        font-size: 18px;
    }
    
    .sima-b-info-header {
        border: none;
    }
    
    .sima-b-info-data-row {
        min-width: 250px;
    }
    
    .sima-b-info-value {
        min-width: 150px;
        /*text-indent: 30px;*/
    }
    
    .sima-b-info-label {
        text-indent: 30px;
        display: inline-block;
        vertical-align: middle;
        color: #929292;
        min-width: 70px;
    }
    .sima-b-info-label-banks{
        min-width: 70px;
        padding-left: 10px;
        display: block;
        float: left;
    }
    .sima-b-info-label.sima-b-info-label-long{
        min-width: 100px;
    }
    .sima-b-info-value, .sima-b-info-text-icon {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*width: 250px;*/
        display: inline-block;
        vertical-align: middle;
    }
    
    .sima-b-info-text-indent {
        text-indent: 12px;
    }
    
    .sima-b-info-icon-indent {
        text-indent: 5px;
    }
    
    .sima-b-info-icons {
        display: inline-block;
        vertical-align: middle;
    }
    
    .sima-b-info-additional-icons {
        display: block;
        vertical-align: middle;
        float: left;
        padding-top: 3px;
    }
    
    .sima-b-info-image-icon {
        width: 18px; 
        display: block;
        float: left;
        /*vertical-align: middle;*/
        /*padding-right: 10px;*/
    }
    
    .sima-b-info-value.sima-b-info-text-empty {
        width:0;
        min-width: 0;
        display: inline-block;
        vertical-align: middle;
    }
    
    .sima-b-info-label._small-indent{
        text-indent: 0px;
    }
    
    .sima-b-info-additional-icons._small-indent{
        text-indent: 12px;
    }
    
    .sima-b-info-value._small-indent {
        text-indent: 15px;
    }
    
    .sima-icon._jmbg {
        width: 40px;
    }
    
    .sima-b-info-icons._wide {
        width: 40px;
    }
    
    .sima-b-info-header {
        display: block;
        width: 100%;
        float: left;
    }
    
    .sima-old-btn.sima-b-info-btn-copy{
        min-width: 30px; 
        display: inline-block;
        vertical-align: middle;
    }
    
    .sima-b-info-icons-single {
        display: inline-block;
        vertical-align: middle;
    }
    
    .sima-addressbook-widget .sima-page-title-nav {
        width: 80%;
    }

    .sima-addressbook-widget .sima-page-title-name {
        width: 20%;
    }
    
    .sima-addressbook-widget .sima-ui-filter .sima-old-btn {
        height: 22px;
    }

/*    .sima-addressbook-widget .sima-ui-filter .sima-old-btn._half {
        padding:1px 1px; 
    }*/

    .sima-addressbook-widget .sima-ui-filter .sima-icon {
        height: 20px;
    }
    
    .sima-addressbook-widget .sima-ui-filter-more-opt {
        vertical-align: top;
    }
    
    .sima-b-info-bank-account {
        float: left; 
        text-indent: 0; 
        display: none;
    }
    
    .sima-b-info-display-none {
        display: none;
    }
    
    .sima-b-info-icons-text {
        font-size:14px; 
        font-family: arial;
        color: #929292;
    }
    
    .sima-b-info-work_contracts {
        min-height:30px;
    }
    
    .sima-b-info-button-group {
        text-indent:0;
    }
    
    .sima-addressbook-main-header-companies, .sima-addressbook-main-header-persons{
        overflow: auto; 
        padding-left: 18px; 
        padding-top: 5px; 
        /*padding-bottom: 10px;*/ 
        font-size: 12px;
        width: 140px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        float: left;
        height: 25px;
    }
    
/*    padding-left: 18px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-size: 12px; 
    background-color: #e0e0e0;*/
    
    .sima-addressbook-subheader {
        overflow: auto; 
        padding-left: 3px; 
        padding-top: 3px; 
        padding-bottom: 3px;
        float: left;
    }
    
    .sima-b-info-header-name-compnaies{
        color: #384D84;
    }
    
    .sima-addressbook-widget .sima-page-content{
        box-shadow: none;
    }
    
    .sima-addressbook-subheader-caption{
        font-size: 14px;
    }
    
    ._sima-addr-button-no-border{
        border: none;
        min-width: 24px;
        padding: 0;
        background-color: #f8f8f8;
    }
    
    .sima-addressbook-main-header-companies{
        background-color: #384D84;
        color: white;
    }
    
    .sima-addressbook-main-header-companies ._sima-addr-button-no-border{
        background-color: #384D84;
        color: white;
    }
    
    .sima-addressbook-main-header-persons{
        background-color: #904B5E;
        color: white;
    }
    
    .sima-addressbook-main-header-persons ._sima-addr-button-no-border{
        background-color: #904B5E;
        color: white;
    }
    
    .sima-b-info-header-name-person{
        color: #904B5E;
    }
    
    ._sima-addr-button-no-border:hover{
        border: none;
        width: 24px;
    }
    
    .sima-b-info-icons-text-bold._black{
        color: black;
    }
    
    .sima-b-info-label._black{
        color: black;
    }
    .sima-addressbook-footer {
        overflow: auto; 
        padding-left: 5px; 
        padding-top: 5px; 
        padding-bottom: 5px; 
        text-align: center;
    }
    
    .sima-addressbook-capital-letters {
        text-transform: uppercase;
    }
    
    .sima-b-info-company-banks-indent {
        text-indent: 20px;
        height: 30px;
    }
    
    .sima-b-info-text-indent.sima-b-info-pib {
        text-indent: 50px;
    }
    .sima-b-info-data-row.sima-icon._black._pdv, 
    .sima-b-info-icons.sima-icon._address._black._18, 
    .sima-b-info-icons.sima-icon._phone._black._18,
    .sima-b-info-icons.sima-icon._email._black._18, 
    .sima-b-info-additional-icons.sima-icon._phone._black._18, 
    .sima-b-info-additional-icons.sima-icon.sima-b-info-text-icon._email._black._18, 
    .sima-b-info-icons.sima-icon._dealing-code._black._18,
    .sima-b-info-icons.sima-icon._mb._black._18, 
    .sima-b-info-icons.sima-icon._comment._black._18, 
    .sima-b-info-icons.sima-icon._info._black._18, 
    .sima-b-info-icons.sima-icon._nickname._black._18, 
    .sima-b-info-icons.sima-icon._birthday._black._18,
    .sima-b-info-icons.sima-icon._company._black._18,
    .sima-b-info-icons.sima-icon._licence._black._18,
    .sima-b-info-icons.sima-icon._education._black._18,
    .sima-b-info-icons.sima-icon._proffesion._black._18,
    .sima-b-info-icons.sima-icon._applied-for._black._18{
        cursor: default;
    }
    