.sima-old-btn {
    position: relative;
    display: inline-block;
    min-width: 26px;
    height: 22px;
    background-color: #e0e0e0;
    border: 1px solid #aaa;
    color: #000;
    font-size: 12px !important;
    text-align: center;
    padding: 0 10px;
    margin: 0;
    outline: none;
    cursor: pointer;    
    white-space: nowrap;
}

.sima-old-btn._pressed {
   background-color: #aaa; 
}

.sima-old-btn:hover {
    border: 1px solid #000;
}

.sima-old-btn._disabled, .sima-old-btn._autodisabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}

.sima-old-btn._hidden {
    display: none;
}

.sima-old-btn:active {
    background-color: #fff;
    outline: none;
}

.sima-old-btn._full {
    min-width: 48px;
}

.sima-old-btn._half {
    min-width: 10px;
    padding: 0 5px;
}

.sima-old-btn._table-btn {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 0;
    box-shadow: none;
    border-right: 1px solid #aaa;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #fff;
}

.sima-old-btn._table-btn:hover {
    background-color: #E0E0E0;
}

.sima-old-btn._w100 {
    width: 100%;
}

.sima-old-btn._c2a {
    background-color: #395e8e;
    color: #fff;
    border: none;
}

.sima-old-btn._c2a:hover,
.sima-old-btn._c2a:focus {
    background-color: #294c79;
    border: none;
}

.sima-old-btn._c2a:active {
    background-color: #294c79;
    outline: none;
}

.sima-old-btn._not-clickable input[type="checkbox"] {
    margin-top: 5px;
}

.sima-old-btn._not-clickable:hover,
.sima-old-btn._not-clickable:focus {
    box-shadow: none;
    cursor: default;
}

select.sima-dropdown-list:hover {
    border: 1px solid #000;
}

.sima-old-btn._not-clickable.sima-search-input-box:active {
    background-color: #e0e0e0;
}

.sima-old-btn._search._half.sima-search-input-box-btn:active {
    background-color: #fff;
}

.sima-old-btn-icon {
    position: relative;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    vertical-align: baseline;
}

.sima-old-btn-title {
    position: relative;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    vertical-align: baseline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.sima-old-btn .sima-old-btn._dropdown {
    position: relative;
    display: inline-block;
    right: -10px;
    height: 22px;
    line-height: 22px;
    vertical-align: baseline;
    border: none;
    border-left: 1px solid transparent;
}

.sima-old-btn._half .sima-old-btn._dropdown {
    right: -5px;
}

.sima-old-btn._dropdown {
}

.sima-old-btn._dropdown:hover {
}

.sima-old-btn._dropdown:after {
    content:"";
    background: #aaa;
    position: absolute;
    bottom: 15%;
    top: 15%;
    left: 0;
    height: 70%;
    width: 1px;
}

.sima-old-btn._dropdown:hover:after {
    content:"";
    background: #000;
    position: absolute;
    bottom: 15%;
    top: 15%;
    left: 0;
    height: 70%;
    width: 1px;
}

.sima-old-btn .sima-old-btn._dropdown:active {
    background-color: #fff;
}

.btn-dropdown-box {
    position: absolute;
    z-index: 95;
    display: none;
    background-color: #fff;
    color: #404040;
    padding: 5px 0;
    box-shadow: 0 0 1px #aaa, 0 3px 5px 0px rgba(80,80,80,0.20);
    -webkit-box-shadow: 0 0 1px #aaa, 0 3px 5px 0px rgba(80,80,80,0.20);
    -moz-box-shadow: 0 0 1px #aaa, 0 3px 5px 0px rgba(80,80,80,0.20);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap;    
}

.btn-dropdown-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-dropdown-box ul li {
    position: relative;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
}

.btn-dropdown-box ul li:hover {
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 0 1px #000;
    -webkit-box-shadow: 0 0 0 1px #000;
    -moz-box-shadow: 0 0 0 1px #000;
}

.btn-dropdown-box._horizontal {
    height: 24px;
    margin: 0;
    padding: 0;
}

.btn-dropdown-box._horizontal ul {
    margin: 0;
    padding: 0;
}

.btn-dropdown-box._horizontal ul li {
    width: auto;
    height: 24px;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}

.btn-dropdown-box._horizontal ul li .sima-old-btn-icon {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn-dropdown-box._horizontal ul li:first-child {
    border-right: none;
}

.btn-dropdown-box._horizontal ul li:last-child {
    border-left: none;
}

.btn-dropdown-box._horizontal ul li:hover {
    
}

.btn-dropdown-box._horizontal ul li:active {
    background-color: #fff;
}

.btn-dropdown-box._horizontal._30 {
    height: 30px;
}

.btn-dropdown-box._horizontal._30 ul li {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.btn-dropdown-box._horizontal._30 ul li .sima-old-btn-icon {
    height: 30px;
    width: 30px;
}

.btn-dropdown-box._vertical {
    min-width: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn-dropdown-box._vertical ul {
    margin: 0;
    padding: 0;
}

.btn-dropdown-box._vertical ul li {
    min-width: 24px;
    height: 24px;
    display: block;
    margin: 0;
    padding: 0 10px;
    line-height: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn-dropdown-box._vertical ul li .sima-old-btn-icon {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
}

.btn-dropdown-box._vertical._30 {
    min-width: 30px;
}

.btn-dropdown-box._vertical._30 ul li {
    min-width: 30px;
    height: 30px;
    line-height: 30px;
}

.btn-dropdown-box._vertical._30 ul li .sima-old-btn-icon {
    height: 30px;
    width: 30px;
}

.btn-dropdown-box._vertical ul li:first-child {
    border-bottom: none;
}

.btn-dropdown-box._vertical ul li:last-child {
    border-top: none;
}

.btn-dropdown-box._vertical ul li:hover {
    box-shadow: 0 0 0 1px #000;
    -webkit-box-shadow: 0 0 0 1px #000;
    -moz-box-shadow: 0 0 0 1px #000;
}

.btn-dropdown-box._vertical ul li:active {
    background-color: #fff;
}

/*.btn-dropdown-box._bottom._vertical .sima-old-btn._half._dropdown {
    box-shadow: 0 0 0 1px #aaa;
    -webkit-box-shadow: 0 0 0 1px #aaa;
    -moz-box-shadow: 0 0 0 1px #aaa;
}*/

.btn-dropdown-box._bottom._vertical .sima-old-btn._half._dropdown:hover {
}

.btn-dropdown-box ul li .sima-old-btn._half {    
    right: -10px;
    border: none;
    background-color: transparent;
}

.btn-dropdown-box._horizontal ul li .sima-old-btn._half
{
    right: 0px;
}

.btn-dropdown-box ul li .sima-old-btn._half:hover {
    background-color: #e0e0e0;
}

.btn-dropdown-box ul li .sima-old-btn._half:active {
    background-color: #fff;
}

.sima-old-btn._header_button
{
    border: none;
    height: 30px;
}

.sima-old-btn._header_button:hover {
    border: 1px solid #000;
}

.sima-old-btn._header_button .sima-old-btn._half._dropdown
{
    height: 28px;
    top: -2px;
}

.sima-old-btn._header_button .sima-old-btn-title
{
    height: 30px;
    line-height: 30px;
}

.sima-old-btn._header_button .sima-old-btn-icon
{
    height: 30px;
    line-height: 30px;
}

.sima-old-btn._float_left
{
    float: left;
}

.sima-old-btn._transparent_background
{
    background-color: transparent;
}

.sima-old-btn._no_hover_border:hover
{
    border: none;
}

.sima-old-btn._hover_background_e0e0e0:hover
{
    background-color: #e0e0e0;
    box-shadow: 0 0 0 1px #e0e0e0;
    -webkit-box-shadow: 0 0 0 1px #e0e0e0;
    -moz-box-shadow: 0 0 0 1px #e0e0e0;
}

.sima-old-btn._no_border
{
    border: none;
}

.sima-old-btn._hundred_percent_width_height
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}