.sima-span-with-info-box-info-box {
    display: none;
    position: absolute;
    min-width: 150px;
    min-height: 20px;
    max-height: 500px;
    overflow: auto;
    margin: 0 0 20px;
    padding: 3px;
    border: 1px solid #d8d8d8;
    background: #f9f9f9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 10px #888888;
    -webkit-box-shadow: 5px 5px 10px #888888;
    box-shadow: 5px 5px 10px #888888;
    z-index: 101;
}