.sima-tooltip {
    z-index: 110;
}

.sima-tooltip .sima-tooltip-inner {
    display: block;
    background: rgba(0, 68, 153, .9);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
    max-width: 500px;
    word-break: break-word;
}

.sima-tooltip .sima-tooltip-arrow {
    border-color: rgba(0, 68, 153, .9);
}
