
.theme-tab-building-site-diaries {
    
}

.theme-tab-building-site-diaries .sima-old-btn {
    display: inline-flex;
}

.theme-tab-building-site-diaries-top {
    display: flex;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.theme-tab-building-site-diaries-calendar {
    width: 400px;
    height: 269px;
}

.theme-tab-building-site-diaries-list {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.theme-tab-building-site-diaries-list-header {
    
}

.theme-tab-building-site-diaries-list-body {
    flex-grow: 1;
    margin-top: 5px;
    overflow: auto;
    max-height: 225px;
}

.theme-tab-building-site-diaries-diary {
    padding: 10px 0px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.theme-tab-building-site-diaries-diary._selected {
    background-color: #DCDCDC;
}

.theme-tab-building-site-diaries-diary:hover {
    cursor: pointer;
    background-color: #F0F0F0;
}

.theme-tab-building-site-diaries-diary > * {
    margin-right: 5px;
}

.theme-tab-building-site-diaries-bottom {
    
}