
.theme-tab-building-site-diary {
    
}

.theme-tab-building-site-diary-left-side {
    padding: 10px;
}

.theme-tab-building-site-diary-work-hour {
    padding-left: 10px;
    padding-bottom: 10px;
}

.theme-tab-building-site-diary-work-hour-name {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.theme-tab-building-site-diary-work-hour-name > * {
    margin-right: 5px;
}

.theme-tab-building-site-diary-work-hour-name > i:hover {
    cursor: pointer;
}

.theme-tab-building-site-diary-work-hour-desc {
    padding-left: 10px;
}

.theme-tab-building-site-diary-work-hour-desc-short {
    display: flex;
    align-items: center;
}

.theme-tab-building-site-diary-work-hour-desc-short > * {
    margin-right: 8px;
}

.theme-tab-building-site-diary-work-hour-desc-long {
    display: flex;
    flex-direction: row;
}

.theme-tab-building-site-diary-work-hour-desc-long-workers {
    flex-grow: 1;
    padding: 5px;
}

.theme-tab-building-site-diary-work-hour-desc-long-workers > div {
    margin-bottom: 5px;
}

.theme-tab-building-site-diary-work-hour-desc-long-worker-title {
    margin-top: 5px; 
    margin-bottom: 10px;
    font-size: 13px;
}

.theme-tab-building-site-diary-work-hour-desc-long-worker {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.theme-tab-building-site-diary-work-hour-desc-long-worker > * {
    margin-right: 5px;
}

.theme-tab-building-site-diary-work-hour-desc-long-worker > i:hover {
    cursor: pointer;
}

.theme-tab-building-site-diary-work-hour-desc-long-mechanizations {
    flex-grow: 1;
    padding: 5px;
}

.theme-tab-building-site-diary-work-hour-desc-long-mechanizations > div {
    margin-bottom: 5px;
}

.theme-tab-building-site-diary-work-hour-desc-long-mechanization {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.theme-tab-building-site-diary-work-hour-desc-long-mechanization > * {
    margin-right: 5px;
}

.theme-tab-building-site-diary-work-hour-desc-long-mechanization > i:hover {
    cursor: pointer;
}

.theme-tab-building-site-diary-work-hour-expand {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 2px;
}

.theme-tab-building-site-diary-work-hour-expand:hover {
    cursor: pointer;
}

.theme-tab-building-site-diary-right-side {
    
}

.theme-tab-building-site-diary-work-description-wrap {
    padding: 10px;
}

.theme-tab-building-site-diary-work-description {
    
}

.theme-tab-building-site-diary-work-description-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.theme-tab-building-site-diary-work-description-header > * {
    margin-right: 5px;
}

.theme-tab-building-site-diary-work-description-header-title {
    font-size: 14px;
    font-weight: bold;
}

.theme-tab-building-site-diary-remarks-wrap {
    padding: 10px;
}

.theme-tab-building-site-diary-remarks {
    
}

.theme-tab-building-site-diary-remarks-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.theme-tab-building-site-diary-remarks-header > * {
    margin-right: 5px;
}

.theme-tab-building-site-diary-remarks-header-title {
    font-size: 14px;
    font-weight: bold;
}