@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 277mm;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong{
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size:3.5mm;
}

header{
    padding-bottom:4.8mm;
    width:100%;
    overflow:hidden;
    position:relative;
    border-bottom: 0.5mm solid #363a45;
    display: flex;
}

header img{
    margin-right:7.9mm;
    float:left;
    width: 16mm;
    height: 16mm;
}

header .content{
    float:left;
    position:relative;
    width:160mm;
    height: 16.4mm;
    padding-left:2.6mm;
    border-left: 0.3mm solid #888;	
}

header .content ul{
    position:absolute;
    bottom:0;
}

header .content ul li{
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

header .content ul li span{
    font-weight:700;
}

.main .title{
    text-align:center;
    margin-top: 19.84mm;
}

.main .title{
    margin-top: 2.645mm;
    overflow: hidden;
}

.main .title h1{
    font-size:5.291mm;
    font-weight:bold;
    width: 50%;
    float: left;
    text-align: left;
}


.main .title p{
    font-weight: normal;
    font-size:3.704mm;
}

.main .title .title-td{
    border-bottom: 0.3mm solid #000; 
    font-size:3.704mm; 
    text-align: left;
    padding-top: 2.6mm;
}

.main .content{
    margin-top: 5.291666667mm;
}

/* TABLE */
#table {
    border-collapse: collapse;
    width: 100%;
    margin-top:5.291mm;
    font-size:2.645mm;
    margin-bottom: 5.291mm;
}

#table tr th{
    text-align: center;
}

#table td:nth-child(1){
    text-align: left;
}

#table td:nth-child(2){
    text-align: right;
}

#table td, #table th{
    border: 0.264mm solid #fff;
    padding: 1.3225mm;
    /*text-align: center;*/
    vertical-align: middle;
}

#table tr:nth-child(even){
    background-color: #d0d0d0;
}

#table th{
    font-weight: bold;
    text-align: left;
    background-color: #363a45;
    color: white;
}

#table tr:last-child{
    background-color: #fff;
    font-weight: bold;
}

.letter{
    font-size: 3.175mm;
    width:100%;
}

.letter tr td:first-child{ width: 9%; }
.letter tr td:last-child{ padding-bottom: 0.264mm; border-bottom: 0.264mm solid #000;}

.bill{
    font-size: 3.175mm;
    width:100%;
}

.bill tr td:first-child{ width: 15%; }
.bill tr td:last-child{ padding-bottom: 0.264mm; border-bottom: 0.264mm solid #000;}

.clear{clear: both;}

.signatures{
    position: relative;
    float: left;
    width: 45%;
    margin: 0 3.968mm 6.614mm 3.968mm;
    text-align: center;
    margin-top: 19.84mm;
    font-size: 3.175mm;
}

.signatures span{
    display: block;
}

.signatures span:first-child{
    margin-bottom: 13.229mm;
}

.signatures span:last-child{
    margin-top: 2.645mm;
}

footer{
    text-align: center;
    padding-top: 2.645mm;
    border-top: 0.264mm solid #666;
    font-size: 2.645mm;
    position: absolute;
    bottom: 5.2916mm;
    line-height: 1.3;
    left: 10.583mm;
    right: 10.583mm;
}

footer p{
    color: #494848;

}