
.sima-multi-sf {
    box-sizing: border-box;
    min-width: 200px;    
}

.sima-multi-sf .sima-multi-sf-value-input {
    display: none;
}

.sima-multi-sf .sima-multi-sf-display-wrapper {    
    -moz-appearance: field;
    -webkit-appearance: field;
    background-color: #F6F6F6;    
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);  
    font: -moz-field;
    font: -webkit-small-control;
    padding: 2px 3px;
    width: 100%;
}

.sima-multi-sf .sima-multi-sf-display-list {
    display: inline-block;
    width: 100%;
}

.sima-multi-sf .sima-multi-sf-display-list .list-item {
    background-color: #C0C0C0;
    border-color: #a5d24a;
    color: #F0F0F0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: inline-block;
    font-size: 13px;    
    margin: 2px;
    padding: 2px 4px;
    text-decoration: none;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
}

.sima-multi-sf .sima-multi-sf-display-list .list-item .name {
    
}

.sima-multi-sf .sima-multi-sf-display-list .list-item .remove {
    color: #F0F0F0;
    font-weight: bold;
    margin-left: 4px;    
}

.sima-multi-sf .sima-multi-sf-display-list .list-item .remove:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sima-multi-sf .sima-multi-sf-display-input {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: #F6F6F6;
    font-size: 1em;
    width: 100%;
    height: 20px;
    padding: 1px;
    margin: 1px;    
}

.sima-multi-sf .sima-multi-sf-display-input::-webkit-input-placeholder {
    font-size: 12px;
}
 
.sima-multi-sf .sima-multi-sf-display-input:-moz-placeholder {
    font-size: 12px;
}
 
.sima-multi-sf .sima-multi-sf-display-input::-moz-placeholder {
    font-size: 12px;
}
 
.sima-multi-sf .sima-multi-sf-display-input:-ms-input-placeholder {  
    font-size: 12px;
}

.sima-multi-sf-result {
    display: none;
    position: absolute;
    background-color: #F6F6F6;
    z-index: 95;    
    border-radius:5px;
    padding: 10px;
    color: black;    
    max-height: 500px;  
    outline: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    top: 2px;
    overflow: hidden;
}