
.accounting_file_tab_bill_releasing_advance_releasing {
    background: #f6f6f6;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #34a853;
    align-items: center;
    min-height: 27px;
    display: flex;
    text-align: center;
    position: relative;
    .expand_this {
        .amount_vat:hover {
            background: #95cfa6;
            box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
            border-right: 5px solid #95cfa6;
        }/* end amount_vat */
        .sima-icon {
            color: #34a853;
        }/* end sima-icon */
    } /* end expand_this */
    &:hover, &._selected {
        background: #95cfa6;
        border-color: #95cfa6;
        border-left-color: #34a853;
        transition: 0.25s;
        .percent:after {
            color: black;
        }/* end percent:after */
        .sima-icon {
            color: black;
        }/* end sima-icon */
    }/* end &:hover */
    .div_options {
        right: initial;
        .sima-btn {
            margin:0 5px 0 0;
        }
    }/* end div_options */
}/* end accounting_file_tab_bill_releasing_advance_releasing */
