@CHARSET "UTF-8";

.sima-tree-vue ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.sima-tree-vue-item-wrap:hover {
    cursor: pointer;
}

.sima-tree-vue-item._selected > .sima-tree-vue-item-wrap {
    background-color: #D3D3D3;
}

.sima-tree-vue-item-wrap > * {
    display: inline-block;
    vertical-align: middle;
}