
.sima-upload-wrapper
{
    position:relative;
    display: inline-block;
    width: 280px;
    
    border: 2px dotted #0b85a1;
    border-radius: 10px;
}

.sima-upload-wrapper:hover
{
    background-color: gray;
}

.sima-upload-input-container
{
    margin: 5px;
}

.sima-upload-input {
   filter: alpha(opacity=0);
   opacity: 0;
}

.sima-upload-file-info
{
    width: 240px;
    height: 16px;
    position: absolute;
    left: 40px;
    top: 5px;
}

.sima-upload-file-display
{
    overflow: hidden;
    width: 180px;
    max-height: 16px;
    line-height: inherit;
    display: inline-block;
    float: left;
}

.sima-upload-progress
{
    position: absolute;
    left: 40px;
    top: 20px;
}

.sima-upload-stop
{
    position: absolute;
    left: 250px;
    top: 12px;
}