.sima-svp-field .type-of-payer {
    max-width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.sima-svp-field .employment-code {
    height: auto; 
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.sima-svp-field .benefit {
    height: auto; 
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.sima-svp-field .benefited-work-experience {
    height: auto; 
    max-width: 35px;
    display: inline-block;
    vertical-align: middle;
}
.sima-svp-field .basic-income-type {
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
}
