
.accounting-overview_report ._number{
    text-align: right;
    padding-left: 10px;
    width: 140px;
}
.accounting-overview_report ._data_row{
    border-bottom: 1px solid lightgrey;
    margin: 1px 0px;
}

.accounting-overview_report ._data_row:hover{
    background-color: lightgray;
}

.accounting-overview_report ._sum_row{
    font-size: 1.2em;
    margin: 5px 0px;
    border-bottom: 1px solid gray;
}

.time_selector_table 
{
    height: 50px;
    font-size: 1.2em
}
.accounting-overview_report .time_selector_table .years span,
.accounting-overview_report .time_selector_table .months span
{
    padding: 3px 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}
.accounting-overview_report .time_selector_table .years span._selected,
.accounting-overview_report .time_selector_table .months span._selected
{
    background-color: lightgray;
}

.accounting-overview_report .time_selector_table .months._disabled
{
    opacity: 0.5;
}
