.application-company-full-info .header{
/*    padding: 10px;*/
    overflow: hidden;
}

.application-company-full-info .header-item{
/*    display: flex;*/
}

.application-company-full-info .header-item .item{
    display: flex;
}

.application-company-full-info .header-item .title {
    margin-right: 10px;
    padding: 10px;
    font-weight: bold;
}

.application-company-full-info .header-item .desc {
    padding: 10px;
}

.application-company-full-info .body {
    padding: 0 20px;
}

.application-company-full-info .body h3 {
    margin-bottom: 0;
}

.application-company-full-info .body .item .title{
    padding: 10px;
}

.application-company-full-info .body .item .desc{
    padding: 0px 10px;
    word-break: break-all;
}

.application-company-full-info .body .row {
    display: flex;
    flex-wrap: wrap;
}

.application-company-full-info .body .column {
    flex: 1;
    min-width: 300px;
}

.application-company-full-info .sima-layout-panel.right_panel { padding: 0 20px; }