.sima-old-btn._subaction {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: white;
    min-width: 24px;
    line-height: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    font-size: 12px;
    white-space: nowrap;
    color: #404040;
    border: none;
    clear: left;
}

.sima-old-btn._subaction:hover {
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 0 1px #000;
    -webkit-box-shadow: 0 0 0 1px #000;
    -moz-box-shadow: 0 0 0 1px #000;
    
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    border-right-style: none;
    border-right-width: 0px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px;
}

.sima-old-btn._subaction .sima-old-btn-icon {
    margin: 0;
    padding: 0;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.sima-old-btn._subaction .sima-old-btn._dropdown {
    right: 0px;
    background: transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAYAAABrXO8xAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AURCTMS8tYhXwAAAElJREFUOMvtkjEKwDAMA099uX6uLiW0idMhkC0CDbZ1g0FKwoouFnXAHSBJmgEDmdif7Hv4gT3k+kUBu8poVjlJfl5xeT9d3QDe3HBjvz293gcAAAAASUVORK5CYII=");
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    height: 24px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.btn-dropdown-box._vue {
    position: fixed;
}

.btn-dropdown-box._vertical > .sima-old-btn._subaction {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
}

.btn-dropdown-box._vertical > .sima-old-btn._subaction {
    padding-left: 10px;
    padding-right: 10px;
}
