/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2018, 12:16:59 AM
    Author     : jovan
*/

.text-orange {
    color:  #ffcc9a;
    margin-top: 10px;
    border-top: 12px solid #ffcc9a;
}
.font-extra-small{
    font-size: 8px;
}
.font-small {
    font-size: 11px;
}
.font-middle {
    font-size: 14px;
}
.content-center {
    /*height: 120mm;*/
}
td {
    padding: 3px;
    /*margin-bottom: 10px;*/
}
.bg-gray td {
    font-weight: bold;
}
tr {
    padding: 5px;
}
.main-tbl {
    width:100%;
}
.col-5 > tr td:first-child {
    width: 100px;
}
.col-5 tr td:nth-child(even){
    width: 20px;
    /*border: 2px blue solid;*/
}
.col-5 tr td:nth-child(2n+3){
    margin: 5px;
    width: 20%;
    background: white;
    /*border: 6px saddlebrown solid;*/
}
.font-bold {
    font-weight: bold;
}
.tbl-border {
    border: 2px black solid;
}
.bg-gray {
    background-color: #cccccc
}
tr{
    padding: 10px;
}
td{
    margin: 5px;
}
.white {
    background-color: white;
}
.orange {
    background-color: #ffcc9a;
}
.green {
    background-color: #ccffcc;
}
.tall-td {
    height: 33px;
}
.left-3{
    float: left;
    width: 33%;
    display: inline-block;
}
.left-30 {
    float:left;
    width: 25%;
}
.left-40 {
    float:left;
    width: 40%;
}
.left-half {
    float: left; width: 47%;
    height: 60px;
}
.right-half {
    float: right; 
    width: 47%;
    height: 60px;
    display:block;
}
.full-width {

}

text-center {
    text-align: center;
}