@CHARSET "UTF-8";

.sima-tree {
    
}

.sima-tree ul {
    list-style-type: none;
    padding: 0px 0px 0px 20px;
    margin: 0;
}

.sima-tree-options {
    
}

.sima-tree-options {
    
}

.sima-tree-list {
    
}

.sima-tree-list > ul {
    padding: 0px;
    margin: 0px;
}

.sima-tree {
    
}

.sima-tree-item {
    
}

.sima-tree-item-wrap {
    padding-left: 5px;
}

.sima-tree-item-wrap:hover {
    cursor: pointer;
    background-color: #DCDCDC !important;
}

.sima-tree-item._selected > .sima-tree-item-wrap {
    background-color: #D3D3D3;
}

.sima-tree-item-expand-icon {
    float: left;
}

.sima-tree-item-title {
    padding: 0px 5px;
}

.sima-tree-item-title-text {
    padding: 0px 5px;
    line-height: 16px;
}

.sima-tree-item-title-parts._before {
    float: left;
}

.sima-tree-item-title-parts._after {
    float: right;
}

.sima-tree-item-title-part {
    padding: 0px 5px;
}

.sima-tree-item-subtree-cnt {
    float: right;
    padding: 0px 5px;
}

.sima-tree-item-subtree {
    display: none;
}

.sima-tree-item-content-html {
    display: none;
}