.sima-ui-tabs2.sima-layout-panel {
    overflow: hidden;
}
.sima-ui-tabs2-nav{
    width: 100%;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 20px;
}
.sima-ui-tabs2-tab {
    float: left;
    background-color: #e0e0e0;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    box-shadow: inset 0 0 0 1px #aaa;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    height: 30px;    
    cursor: pointer;
}

.sima-ui-tabs2-tab ._selected_marker
{
    width: 100%;
    height: 5px;
    background-color: transparent;
}

.sima-ui-tabs2-tab ._title
{
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}

.sima-ui-tabs2-tab._selected {
    background-color: #fff;
    box-shadow: inset 0 5px 0 0 #000;    
    cursor: initial;
}

.sima-ui-tabs2-tab._selected ._selected_marker {
    background-color: black;
    display: block;
}

.sima-ui-tabs2-tab-content{
    display: none;
}

.sima-ui-tabs2-tab-content._selected{
    display: block;
    float: left;
    padding: 0;
}
