@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p{
    font-size:3.2mm;
}

b {
    font-weight: bold;
}

header{
    padding-bottom: 4.8mm !important;
    width: 100% !important;
    overflow: hidden;
    position: relative;
    border-bottom: 0.5mm solid #363a45 !important;
    display: flex;
}

header img{
    margin-right: 7.9mm;
    float: left;
    width: 16mm;
    height: 16mm;
}

header .header-column1 {
    width: 105mm !important;
    height: 16mm;
}

header .header-column2 {
    width: 55mm !important;
    height: 16mm;
}

header .content{
    float:left;
    position:relative;
    width:160mm;
    height: 16.4mm;
    padding-left:2.6mm;
    border-left: 0.3mm solid #888;	
}

header .content ul{
    position:absolute;
    bottom:0;
}

header .content ul li{
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

header .content ul li span{
    font-weight:700;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

strong{
    font-weight: bold;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

p{
    font-size: 3.7mm;
    line-height: 1.2;
}

.container{
    position: relative;
    height: 277mm;

}

.left, .right{
    font-size: 3.7mm;
}

.left{
    float: left;
}

.left tr td{
    padding-bottom: 2.6mm;
}

.left tr td:last-child{
    padding-left: 2.6mm;
}

.left tr td strong{
    font-weight: bold;
}

.right{
    float: right;
}

.main{
    padding-top: 5mm;
}
.main .title{
    clear: both;
    text-align: center;
    margin-top: 7.9mm;
}

.main .title h1{
    font-size: 5.3mm;
    font-weight: bold;
}

.main .title h1 span{
    margin-top: 1.3mm;
    display: block;
    font-weight: normal;
    font-size: 3.1mm;
}
.test
{
    background-color: red;
}
.main .content{
    margin-top: 10.6mm;
}

.content p{
    margin-bottom: 4.0mm;
}

.main-table{
    font-size: 3.7mm !important;
    width: 95%;
    margin: 10.6mm auto !important;
}

.main-table tr td{
    border: 0.3mm solid #000 !important;
}

.main-table tr td:first-child{
    padding: 2.6mm;
    width: 80%; 
}


.main-table tr td:last-child{
    padding: 2.6mm;
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.clear{clear: both;}

.signature{
    width: 50%;
    float: left;
    margin-top: 10.6mm;
}

.signature p{
    font-style: 3.2mm;
}

.signature-table{
    font-weight: bold;
    font-size: 3.7mm;
}

.signature-table tr td:nth-child(2){
    width: 2.6mm;
}

.signature-table tr td{
    padding-top: 5.3mm;
	
}

.signature-table tr td:last-child{
    border-bottom: 0.3mm solid #000 !important;
    width: 52.9mm;
}

.signature strong{
    font-style: italic;
    font-size: 3.7mm;
}

table.info{
    font-size: 3.2mm;
}
