/*GUI TABLE*/

table {
    border-collapse:collapse;
}

.sima-guitable {
    position: relative; 
    overflow: hidden;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
}

.sima-guitable .sima-guitable-head {
    overflow-x:hidden;
    overflow-y:scroll;
    scrollbar-color: transparent transparent;
}

.sima-guitable .sima-guitable-head::-webkit-scrollbar {
    background-color: transparent;
}

.sima-guitable .sima-guitable-head thead {
    background: url(../images/table/header_background.png); 
    background-repeat: repeat-x; 
    height: 35px;
}

.sima-guitable .sima-guitable-head tr.titles {
    height: 35px;
}

.sima-guitable .sima-guitable-head .sima-guitable-head-left {
    position: absolute; 
    left: 0px;
    background: url(../images/table/header_left.png); background-repeat: no-repeat;
    width: 2px;
    height: 35px;
}
.sima-guitable .sima-guitable-head .sima-guitable-head-right {
    position: absolute; 
    right: 6px;
    background: url(../images/table/header_right.png); background-repeat: no-repeat;
    width: 2px;
    height: 35px;
    top: 0;
}

.sima-guitable .sima-guitable-head table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: transparent;
    border-style:solid;
    border-width:0px;
    background: url(../images/table/separator.png) right;
    background-repeat: no-repeat;
    padding: 2px 5px;
    font-size: 12px;
    /*text-align: center;*/
}

.sima-guitable .sima-guitable-head table th._hidden {
    display: none;
}

.sima-guitable .sima-guitable-head table th:not(.order-number):not(.options) {
    min-width: 100px;
}

.sima-guitable .sima-guitable-head table th ._status-filter {
    float: left;
    /*margin-right: 2px;*/
    vertical-align: middle;
}

.sima-guitable table tr td input, .sima-guitable table tr th input, .sima-guitable table tr th select, .sima-guitable table tr th .text {
    font-size: 12px;
}

.sima-guitable table tr th .text {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sima-guitable table tr th > input, .sima-guitable table tr td > input {
    width: 96%; 
}

.sima-guitable table tr input{ 
    border: solid 1px #C9E0ED;
}

.sima-guitable table tr select { 
    width: 100%; 
    border: solid 1px #C9E0ED; 
}

.sima-guitable table tr select#Filing_in { 
    width: 90%; 
    min-width: 50px;
}

.sima-guitable table tr select option { 
    width: auto; 
}

.sima-guitable table tr input.filter_partner { 
    width: 80%; 
}

.sima-guitable table td.number_field {
    text-align: right;
}

.sima-guitable .sima-guitable-head table tr th.options .options_name {
    display: inline-block;
    vertical-align: middle;
}

.sima-guitable .sima-guitable-head table tr th.options .multiselect_icons {
    display: none;
    vertical-align: middle;
}

.sima-guitable .sima-guitable-head table tr th span.button {
    width: 16px; 
    height: 16px; 
    float: right;
    position: relative;
    top: 2px;
}

.sima-guitable .sima-guitable-head table tr th span.button.group_by {
    background: url(../images/table/icons/stat_16.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-head table tr th span.button.group_by.clicked {
    
}

.sima-guitable .sima-guitable-head table tr th span.button.order_by {
    background: url(../images/table/icons/opadajuce.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-head table tr th span.button.order_by.asc {
    background: url(../images/table/icons/rastuce.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-head table tr th span.button.order_by.desc {
    background: url(../images/table/icons/opadajuce.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-head table tr th span.button.group_by:hover {
    cursor: pointer; 
    opacity: 0.7;
}

.sima-guitable .sima-guitable-head table tr th span.button.order_by:hover {
    cursor: pointer; 
    opacity: 0.7;
}

.sima-guitable .sima-guitable-head table tr th span.file_tag_filter_recursive {
    color: gray; 
    cursor: pointer;
}

.sima-guitable .sima-guitable-head table tr th span.file_tag_filter_recursive.selected-red {
    color: red; 
    font-weight:bold; 
    background-color: none;
}

.sima-guitable .sima-guitable-body {
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
    overflow: auto;
    position: relative;
}

/*inicijalno podesavanje, bice promenjeno cim se pozove populate*/
.sima-guitable .sima-guitable-body .table_resize_wrapper{
    width: 15000px;
    height: 100%;
    position: relative;
}

.sima-guitable .sima-guitable-body table td {
    border: #CCCCCC;
    border-style:solid;
    background: url(../images/table/separator-td.png) right;
    background-repeat: repeat-y;
    border-width:0px;
    border-bottom-width:1px;
    /*border-right-width: 1px;*/
    padding: 0px 5px;
    color: #222222;
    font-size: 12px;
}

.sima-guitable .sima-guitable-body table td.field_selected, 
.sima-guitable .sima-guitable-body table td.field_selected *:not(input):not(select) {
    background-color: #5D92B1 !important;
}

.sima-guitable .sima-guitable-body table td.sima-guitable-field-required {
    background-color: #FF4040 !important;
}

.sima-guitable .sima-guitable-body table td.sima-guitable-field-safe {
    background-color: #FBEC5D !important;
}

.sima-guitable .sima-guitable-body table td.file_signatures > span {
    display:inline-block;
    /*float:left;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sima-guitable .sima-guitable-body table td img {
    display: inline-block;
    float: left;
    margin-left: 0px; 
    margin-right: 1px;
    padding-left: 0px; 
    padding-right: 0px;
    /*margin: 0px;*/
}

.sima-guitable .sima-guitable-body table tr.row:nth-of-type(odd) {
    background-color: #F2F2F2;
}

.sima-guitable .sima-guitable-body table tr.row:nth-of-type(even) {
    background-color: #FFFFFF;
}

.sima-guitable .sima-guitable-body table .page_break {
    background-color: #AAAAAA;
    height: 5px;
} 

.sima-guitable .sima-guitable-body table .page_break:first-child {
    display: none;
}

.sima-guitable .sima-guitable-body table tr.row.selected, div table tr.row.selected, div.table div.row.selected { 
    background-color: #92CAFF !important;
}

.sima-guitable .sima-guitable-body table tr.row:hover, div.table div.row:hover { 
    background-color: #48A7FF !important; 
}

.sima-guitable table tr.sum td {
    font-weight:bold;
}

.sima-guitable table tr.row td a {
    text-decoration:underline; color: blue;
}

.sima-guitable .sima-guitable-options {
    width: 100%; 
    overflow: auto; 
}

.sima-guitable .sima-guitable-options .sima-guitable-header-row {

}

.sima-guitable .sima-guitable-progressBar {
    height: 15px;
    width: 200px;
    display: none;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 60%;
    left: 45%;
    z-index: 10;
}

.sima-guitable .sima-guitable-options .sima-guitable-header-row-item {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.sima-guitable .sima-guitable-options .sima-guitable-header-row-item.sima-gui-table-title {
    font-weight: bold;
    font-size: 16px;
}

.sima-guitable .sima-guitable-options .sima-guitable-header-row-item .buttons button {
    float: left;
    margin-right: 5px !important;
}

.sima-guitable .sima-guitable-options div.page_links a {
    margin: 0px; 
    padding: 0px !important; 
    width: 16px; 
}

.sima-guitable .sima-guitable-options div.page_links a.left { 
    float: left; 
}

.sima-guitable .sima-guitable-options div.page_links a.right { 
    float: left; 
}

.sima-guitable .sima-guitable-options div.page_links .first_link span {
    width: 16px; 
    height: 16px; 
    display: block; 
    background: url(../images/table/icons/pocetak.png); 
    background-repeat: no-repeat; 
}

.sima-guitable .sima-guitable-options div.page_links .prev_link span { 
    width: 16px; 
    height: 16px; 
    display: block; 
    background: url(../images/table/icons/nazad.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-options div.page_links .last_link span { 
    width: 16px; 
    height: 16px; 
    display: block; 
    background: url(../images/table/icons/kraj.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-options div.page_links .next_link span { 
    width: 16px; 
    height: 16px; 
    display: block; 
    background: url(../images/table/icons/napred.png); 
    background-repeat: no-repeat;
}

.sima-guitable .sima-guitable-options div.page_links .page_number { 
    padding: 0px; 
    margin: 0px; 
    text-align: center; 
    float: left; 
    margin-top:0px;
}

.sima-guitable .sima-guitable-options div.page_links .page_number input	{ 
    width:25px; 
    height: 12px; 
    text-align: center; 
    font-size: 12px; 
    border: none; 
    margin-right: 0px; 
    padding-right: 0px;
}

.sima-guitable .sima-guitable-options div.page_links .page_number input	{ 
    margin-right: 0px; 
    margin-left: 0px; 
    float: left;
}

.sima-guitable .sima-guitable-options div.page_links .page_number span.separator {
    line-height:16px; 
    float:left; 
    margin-right: 3px;
    margin-left: 3px;
}

.sima-guitable .sima-guitable-options div.page_links .page_number span.max_page_number { 
    height: 15px; 
    margin-bottom: 0px; 
    min-width: 10px; 
    display: inline-block; 
    text-align: left; 
    font-size: 12px; 
    margin-left: 0px;
}

.sima-guitable .sima-guitable-options div.half_sum span { 
    font-size: 12px; 
    margin: 0px; 
    padding: 0px;
}

.sima-guitable .sima-guitable-options .sima-gui-table-filters {
    margin: 5px;
}

.sima-guitable .sima-guitable-options .sima-gui-table-filters div {
    margin: 0;
}

.sima-guitable .sima-guitable-options .sima-gui-table-filters .sima-gui-table-filter {
    display: inline-block;
    margin-right: 5px;
}

.sima-guitable .sima-guitable-options .sima-gui-table-filters .sima-gui-table-filter input {
    border: 1px solid #CCCCCC;
    height: 13px;
    font-size: 12px;
}

.sima-guitable div.sima-guitable-foot table tr {
    border-top: solid 2px; 
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
}

.sima-guitable div.sima-guitable-foot table tr td {
    padding: 2px 5px;
}

.sima-guitable .load_less {
    display: none; 
    width: 200px; 
    background-color: #EFEFEF; 
    text-align: left; 
    cursor: pointer; 
    position: relative;
}

.sima-guitable .load_less:hover {
    background-color: rgb(170, 170, 170) !important;
}

.sima-guitable .load_less a {
    font-weight: bold; width: 100%;
}

.sima-guitable .load_more {
    display: none; 
    width: 200px; 
    background-color: #EFEFEF; 
    text-align: left; 
    cursor: pointer; 
    position: relative;
}

.sima-guitable .load_more:hover {
    background-color: rgb(170, 170, 170) !important;
}

.sima-guitable .load_more a {
    font-weight: bold; 
    width: 100%;
}

.sima-guitable .srt-draghandle.dragged {
    border-left: 1px solid #333;
}

.sima-guitable .srt-draghandle { 
    position: absolute; 
    z-index:5; 
    width:5px; 
    cursor:e-resize;
} 

.sima-guitable div.model p.row.name span.title {
    display: none; 
}

.sima-guitable div.model p.row.name span.data { 
    color: #960C66; 
    font-size: 1.5em; 
    width: 100%; 
}

.sima-guitable .sima-guitable-settings-button {
    display: inline-block;
    background: url(../images/table/icons/settings_white_16.png);
    background-repeat: no-repeat;
    opacity: 0.7;
    width: 30px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #888;
    vertical-align: middle;
    background-position: center;
}

.sima-guitable .sima-guitable-settings-button:hover {
    cursor: pointer;
    opacity: 1;
}

.sima-guitable .sima-guitable-navi-link {
    opacity: 0.7;
}

.sima-guitable .sima-guitable-navi-link:hover {
    opacity: 1;
}

.sima-guitable .sima-gui-button.add_button {
    display: inline-block;
    background: url(../images/table/icons/add_white_16.png);
    background-repeat: no-repeat;
    opacity: 0.7;
    width: 30px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #3b5f8e;
    vertical-align: middle;
    background-position: center;
}

.sima-guitable .sima-gui-button.add_button:hover {
    cursor: pointer;
    opacity: 1;
}

.sima-guitable .sima-gui-button.add_white_button {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/table/icons/add_white_16.png); 
    background-repeat: no-repeat;
    opacity: 0.7;
    background-color: #3B5F8E;
}

.sima-guitable .sima-gui-button.add_white_button:hover {
    cursor: pointer;
    opacity: 1;
}



/* style za podesavanje tabele*/
.sima-guitable-settings-header {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.sima-guitable-settings .columns_order_settings {
    background-color: #F2F2F2; 
    font-size: 12px; 
    box-shadow: 2px 2px 4px #888888; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 400px;
}

.sima-guitable-settings .columns_order_settings ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

.sima-guitable-settings .columns_order_settings ul .columns-list-item {
    display: block; 
    padding: 10px; 
    text-align: left; 
}

.sima-guitable-settings .columns_order_settings ul .columns-list-item:hover {
    background-color: rgb(170, 170, 170) !important;
}

.sima-guitable-settings .columns_order_settings ul .columns-list-item li {
    display: inline-block;
}

.sima-guitable-settings .columns_order_settings ul .columns-list-item input {
    display: inline-block;
}

.sima-guitable-settings .columns-save-settings {
    float: left;
    margin: 20px 0px 10px;
}

.sima-guitable-settings .columns-save-settings button {
    padding: 2px;
}

.sima-guitable-settings .columns_list {
    margin-bottom: 25px !important;
}

.sima-guitable .append_row_highlight {
    box-shadow: 4px 4px 5px #000;
    -webkit-box-shadow: 4px 4px 5px #000;
    -moz-box-shadow: 4px 4px 5px #000;
}


/* Stilizacija dialoga za izvoz PDF I CSV */
.sima-guitable-export {
    padding: 10px;
    margin: 0;
    width: 650px;
}

.sima-guitable-export .sima-guitable-settings .columns_order_settings {
    background-color: #fff;
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
    max-height: 400px;
}

.sima-guitable-export ul.columns_list.ui-sortable {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
}
.sima-guitable-export ul.columns_list.ui-sortable .columns-list-item {
    height: 24px;
    border-bottom: 1px solid #aaa;
    line-height: 24px;
    padding: 0 10px;
    margin: 0;
}
.sima-guitable-export ul.columns_list.ui-sortable .columns-list-item:active {
    background: #e0e0e0;
    cursor: -webkit-grab;
}
.sima-guitable-export ul.columns_list.ui-sortable .columns-list-item:hover {
    background-color: #e0e0e0;
}
.sima-guitable-export ul.columns_list.ui-sortable .columns-list-item input {
    display: inline-block;
}
.sima-guitable-export ul.columns_list.ui-sortable .columns-list-item:last-child {
    border-bottom: none;
}
.sima-guitable-export select#exportFormat {
    float: left;
    margin: 0 0 10px 0;
}
.sima-guitable-export .sima-document-export-dropdown {
    margin: 0 0 10px 0;
    padding: 0;
    float: left;
}
.sima-guitable-export .sima-export-info-help {
    font-size: 12px;
    color: #000;
    display: block;
    background-color: #e0e0e0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAxUlEQVR4AZXRT44BQQDG0bcTa93cYQYRf25CHAWHEGIpIo4yZxnNFdAWNbWYdDrUxvttv+qqpH0uN7eKzWWSOk6ewn+lo7YXPVc3a0ON2MjG3UVXTcfVr++XY0UsVzm5VZNtDOh7OADknta8jdgqZcBcMJQyFsyAlaCR/FJTsEyNfmL10UJ13Sg5mgimQKa0SY52Si2Ao7ve25sGHvYqbReFvrqBi7NMTVfhbmusGZvYeTj78iJ3UNZ+8F4mKTOztDDV8qk/f2FITtOgI4oAAAAASUVORK5CYII='); 
    background-position: 10px center; 
    background-repeat: no-repeat; 
    padding: 5px 5px 5px 35px; 
    margin: 0 0 10px 0;
}
.sima-guitable-export .sima-export-title-dialog {
    font-weight:bold; 
    font-size: 12px; 
    display: block; 
    margin: 0 0 10px 0;
    text-align: left;
}

.sima-guitable._low_profile_rows .sima-old-btn
{
    height: 19px;
}

.sima-guitable._low_profile_rows .sima-old-btn .sima-old-btn-icon
{
    height: 19px;
}

.sima-guitable._low_profile_rows tr.sum
{
    font-size: 11px;
}

.sima-guitable table tr .order-number {
    width: 20px;
    text-align: center;
}

.sima-guitable .empty-table-message {
    display: none;
    padding: 5px;
    font-size: 14px;
}

/*loading*/
.sima-guitable-loading {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
.sima-guitable-loading .nanobar {
    z-index: inherit;
}
.sima-guitable-loading .nanobar .bar {
    background: #38f;
    border-radius: 2px;
    box-shadow: 0 0 10px #59d;
}

/*fake row*/
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.sima-guitable-fake-row {
    height: 25px;
}
.sima-guitable-fake-row td > div {
    height: 17px;
    margin: 4px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}