

/* PRIMARY BUTTON */
/* default state */
$sima_btn_BG_primary_color: #fff; /* background*/
$sima_btn_BORDER_primary_color: #dadce0; /* border */
$sima_btn_FONT_primary_color: #231F20; /* font-color */
$sima_btn_FONT-SIZE_primary: 12px; /* font-size */
$sima_btn_SHADOW_outer_primary_color: 0px 1px 3px -1px rgba(0, 0, 0, 0.2); /* shadow */
/* hover state */
$sima_btn_BG_primary_color-hover: #e5e5e5; /* background */
$sima_btn_BORDER_primary_color-hover: #ccc; /* border */
/* active state */
$sima_btn_BG_primary_color-active: #ccc; /* background */
$sima_btn_BORDER_primary_color-active: #aaa; /* border */
/* disabled state */
$sima_btn_BG_primary_color-disabled: #f1f1f1;
$sima_btn_BORDER_primary_color-disabled: #888;
$sima_btn_FONT_primary_color-disabled: #9b9b9b;


/* CALL TO ACTION BUTTON */
/* default state */
$sima_btn_BG_cta_color: #3b9bfd; /* background */
$sima_btn_BORDER_cta_color: #2e96ff; /* border */
$sima_btn_FONT_cta_color: #fff; /* font-color */
/* hover state */
$sima_btn_BG_cta_color-hover: #1288ff; /* bg-hover */
$sima_btn_BORDER_cta_color-hover: #007efd; /* border */
/* active state */
$sima_btn_BG_cta_color-active: #046dd8; /* background */
$sima_btn_BORDER_cta_color-active: #0160c1; /* border */


/* CALL TO ACTION ALT BUTTON */
/* default state */
$sima_btn_BG_cta_alt_color: #fff; /* background */
$sima_btn_FONT_cta_alt_color: #2f95ff; /* font-color */
$sima_btn_BORDER_cta_alt_color: #7fbeff; /* border */
/* hover state */
$sima_btn_BG_cta_alt_color-hover: #e7f3ff; /* background */
$sima_btn_FONT_cta_alt_color-hover: #2f95ff; /* font-color */
$sima_btn_BORDER_cta_alt_color-hover: #9cceff; /* border */
/* active state */
$sima_btn_BG_cta_alt_color-active: #cde2f7; /* background */
$sima_btn_FONT_cta_alt_color-active: #0a82ff; /* font-color */
$sima_btn_BORDER_cta_alt_color-active: #5aabff; /* border */


/* SIMA BTN - ICON */
$sima_btn_FONT-SIZE_sima_icon: 16px; /* font size */
$sima_btn_HEIGHT_primary: 28px; /* height ( 28px + 2px border = 30px ) */
$sima_btn_HEIGHT_WIDTH_sima_icon: 28px; /* height * width */





/* style - elements */
.sima-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2px;
    /* color */
    background-color: $sima_btn_BG_primary_color;
    color: $sima_btn_FONT_primary_color;
    border: 1px solid $sima_btn_BORDER_primary_color;
    box-shadow: $sima_btn_SHADOW_outer_primary_color;
    /* font size */
    font-size: $sima_btn_FONT-SIZE_primary;
    /* height */
    height: $sima_btn_HEIGHT_primary;
    /* no blue highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    /* end no blue highlighting */
    /* hover */
    &:hover {
        background-color: $sima_btn_BG_primary_color-hover;
        border-color: $sima_btn_BORDER_primary_color-hover;
    }/* end hover */    
    /* active */
    &:focus {
        outline: none;
    }/* end focus */
    &:active, &.active {
        background-color: $sima_btn_BG_primary_color-active;
        border-color: $sima_btn_BORDER_primary_color-active;
    }/* end active */
    /* disbled btn */
    &._disabled {
        background-color: $sima_btn_BG_primary_color-disabled;
        border-color: $sima_btn_BORDER_primary_color-disabled;
        cursor: not-allowed;
        opacity: 0.3;
    }/* end disbled btn */ 
    /* btn width icon (removes the margin from the text) */
    &.btn-transparent {
        padding: 0;
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
        /* width and height of only icon btn */
        min-width: $sima_btn_HEIGHT_WIDTH_sima_icon;
        height: $sima_btn_HEIGHT_WIDTH_sima_icon;
        width: $sima_btn_HEIGHT_WIDTH_sima_icon;
        /* default hover also for icon only */
        &:hover {
            background-color: $sima_btn_BG_primary_color-hover;
            border-color: $sima_btn_BORDER_primary_color-hover;
            box-shadow: $sima_btn_SHADOW_outer_primary_color;     
        }
        /* end default hover also for icon only */
        /* default hover also for icon only */
        &:active {
            background-color: $sima_btn_BORDER_primary_color-hover;
            border-color: $sima_btn_BORDER_primary_color-active;
            // box-shadow: $sima_btn_SHADOW_outer_primary_color;     
        }
        &.disabled:hover,
        &.disabled:active {
            border-color: transparent;
            background-color: transparent;
            box-shadow: none; 
        }
        &.sima-icon {
            margin: 0;
        }
        /* end default hover also for icon only */
    }/* end btn width icon (removes the margin from the text) */
    /* btn width only icon (icon-only) */
    &.icon-only {
        padding: 0;
        /* width and height of only icon btn */
        min-width: $sima_btn_HEIGHT_WIDTH_sima_icon;
        height: $sima_btn_HEIGHT_WIDTH_sima_icon;
        width: $sima_btn_HEIGHT_WIDTH_sima_icon;
        &.sima-icon {
            margin: 0;
        }
        /* end default hover also for icon only */
    }/* end o-txt */
    &.btn-half {
        width: 15px;
        height: 15px;
        min-width: 15px;
    }
    /* Call to action btn */
    &.cta {
        background-color: $sima_btn_BG_cta_color;
        color: $sima_btn_FONT_cta_color;
        border-color: $sima_btn_BORDER_cta_color;
        &:hover {
            background-color: $sima_btn_BG_cta_color-hover;
            border-color: $sima_btn_BORDER_cta_color-hover;
        }
        &:active {
            background-color: $sima_btn_BG_cta_color-active;
            border-color: $sima_btn_BORDER_cta_color-active;
        }
    }/* end call to action btn */
    /* Call to action btn */
    &.cta-alt {
        background-color: $sima_btn_BG_cta_alt_color;
        color: $sima_btn_FONT_cta_alt_color;
        border-color: $sima_btn_BORDER_cta_alt_color;
        &:hover {
            background-color: $sima_btn_BG_cta_alt_color-hover;
            border-color: $sima_btn_BORDER_cta_alt_color-hover;
            color: $sima_btn_FONT_cta_alt_color-hover;
        }
        &:active {
            background-color: $sima_btn_BG_cta_alt_color-active;
            border-color: $sima_btn_BORDER_cta_alt_color-active;
            color: $sima_btn_FONT_cta_alt_color-active;
        }
    }/* end call to action btn */
    /* text in btn */
    &.sima-old-btn-title {
        background: $sima_btn_FONT_primary_color; /* for now - yust init path */
    }/* end text in btn */
    /* fix for old txt in btn */
    &.sima-old-btn-title {
        background: $sima_btn_FONT_primary_color; /* for now - yust init path */
    }/* end fix for old txt in btn */
    /* style icon itself in btn */
    .sima-icon {
        margin: 0;
        text-align: center;
        /*size*/
        font-size: $sima_btn_FONT-SIZE_sima_icon;
    }/* end style icon itself in btn */
    .sima-btn-title { white-space: nowrap; }
    
    /* separator from icon and txt */
    hr {
        width: 5px;
        opacity: 0;
        margin: 0;
    }/* end pre */
}/* end style */
