
.accounting-report_specification tr.bill_row
{
    border-bottom: 1px black solid;
}

.accounting-report_specification tr.bill_sum_row
{
    border-top: 2px black solid;
}

.accounting-report_specification ul.bill_item_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.accounting-report_specification .bill_item_list ._covered
{
    text-decoration: line-through;
    opacity: 0.5;
}