
.accounting_file_tab_bill_releasing_posible_payment {
    background: #f6f6f6;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #4285F4;
    align-items: center;
    min-height: 27px;
    display: flex;
    text-align: center;
    position: relative;
    &:hover, &._selected {
        background: #7ba3e3;
        border-color: #7ba3e3;
        border-left-color: #4285F4;
        transition: 0.25s;
        .percent:after {
            color: black;
        }
    }/* end &:hover */
    .div_options {
        right: initial;
        .sima-btn {
            margin:0 5px 0 0;
        }
    }/* end div_options */
}/* end accounting_file_tab_bill_releasing_posible_payment */




