
.sima-ui-sf {
    width: 200px;
    /*margin: auto;*/
}

.sima-guitable th .sima-ui-sf {
    width: 100%;
}

div.sima-model-form-row > .sima-ui-sf{ 
    display: inline-block; 
    width: 305px;   
}

.sima-ui-sf-input {
    display: none;
}

.sima-ui-sf-result {
    display: none;
    position: absolute;
    background-color: #F6F6F6;
    z-index: 95;
    border: 1px solid graytext;
    border-radius:5px;
    padding: 10px;
    color: black;
    outline: 0;
    /*max-height: 500px;*/
}

.sima-ui-sf-result .sima-ui-sf-result-input {
    display: block;
    width: 90%;
    /*height: 18px;*/
}

.sima-ui-sf-result .sima-ui-sf-result-body {
    display: block;    
    max-height: 500px;
    min-height: 60px;
    outline: 0;
    overflow-y: auto;
    position: relative;    
}

.sima-ui-sf-choice {
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    margin: 0;
    padding: 5px;
}

.sima-ui-sf-choice:hover, .sima-ui-sf-choice.selected {
    background-color: #929292 !important;
    color: white !important;
}

.sima-ui-sf-display {
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    width: calc(100% - 25px);
}

.sima-ui-sf-remove {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    /*right: 0px;*/
    background: url(images/ponisti.png); 
    background-repeat: no-repeat;
    background-position: center;
    margin: 1px 0 0 0;
}

.sima-model-form-row .sima-ui-sf-remove {
    position: relative;
}

.sima-ui-sf-wrapper {
    position: relative;
    width: 100%;
    text-align: left;
    min-width: 80px;
}
