<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet">
    <title>TODO List</title>
</head>
<body>
    <h1>My todo list</h1>
    <div id="todo-table">
        
        <form action="">
            <input type="text" name="item">
            <button type="submit">Add item</button>
        </form>
        <ul>
            <% for(var i in todos){ %>
            <li>
                <%=todos[i].item %>
                <input type="hidden" name="id" value="<%= todos[i].id %>">
            </li>
            <% } %>
        </ul>
    </div>
</body>
</html>