
tr.accounting-bill_items_in_bills-bills_list
{
    border-bottom: 1px black solid;
}

ul.accounting-bill_items_in_bills-items_list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.accounting-bill_items_in_bills-items_list ._covered
{
    text-decoration: line-through;
    opacity: 0.5;
}
