
.sima-partner-list {
    .partner-initials {
        height: 50px;
        display: flex;
        max-width: 50px;
        min-width: 50px;
        font-size: 24px;
        overflow: hidden;
        margin-right: 10px;
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
    }/* end partner-initials */  
}/* end sima-partner-list */