.sima-partner-list .partner-list-popper {
    background-color: white;
    padding: 3px;
    border: 1px solid grey;
    top: 7px !important;
}
.sima-partner-list .partner-list-popper[data-popper-placement^='top'] > .sima-partner-list .pl-popper-arrow {
    bottom: -4px;
}

.sima-partner-list .partner-list-popper[data-popper-placement^='bottom'] > .sima-partner-list .pl-popper-arrow {
    top: -4px;
}

.sima-partner-list .partner-list-popper[data-popper-placement^='left'] > .sima-partner-list .pl-popper-arrow {
    right: -4px;
}

.sima-partner-list .partner-list-popper[data-popper-placement^='right'] > .sima-partner-list .pl-popper-arrow {
    left: -4px;
}
.sima-partner-list .pl-popper-arrow,
.sima-partner-list .pl-popper-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}
.sima-partner-list .pl-popper-arrow::before {
    content: '';
    transform: rotate(45deg);
    background: white;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.sima-partner-list .all-info .tooltip{
    background-color: white;
    border: 1px solid grey;
}

.sima-partner-list[x-arrow] {
  position: absolute;
}

.sima-partner-list .partner-list-popper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sima-partner-list .pl-popper-arrow[x-placement="bottom"] [x-arrow] {
  top: -10px;
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.sima-partner-list .pl-popper-arrow[x-placement="top"] [x-arrow] {
  bottom: -10px;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}