body {
    font-size: 3.2mm;
}
.table-1 {
    width: 100%;
    border-collapse: collapse;
}
.table-1 .company-logo {
    float: left;
    width: 40%;
    height: 16mm;
    padding-left: 2mm;
}
.table-1 .company-logo img {
    width: 16mm;
    height: 16mm;
}
.table-1 .company-info {
    float: right;
    width: 56%;
    height: 16mm;
    position: relative;
    top: 3mm;
}
.table-2 {
    width: 100%;
    border-collapse: collapse;
}
.table-2 .footer td {
    border-width: 0.6mm !important;
}
.table-2 .footer td.plain {
    border: none !important;
    background-color: #fff;
}
.table-2 .header td, .table-2 .footer td {
    background-color: #395e8e;
    color: #fff;
}
.table-1 td, .table-2 td {
    border: 0.3mm solid #1d385c !important;
}
.table-2 .row, .table-2 .footer, .table-3 {
    page-break-inside: avoid !important;
}
.table-3 {
    width: 100%;
    border: 0.3mm solid #1d385c;
    text-align: left;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}