
.sima-action-notifications {
    
}

.sima-action-notifications .notification {
    display: flex;
    align-items: center;
    background-color: #BDE5F8;
    color: #00529B;
    margin: 5px 0px;
}

.sima-action-notifications .notification .title {
    flex-grow: 1;
    padding: 10px;
}

.sima-action-notifications .notification .close {
    font-size: 13px;
    margin-right: 10px;
}

.sima-action-notifications .notification .close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sima-action-notification-tooltip.sima-tooltip[x-placement^="top"] {
    margin-top: 35px;
}

.sima-tooltip.sima-action-notification-tooltip .sima-tooltip-inner {
    min-width: 150px;
    min-height: 20px;
    max-height: 500px;
    overflow: auto;
    margin: 0 0 20px;
    padding: 3px;
    border: 1px solid #d8d8d8;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 10px #888888;
    -webkit-box-shadow: 5px 5px 10px #888888;
    box-shadow: 5px 5px 10px #888888;
    background: white;
    word-break: break-all;
}
