@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.building-interim-bill-report {
    font-family: 'Open Sans', sans-serif;
    position: relative;
 }

.building-interim-bill-report p {
    font-size:3.175mm;
}

.building-interim-bill-report ul {
    list-style: none;
}

.building-interim-bill-report .border-wrapper {  
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
}
.building-interim-bill-report .pdf-border-wrapper {
    height: 275mm;
    width: 189mm;
    box-sizing: border-box;
    border-top: 1mm double #0099FF;
    border-left: 1mm double #0099FF;
    border-right: 1mm double #0099FF;
}
.building-interim-bill-report .html-border-wrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1mm double #0099FF;
}
.building-interim-bill-report .set-pdf-width{
    width: 183mm;
}

.building-interim-bill-report header {
    padding: 3mm;
    border-bottom: 1mm double #0099FF;
    overflow:hidden;
    text-align: center;
}

.building-interim-bill-report header img {
    margin-right:7.9mm;
    width: 25mm;
    height: 25mm;
    display: inline-block;
}

.building-interim-bill-report header .content {
    height: 25mm;
    padding-left:2.6mm;
    display: inline-block;
    text-align: left;
}

.building-interim-bill-report header .content ul {
    bottom:0;
    color: #0099FF;
    margin: 0;
}

.building-interim-bill-report header .content ul li {
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

.building-interim-bill-report header .content ul li span {
    font-weight:700;
}

.building-interim-bill-report .main {
    z-index: 1;
    padding: 4mm 10mm;
    height: auto;
}
.building-interim-bill-report .main-html-border {
    border-left: 1mm double #0099FF;
    border-right: 1mm double #0099FF;
}
.building-interim-bill-report .set-max-height {
    height: 100% !important;
}
.building-interim-bill-report .set-max-width {
    width: 100% !important;
}
.building-interim-bill-report .main .title {
    margin-top: 5mm;
    text-align: center;
    background-color: #aecff7;
    text-transform: uppercase;
    margin-left: -10mm;
    margin-right: -10mm;
}
.building-interim-bill-report .main .small-title h2{
    margin-top: 5mm;
    text-align: center;
    font-weight: bold;
    font-size: 3.2mm;
}

.building-interim-bill-report .main .title h1 {
    font-size: 4.291666667mm;
    font-weight: bold;
    padding: 2mm 0;
}

.building-interim-bill-report .main .content {
    margin-top: 5mm;
    font-size: 3.2mm;
}

.building-interim-bill-report .main .content p  {
    margin: 1mm 0;
    padding: 0.5mm 1.3mm !important;
}
.building-interim-bill-report .main .content .content-item {
    display: block;
    padding: 1.3mm;
    width: calc(100% - 2.60mm);
}

.building-interim-bill-report .main .content .content-item ._left {
    display: inline-block;
    width: 50%;
}

.building-interim-bill-report .main .content .content-item ._right {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.building-interim-bill-report footer p {
    color: #494848;
}

.building-interim-bill-report .clear {
    clear: both;
}

.building-interim-bill-report .avoid-break {
    page-break-inside: avoid !important;
}

.building-interim-bill-report .container {
    width: 100%;
    
}
.building-interim-bill-report .container div {
    display: inline-block;
}
.building-interim-bill-report .investor-info {
    border: 1mm double #0099FF;
    padding: 1mm;
    font-size: 3.2mm;
    text-align: center;
}
.building-interim-bill-report .investor-info ul {
    padding-left: 1mm;
    margin: 0mm 0;
}
.building-interim-bill-report .bill-info {
    font-size: 3mm;
}
.building-interim-bill-report .content-table {
    width: 100%;
}
.building-interim-bill-report .content-table td {
    width: 50%;
}

.building-interim-bill-report .footer {
    width: 189mm;
    border-bottom: 1mm double #0099FF;
    border-left: 1mm double #0099FF;
    border-right: 1mm double #0099FF;
    box-sizing: border-box
}

.building-interim-bill-report .situations-overview {
    width: 100%;
    padding: 2mm 2mm;
}
.building-interim-bill-report .content .situations-overview .row-space {
    padding: 3.5mm !important;
}
.building-interim-bill-report .situations-overview td {
    padding: 2mm 2mm;
    min-width: 10mm;
}
.building-interim-bill-report .situations-overview .previous-situations td {
    padding: 1mm 2mm;
    min-width: 10mm;
}
.building-interim-bill-report .situations-overview .previous-situations-value {
    margin-left: -2mm;
}
.building-interim-bill-report .situations-overview .previous-situations-value td{
    padding: 1mm 2mm;
    min-width: 10mm;
}

.building-interim-bill-report .main .summary-title h1{
    margin-bottom: 0mm;
}
.building-interim-bill-report .main .summary-title b {
    font-size: 3.5mm;
}
.building-interim-bill-report .text-left {
    text-align: left;
}
.building-interim-bill-report .summary-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10mm auto;
}
.building-interim-bill-report .summary-table td{
    border: 0.5mm solid black;
    padding: 1mm;
    text-align: center;
    text-transform: uppercase;
}
.building-interim-bill-report .summary-table .no{
    width: 20mm;
}
.building-interim-bill-report .summary-table .value{
    width: 60mm;
}
.building-interim-bill-report .summary-table .item-group-tile{
    min-width: 60mm;
}
.building-interim-bill-report .summary-table .value{
    width: 50mm;
}
