
.file_tab_bill_items_one_item {
    position: relative;
    overflow: hidden;
    .more-options {
        position: absolute;
        top: 0;
        z-index: 10;
        padding: 2px 0 !important;
        overflow: hidden;
        .blur-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            filter: blur(5px);
            background: whitesmoke;
        }/* end &:after */
        .sima-btn {
            z-index: 10;
            margin: 0 0 0 5px !important;
        }/* end sima-btn */
    }/* end more-options */
}/* end file_tab_bill_items_one_item */





/* OLD STYLE */
// .file_tab_bill_items_one_item {
//     margin: 10px 0px 10px 10px;
//     border-left: 2px solid blue;
//     &:hover {
//         background-image: linear-gradient(to left, rgba(255,255,255,1) 20%, lightsteelblue 50%);
//         border-left: 5px solid blue;
//         margin-left: 7px;
//     }
//     ._selected {
//         background-image: linear-gradient(to left, rgba(255,255,255,1) 20%, lightsteelblue 50%);
//         border-left: 5px solid blue;
//         margin-left: 7px;
//     }/* end _selected  */
//     > span {
//         display: inline-block;
//     }/* end span */
//     li._selected {
//         font-weight: bold;
//     }/* end li._selected */
//     .bill_item_subtitle {
//         color: gray;
//         margin: 5px;
//         border-bottom: 1px solid gray;
//     }/* end bill_item_subtitle */
//     .bill-item-title {
//         &:first-child {
//             margin-top: 0;
//         }/* end &:first-child */
//     }
// }/* end file_tab_bill_items_one_item */
