.accounting-cost_location_tab-cost th{
    text-align: center;
}

.accounting-cost_location_tab-cost th._number{
    text-align: right;
    padding-right: 0px;
}

.accounting-cost_location_tab-cost td._number{
    text-align: right;
    width: 150px;
}
.accounting-cost_location_tab-cost td._percent{
    text-align: right;
    width: 50px;
}