
#sima-layout-top-bar {
    display: flex;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #2E3D4C;
        span.vertical-separator {
        width: 1px;
        height: 30px;
        margin: 0 10px;
        background-color: #4b5a6f;
        &:first-of-type { margin: 0 5px 0 0; }
    }/* end span.vertical */
    span.horizontal-separator {
        bottom: 0;
        height: 1px;
        margin: 0 auto;
        position: absolute;
        width: calc(100% - 10px);
        background-color: #4b5a6f;
    }/* end span.vertical-horizontal */
    /* all first level elements */
    & > * {
        display: flex;
        align-items: center;
        height: calc(100% - 1px);
        &.first-col {
            width: 20px;
            padding: 0 9.5px;
            position: relative;
            align-items: center;
            justify-content: center;
            .sis-sima-logo {
                color: #eee;
                font-size: 20px;
                cursor: default;
            }/* end img */
        }/* end &.second-col */
        &.second-col {
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid #4b5a6f;
        }/* end &.second-col */
        & > * {
            display: flex;
            align-items: center;
        }
        .icon-wrap {
            color: #ccc;
            width: 30px;
            height: 30px;
            display: flex;
            font-size: 16px;
            user-select: none;
            position: relative;
            margin: 0 10px 0 0;
            border-radius: 3px;
            align-items: center;
            justify-content: center;
            &._selected {
                color: white;
                background-color: #0079D3;
            }/* end _selected */        
            &:not(._selected):hover {
                color: white;
                cursor: pointer;
                background-color: #4b6075;            
                ._icon, ._icon._new {
                    color: white !important;
                }/* end icon and new */
            }/* end not ._selected :hover */
        }/* end sima-icon */
        .left-side {
            height: 100%;
            .top-bar-company-name {
                color: #ccc;
                font-weight: 300;
                margin: 0 0 0 5px;
                user-select: none;
            }/* end top-bar-company-name */
        }/* end left-side */
        .right-side {
            height: 100%;
            .top-bar-profile {
                height: 30px;
                display: flex;
                margin: 0 0 0 5px;
                border-radius: 5px;
                position: relative;
                padding: 2px 5px 2px 2px;
                border: 2px solid #2E3D4C;
                &._selected {
                    background-color: #0079D3;
                    cursor: default;
                }/* end _selected */      
                &:not(._selected):hover {
                    cursor: pointer;
                    background-color: #4b6075;
                }/* end not ._selected :hover */
                .top-bar-profile-icon {
                    margin: 0 10px 0 0;
                }/* end top-bar-profile-icon */
                .sima-model-display-icon-img {
                    max-width: 30px;
                    border-radius: 2px;
                }/* end sima-model-display-icon-img */
                .top-bar-profile-name {
                    display: flex;
                    font-weight: 300;
                    align-items: center;
                }/* end top-bar-profile-name */
                .top-bar-profile-subitems {
                    right: -14px;
                    top: 36px;
                    z-index: 100;
                    position: absolute;
                    width: max-content;
                    padding: 2px 0 0 0;
                    background-color: #2e3d4c;
                    border-top: 1px solid #4b5a6f;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    .top-bar-profile-subitem {
                        cursor: pointer;
                        padding: 5px 10px;
                        border-radius: 3px;
                        margin: 0 5px 5px 5px;
                        &:hover {
                            background-color: #4b6075;
                        }/* end hover */
                    }/* end top-bar-profile-subitem */
                }/* end top-bar-profile-subitems */
                .sima-model-display-icon-stack, 
                .sima-model-display-icon-circle, 
                .sima-model-display-icon-icon {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .sima-model-display-icon-circle {
                    background: red;
                    border-radius: 3px;
                }/* end sima-model-display-icon-circle */
                .sima-model-display-icon-icon {
                    font-size: 16px;
                    border-radius: 3px;
                    background: #7e8195;
                }/* end sima-model-display-icon-icon */
            }/* end top-bar-profile */
        }/* end right-side */

        /* SDA icon style*/
        .top-bar-sda {
            .sima-ui-da-main-icon {
                width: 30px;
                height: 30px;
                display: flex;
                border-radius: 3px;  
                align-items: center;
                justify-content: center;
                vertical-align: initial;
                background-image: initial;
                background-repeat: initial;
                &:after {
                    content: '/';
                    right: 0;
                    left: 5px;
                    width: 10px;
                    bottom: 0px;
                    display: block;
                    margin: 0 auto;
                    font-size: 35px;
                    font-weight: 900;
                    color: #de2339;
                    position: absolute;
                    transform: rotate(20deg);
                }/* end sima-ui-da-main-icon:after */
                &.selected-desktopapp:after {
                    content: none;
                }/* end selected-desktopapp */
            }/* end sima-ui-da-main-icon */
            .sima-ui-da-warn-cloud {
                left: 18px;
                top: 0px;
            }
            .sima-ui-da-sessions-box {
                color: black;
                font-size: 14px;
            }
        }/* end SDA icon style */

         /* old messages in new layout icon style*/
         .notifs_messages_wrapper {
             ._arrow {
                width: 0;
                height: 0;
                top: -10px;
                left: 30px;
                position: absolute;
                border-bottom: 9px solid
                #0079d3;
                border-left: 7px solid
                transparent;
                border-right: 7px solid
                transparent;
             }
            .sis-envelope { color: white; }
            .messages.sis-comments-alt {
                color: white;
            }
            .messages_cloud {
                position: absolute;
                padding: 2px;
                text-align: center;
                min-width: 12px;
                width: auto;
                height: 12px;
                line-height: 12px;
                z-index: 5;
                top: 0;
                right: -5px;
                color: white;
                font-size: 10px;
                font-weight: 500;
                border-radius: 50%;
                font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
                background: #de2339;
            }/* end sis-envelope */
        }/* end notifs_messages_wrapper */
    }/* end all first level elements */
}/* end #sima-layout-top-bar */
