@font-face {
  font-family: 'Sima-Icon';
  src:  url('fonts/Sima-Icon.eot?1xqmjh');
  src:  url('fonts/Sima-Icon.eot?1xqmjh#iefix') format('embedded-opentype'),
    url('fonts/Sima-Icon.ttf?1xqmjh') format('truetype'),
    url('fonts/Sima-Icon.woff?1xqmjh') format('woff'),
    url('fonts/Sima-Icon.svg?1xqmjh#Sima-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sima-icon"], [class*=" sima-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Sima-Icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sima-icon.sib-wikipedia-w:before {
  content: "\e900";
}
.sima-icon.sil-address-book:before {
  content: "\e901";
}
.sima-icon.sil-angle-down:before {
  content: "\e902";
}
.sima-icon.sil-angle-left:before {
  content: "\e903";
}
.sima-icon.sil-angle-right:before {
  content: "\e904";
}
.sima-icon.sil-angle-up:before {
  content: "\e905";
}
.sima-icon.sil-archive:before {
  content: "\e906";
}
.sima-icon.sil-arrow-down:before {
  content: "\e907";
}
.sima-icon.sil-arrows-alt-v:before {
  content: "\e908";
}
.sima-icon.sil-arrows-v:before {
  content: "\e909";
}
.sima-icon.sil-badge:before {
  content: "\e90a";
}
.sima-icon.sil-badge-check:before {
  content: "\e90b";
}
.sima-icon.sil-balance-scale:before {
  content: "\e90c";
}
.sima-icon.sil-balance-scale-left:before {
  content: "\e90d";
}
.sima-icon.sil-balance-scale-right:before {
  content: "\e90e";
}
.sima-icon.sil-ban:before {
  content: "\e90f";
}
.sima-icon.sil-bell:before {
  content: "\e910";
}
.sima-icon.sil-bells:before {
  content: "\e911";
}
.sima-icon.sil-book:before {
  content: "\e912";
}
.sima-icon.sil-book-alt:before {
  content: "\e913";
}
.sima-icon.sil-books:before {
  content: "\e914";
}
.sima-icon.sil-boxes:before {
  content: "\e915";
}
.sima-icon.sil-boxes-alt:before {
  content: "\e916";
}
.sima-icon.sil-bug:before {
  content: "\e917";
}
.sima-icon.sil-cabinet-filing:before {
  content: "\e918";
}
.sima-icon.sil-calendar-check:before {
  content: "\e919";
}
.sima-icon.sil-car-building:before {
  content: "\e91a";
}
.sima-icon.sil-car-building-alt:before {
  content: "\e91b";
}
.sima-icon.sil-caret-circle-down:before {
  content: "\e91c";
}
.sima-icon.sil-caret-down:before {
  content: "\e91d";
}
.sima-icon.sil-caret-left:before {
  content: "\e91e";
}
.sima-icon.sil-caret-right:before {
  content: "\e91f";
}
.sima-icon.sil-caret-square-down:before {
  content: "\e920";
}
.sima-icon.sil-caret-up:before {
  content: "\e921";
}
.sima-icon.sil-check:before {
  content: "\e922";
}
.sima-icon.sil-check-circle:before {
  content: "\e923";
}
.sima-icon.sil-chevron-circle-down:before {
  content: "\e924";
}
.sima-icon.sil-chevron-down:before {
  content: "\e925";
}
.sima-icon.sil-chevron-left:before {
  content: "\e926";
}
.sima-icon.sil-chevron-right:before {
  content: "\e927";
}
.sima-icon.sil-chevron-square-down:before {
  content: "\e928";
}
.sima-icon.sil-chevron-up:before {
  content: "\e929";
}
.sima-icon.sil-circles-overlapping:before {
  content: "\e92a";
}
.sima-icon.sil-circles-overlapping-alt:before {
  content: "\e92b";
}
.sima-icon.sil-clipboard-list-check:before {
  content: "\e92c";
}
.sima-icon.sil-comments:before {
  content: "\e92d";
}
.sima-icon.sil-comments-alt:before {
  content: "\e92e";
}
.sima-icon.sil-compress-alt:before {
  content: "\e92f";
}
.sima-icon.sil-connect:before {
  content: "\e930";
}
.sima-icon.sil-connect-alt:before {
  content: "\e931";
}
.sima-icon.sil-edit:before {
  content: "\e932";
}
.sima-icon.sil-engine-warning:before {
  content: "\e933";
}
.sima-icon.sil-envelope:before {
  content: "\e934";
}
.sima-icon.sil-eraser:before {
  content: "\e935";
}
.sima-icon.sil-exclamation:before {
  content: "\e936";
}
.sima-icon.sil-exclamation-circle:before {
  content: "\e937";
}
.sima-icon.sil-exclamation-triangle:before {
  content: "\e938";
}
.sima-icon.sil-expand:before {
  content: "\e939";
}
.sima-icon.sil-expand-alt:before {
  content: "\e93a";
}
.sima-icon.sil-expand-arrows:before {
  content: "\e93b";
}
.sima-icon.sil-expand-arrows-alt:before {
  content: "\e93c";
}
.sima-icon.sil-expand-wide:before {
  content: "\e93d";
}
.sima-icon.sil-external-link:before {
  content: "\e93e";
}
.sima-icon.sil-external-link-alt:before {
  content: "\e93f";
}
.sima-icon.sil-external-link-square:before {
  content: "\e940";
}
.sima-icon.sil-external-link-square-alt:before {
  content: "\e941";
}
.sima-icon.sil-eye:before {
  content: "\e942";
}
.sima-icon.sil-file:before {
  content: "\e943";
}
.sima-icon.sil-file-alt:before {
  content: "\e944";
}
.sima-icon.sil-file-plus:before {
  content: "\e945";
}
.sima-icon.sil-folder:before {
  content: "\e946";
}
.sima-icon.sil-folder-open:before {
  content: "\e947";
}
.sima-icon.sil-folder-plus:before {
  content: "\e948";
}
.sima-icon.sil-folders:before {
  content: "\e949";
}
.sima-icon.sil-folder-tree:before {
  content: "\e94a";
}
.sima-icon.sil-gavel:before {
  content: "\e94b";
}
.sima-icon.sil-hashtag:before {
  content: "\e94c";
}
.sima-icon.sil-home:before {
  content: "\e94d";
}
.sima-icon.sil-home-alt:before {
  content: "\e94e";
}
.sima-icon.sil-home-heart:before {
  content: "\e94f";
}
.sima-icon.sil-home-lg:before {
  content: "\e950";
}
.sima-icon.sil-home-lg-alt:before {
  content: "\e951";
}
.sima-icon.sil-inventory:before {
  content: "\e952";
}
.sima-icon.sil-layer-plus:before {
  content: "\e953";
}
.sima-icon.sil-list:before {
  content: "\e954";
}
.sima-icon.sil-list-alt:before {
  content: "\e955";
}
.sima-icon.sil-list-ol:before {
  content: "\e956";
}
.sima-icon.sil-list-ul:before {
  content: "\e957";
}
.sima-icon.sil-lock-alt:before {
  content: "\e958";
}
.sima-icon.sil-long-arrow-alt-down:before {
  content: "\e959";
}
.sima-icon.sil-long-arrow-down:before {
  content: "\e95a";
}
.sima-icon.sil-marker:before {
  content: "\e95b";
}
.sima-icon.sil-maximize:before {
  content: "\e95c";
}
.sima-icon.sil-network-wired:before {
  content: "\e95d";
}
.sima-icon.sil-pallet:before {
  content: "\e95e";
}
.sima-icon.sil-pallet-alt:before {
  content: "\e95f";
}
.sima-icon.sil-pen:before {
  content: "\e960";
}
.sima-icon.sil-pen-alt:before {
  content: "\e961";
}
.sima-icon.sil-pencil:before {
  content: "\e962";
}
.sima-icon.sil-pencil-alt:before {
  content: "\e963";
}
.sima-icon.sil-pen-fancy:before {
  content: "\e964";
}
.sima-icon.sil-pen-nib:before {
  content: "\e965";
}
.sima-icon.sil-plug:before {
  content: "\e966";
}
.sima-icon.sil-plus:before {
  content: "\e967";
}
.sima-icon.sil-plus-circle:before {
  content: "\e968";
}
.sima-icon.sil-plus-hexagon:before {
  content: "\e969";
}
.sima-icon.sil-plus-octagon:before {
  content: "\e96a";
}
.sima-icon.sil-plus-square:before {
  content: "\e96b";
}
.sima-icon.sil-power-off:before {
  content: "\e96c";
}
.sima-icon.sil-question-circle:before {
  content: "\e96d";
}
.sima-icon.sil-sigma:before {
  content: "\e96e";
}
.sima-icon.sil-sign-out:before {
  content: "\e96f";
}
.sima-icon.sil-sign-out-alt:before {
  content: "\e970";
}
.sima-icon.sil-slash:before {
  content: "\e971";
}
.sima-icon.sil-sort-down:before {
  content: "\e972";
}
.sima-icon.sil-sort-up:before {
  content: "\e973";
}
.sima-icon.sil-stamp:before {
  content: "\e974";
}
.sima-icon.sil-tablet:before {
  content: "\e975";
}
.sima-icon.sil-tablet-alt:before {
  content: "\e976";
}
.sima-icon.sil-tablet-android:before {
  content: "\e977";
}
.sima-icon.sil-times:before {
  content: "\e978";
}
.sima-icon.sil-times-circle:before {
  content: "\e979";
}
.sima-icon.sil-tools:before {
  content: "\e97a";
}
.sima-icon.sil-trash:before {
  content: "\e97b";
}
.sima-icon.sil-trash-alt:before {
  content: "\e97c";
}
.sima-icon.sil-truck:before {
  content: "\e97d";
}
.sima-icon.sil-truck-container:before {
  content: "\e97e";
}
.sima-icon.sil-truck-couch:before {
  content: "\e97f";
}
.sima-icon.sil-truck-loading:before {
  content: "\e980";
}
.sima-icon.sil-truck-monster:before {
  content: "\e981";
}
.sima-icon.sil-truck-moving:before {
  content: "\e982";
}
.sima-icon.sil-truck-pickup:before {
  content: "\e983";
}
.sima-icon.sil-truck-plow:before {
  content: "\e984";
}
.sima-icon.sil-truck-ramp:before {
  content: "\e985";
}
.sima-icon.sil-university:before {
  content: "\e986";
}
.sima-icon.sil-unlock-alt:before {
  content: "\e987";
}
.sima-icon.sil-user-cog:before {
  content: "\e988";
}
.sima-icon.sil-user-edit:before {
  content: "\e989";
}
.sima-icon.sil-user-plus:before {
  content: "\e98a";
}
.sima-icon.sil-users:before {
  content: "\e98b";
}
.sima-icon.sil-users-cog:before {
  content: "\e98c";
}
.sima-icon.sil-warehouse:before {
  content: "\e98d";
}
.sima-icon.sil-warehouse-alt:before {
  content: "\e98e";
}
.sima-icon.sil-window:before {
  content: "\e98f";
}
.sima-icon.sil-window-alt:before {
  content: "\e990";
}
.sima-icon.sil-window-close:before {
  content: "\e991";
}
.sima-icon.sil-window-maximize:before {
  content: "\e992";
}
.sima-icon.sil-window-minimize:before {
  content: "\e993";
}
.sima-icon.sil-window-restore:before {
  content: "\e994";
}
.sima-icon.sir-address-book:before {
  content: "\e995";
}
.sima-icon.sir-angle-down:before {
  content: "\e996";
}
.sima-icon.sir-angle-left:before {
  content: "\e997";
}
.sima-icon.sir-angle-right:before {
  content: "\e998";
}
.sima-icon.sir-angle-up:before {
  content: "\e999";
}
.sima-icon.sir-archive:before {
  content: "\e99a";
}
.sima-icon.sir-arrow-down:before {
  content: "\e99b";
}
.sima-icon.sir-arrows-alt-v:before {
  content: "\e99c";
}
.sima-icon.sir-arrows-v:before {
  content: "\e99d";
}
.sima-icon.sir-badge:before {
  content: "\e99e";
}
.sima-icon.sir-badge-check:before {
  content: "\e99f";
}
.sima-icon.sir-balance-scale:before {
  content: "\e9a0";
}
.sima-icon.sir-balance-scale-left:before {
  content: "\e9a1";
}
.sima-icon.sir-balance-scale-right:before {
  content: "\e9a2";
}
.sima-icon.sir-ban:before {
  content: "\e9a3";
}
.sima-icon.sir-bell:before {
  content: "\e9a4";
}
.sima-icon.sir-bells:before {
  content: "\e9a5";
}
.sima-icon.sir-book:before {
  content: "\e9a6";
}
.sima-icon.sir-book-alt:before {
  content: "\e9a7";
}
.sima-icon.sir-books:before {
  content: "\e9a8";
}
.sima-icon.sir-boxes:before {
  content: "\e9a9";
}
.sima-icon.sir-boxes-alt:before {
  content: "\e9aa";
}
.sima-icon.sir-bug:before {
  content: "\e9ab";
}
.sima-icon.sir-cabinet-filing:before {
  content: "\e9ac";
}
.sima-icon.sir-calendar-check:before {
  content: "\e9ad";
}
.sima-icon.sir-car-building:before {
  content: "\e9ae";
}
.sima-icon.sir-car-building-alt:before {
  content: "\e9af";
}
.sima-icon.sir-caret-circle-down:before {
  content: "\e9b0";
}
.sima-icon.sir-caret-down:before {
  content: "\e9b1";
}
.sima-icon.sir-caret-left:before {
  content: "\e9b2";
}
.sima-icon.sir-caret-right:before {
  content: "\e9b3";
}
.sima-icon.sir-caret-square-down:before {
  content: "\e9b4";
}
.sima-icon.sir-caret-up:before {
  content: "\e9b5";
}
.sima-icon.sir-check:before {
  content: "\e9b6";
}
.sima-icon.sir-check-circle:before {
  content: "\e9b7";
}
.sima-icon.sir-chevron-circle-down:before {
  content: "\e9b8";
}
.sima-icon.sir-chevron-down:before {
  content: "\e9b9";
}
.sima-icon.sir-chevron-left:before {
  content: "\e9ba";
}
.sima-icon.sir-chevron-right:before {
  content: "\e9bb";
}
.sima-icon.sir-chevron-square-down:before {
  content: "\e9bc";
}
.sima-icon.sir-chevron-up:before {
  content: "\e9bd";
}
.sima-icon.sir-circles-overlapping:before {
  content: "\e9be";
}
.sima-icon.sir-clipboard-list-check:before {
  content: "\e9bf";
}
.sima-icon.sir-comments:before {
  content: "\e9c0";
}
.sima-icon.sir-comments-alt:before {
  content: "\e9c1";
}
.sima-icon.sir-compress-alt:before {
  content: "\e9c2";
}
.sima-icon.sir-connect:before {
  content: "\e9c3";
}
.sima-icon.sir-connect-alt:before {
  content: "\e9c4";
}
.sima-icon.sir-edit:before {
  content: "\e9c5";
}
.sima-icon.sir-engine-warning:before {
  content: "\e9c6";
}
.sima-icon.sir-envelope:before {
  content: "\e9c7";
}
.sima-icon.sir-eraser:before {
  content: "\e9c8";
}
.sima-icon.sir-exclamation:before {
  content: "\e9c9";
}
.sima-icon.sir-exclamation-circle:before {
  content: "\e9ca";
}
.sima-icon.sir-exclamation-triangle:before {
  content: "\e9cb";
}
.sima-icon.sir-expand:before {
  content: "\e9cc";
}
.sima-icon.sir-expand-alt:before {
  content: "\e9cd";
}
.sima-icon.sir-expand-arrows:before {
  content: "\e9ce";
}
.sima-icon.sir-expand-arrows-alt:before {
  content: "\e9cf";
}
.sima-icon.sir-expand-wide:before {
  content: "\e9d0";
}
.sima-icon.sir-external-link:before {
  content: "\e9d1";
}
.sima-icon.sir-external-link-alt:before {
  content: "\e9d2";
}
.sima-icon.sir-external-link-square:before {
  content: "\e9d3";
}
.sima-icon.sir-external-link-square-alt:before {
  content: "\e9d4";
}
.sima-icon.sir-eye:before {
  content: "\e9d5";
}
.sima-icon.sir-file:before {
  content: "\e9d6";
}
.sima-icon.sir-file-alt:before {
  content: "\e9d7";
}
.sima-icon.sir-file-plus:before {
  content: "\e9d8";
}
.sima-icon.sir-folder:before {
  content: "\e9d9";
}
.sima-icon.sir-folder-open:before {
  content: "\e9da";
}
.sima-icon.sir-folder-plus:before {
  content: "\e9db";
}
.sima-icon.sir-folders:before {
  content: "\e9dc";
}
.sima-icon.sir-folder-tree:before {
  content: "\e9dd";
}
.sima-icon.sir-gavel:before {
  content: "\e9de";
}
.sima-icon.sir-hashtag:before {
  content: "\e9df";
}
.sima-icon.sir-home:before {
  content: "\e9e0";
}
.sima-icon.sir-home-alt:before {
  content: "\e9e1";
}
.sima-icon.sir-home-heart:before {
  content: "\e9e2";
}
.sima-icon.sir-home-lg:before {
  content: "\e9e3";
}
.sima-icon.sir-home-lg-alt:before {
  content: "\e9e4";
}
.sima-icon.sir-inventory:before {
  content: "\e9e5";
}
.sima-icon.sir-layer-plus:before {
  content: "\e9e6";
}
.sima-icon.sir-list:before {
  content: "\e9e7";
}
.sima-icon.sir-list-alt:before {
  content: "\e9e8";
}
.sima-icon.sir-list-ol:before {
  content: "\e9e9";
}
.sima-icon.sir-list-ul:before {
  content: "\e9ea";
}
.sima-icon.sir-lock-alt:before {
  content: "\e9eb";
}
.sima-icon.sir-long-arrow-alt-down:before {
  content: "\e9ec";
}
.sima-icon.sir-long-arrow-down:before {
  content: "\e9ed";
}
.sima-icon.sir-marker:before {
  content: "\e9ee";
}
.sima-icon.sir-network-wired:before {
  content: "\e9ef";
}
.sima-icon.sir-pallet:before {
  content: "\e9f0";
}
.sima-icon.sir-pallet-alt:before {
  content: "\e9f1";
}
.sima-icon.sir-pen:before {
  content: "\e9f2";
}
.sima-icon.sir-pen-alt:before {
  content: "\e9f3";
}
.sima-icon.sir-pencil:before {
  content: "\e9f4";
}
.sima-icon.sir-pencil-alt:before {
  content: "\e9f5";
}
.sima-icon.sir-pen-fancy:before {
  content: "\e9f6";
}
.sima-icon.sir-pen-nib:before {
  content: "\e9f7";
}
.sima-icon.sir-plug:before {
  content: "\e9f8";
}
.sima-icon.sir-plus:before {
  content: "\e9f9";
}
.sima-icon.sir-plus-circle:before {
  content: "\e9fa";
}
.sima-icon.sir-plus-hexagon:before {
  content: "\e9fb";
}
.sima-icon.sir-plus-octagon:before {
  content: "\e9fc";
}
.sima-icon.sir-plus-square:before {
  content: "\e9fd";
}
.sima-icon.sir-power-off:before {
  content: "\e9fe";
}
.sima-icon.sir-question-circle:before {
  content: "\e9ff";
}
.sima-icon.sir-sigma:before {
  content: "\ea00";
}
.sima-icon.sir-sign-out:before {
  content: "\ea01";
}
.sima-icon.sir-sign-out-alt:before {
  content: "\ea02";
}
.sima-icon.sir-slash:before {
  content: "\ea03";
}
.sima-icon.sir-sort-down:before {
  content: "\ea04";
}
.sima-icon.sir-sort-up:before {
  content: "\ea05";
}
.sima-icon.sir-stamp:before {
  content: "\ea06";
}
.sima-icon.sir-tablet:before {
  content: "\ea07";
}
.sima-icon.sir-tablet-alt:before {
  content: "\ea08";
}
.sima-icon.sir-tablet-android:before {
  content: "\ea09";
}
.sima-icon.sir-times:before {
  content: "\ea0a";
}
.sima-icon.sir-times-circle:before {
  content: "\ea0b";
}
.sima-icon.sir-tools:before {
  content: "\ea0c";
}
.sima-icon.sir-trash:before {
  content: "\ea0d";
}
.sima-icon.sir-trash-alt:before {
  content: "\ea0e";
}
.sima-icon.sir-truck:before {
  content: "\ea0f";
}
.sima-icon.sir-truck-container:before {
  content: "\ea10";
}
.sima-icon.sir-truck-couch:before {
  content: "\ea11";
}
.sima-icon.sir-truck-loading:before {
  content: "\ea12";
}
.sima-icon.sir-truck-monster:before {
  content: "\ea13";
}
.sima-icon.sir-truck-moving:before {
  content: "\ea14";
}
.sima-icon.sir-truck-pickup:before {
  content: "\ea15";
}
.sima-icon.sir-truck-plow:before {
  content: "\ea16";
}
.sima-icon.sir-truck-ramp:before {
  content: "\ea17";
}
.sima-icon.sir-university:before {
  content: "\ea18";
}
.sima-icon.sir-unlock-alt:before {
  content: "\ea19";
}
.sima-icon.sir-user-cog:before {
  content: "\ea1a";
}
.sima-icon.sir-user-edit:before {
  content: "\ea1b";
}
.sima-icon.sir-user-plus:before {
  content: "\ea1c";
}
.sima-icon.sir-users:before {
  content: "\ea1d";
}
.sima-icon.sir-users-cog:before {
  content: "\ea1e";
}
.sima-icon.sir-warehouse:before {
  content: "\ea1f";
}
.sima-icon.sir-warehouse-alt:before {
  content: "\ea20";
}
.sima-icon.sir-window:before {
  content: "\ea21";
}
.sima-icon.sir-window-alt:before {
  content: "\ea22";
}
.sima-icon.sir-window-close:before {
  content: "\ea23";
}
.sima-icon.sir-window-maximize:before {
  content: "\ea24";
}
.sima-icon.sir-window-minimize:before {
  content: "\ea25";
}
.sima-icon.sir-window-restore:before {
  content: "\ea26";
}
.sima-icon.sis-address-book:before {
  content: "\ea27";
}
.sima-icon.sis-angle-down:before {
  content: "\ea28";
}
.sima-icon.sis-angle-left:before {
  content: "\ea29";
}
.sima-icon.sis-angle-right:before {
  content: "\ea2a";
}
.sima-icon.sis-angle-up:before {
  content: "\ea2b";
}
.sima-icon.sis-archive:before {
  content: "\ea2c";
}
.sima-icon.sis-arrow-down:before {
  content: "\ea2d";
}
.sima-icon.sis-arrows-alt-v:before {
  content: "\ea2e";
}
.sima-icon.sis-arrows-v:before {
  content: "\ea2f";
}
.sima-icon.sis-badge:before {
  content: "\ea30";
}
.sima-icon.sis-badge-check:before {
  content: "\ea31";
}
.sima-icon.sis-balance-scale:before {
  content: "\ea32";
}
.sima-icon.sis-balance-scale-left:before {
  content: "\ea33";
}
.sima-icon.sis-balance-scale-right:before {
  content: "\ea34";
}
.sima-icon.sis-ban:before {
  content: "\ea35";
}
.sima-icon.sis-bell:before {
  content: "\ea36";
}
.sima-icon.sis-bells:before {
  content: "\ea37";
}
.sima-icon.sis-book:before {
  content: "\ea38";
}
.sima-icon.sis-book-alt:before {
  content: "\ea39";
}
.sima-icon.sis-books:before {
  content: "\ea3a";
}
.sima-icon.sis-boxes:before {
  content: "\ea3b";
}
.sima-icon.sis-boxes-alt:before {
  content: "\ea3c";
}
.sima-icon.sis-bug:before {
  content: "\ea3d";
}
.sima-icon.sis-cabinet-filing:before {
  content: "\ea3e";
}
.sima-icon.sis-calendar-check:before {
  content: "\ea3f";
}
.sima-icon.sis-car-building:before {
  content: "\ea40";
}
.sima-icon.sis-car-building-alt:before {
  content: "\ea41";
}
.sima-icon.sis-caret-circle-down:before {
  content: "\ea42";
}
.sima-icon.sis-caret-down:before {
  content: "\ea43";
}
.sima-icon.sis-caret-left:before {
  content: "\ea44";
}
.sima-icon.sis-caret-right:before {
  content: "\ea45";
}
.sima-icon.sis-caret-square-down:before {
  content: "\ea46";
}
.sima-icon.sis-caret-up:before {
  content: "\ea47";
}
.sima-icon.sis-check:before {
  content: "\ea48";
}
.sima-icon.sis-check-circle:before {
  content: "\ea49";
}
.sima-icon.sis-chevron-circle-down:before {
  content: "\ea4a";
}
.sima-icon.sis-chevron-down:before {
  content: "\ea4b";
}
.sima-icon.sis-chevron-left:before {
  content: "\ea4c";
}
.sima-icon.sis-chevron-right:before {
  content: "\ea4d";
}
.sima-icon.sis-chevron-square-down:before {
  content: "\ea4e";
}
.sima-icon.sis-chevron-up:before {
  content: "\ea4f";
}
.sima-icon.sis-circles-overlapping:before {
  content: "\ea50";
}
.sima-icon.sis-clipboard-list-check:before {
  content: "\ea51";
}
.sima-icon.sis-comments:before {
  content: "\ea52";
}
.sima-icon.sis-comments-alt:before {
  content: "\ea53";
}
.sima-icon.sis-compress-alt:before {
  content: "\ea54";
}
.sima-icon.sis-connect:before {
  content: "\ea55";
}
.sima-icon.sis-connect-alt:before {
  content: "\ea56";
}
.sima-icon.sis-edit:before {
  content: "\ea57";
}
.sima-icon.sis-engine-warning:before {
  content: "\ea58";
}
.sima-icon.sis-envelope:before {
  content: "\ea59";
}
.sima-icon.sis-eraser:before {
  content: "\ea5a";
}
.sima-icon.sis-exclamation:before {
  content: "\ea5b";
}
.sima-icon.sis-exclamation-circle:before {
  content: "\ea5c";
}
.sima-icon.sis-exclamation-triangle:before {
  content: "\ea5d";
}
.sima-icon.sis-expand:before {
  content: "\ea5e";
}
.sima-icon.sis-expand-alt:before {
  content: "\ea5f";
}
.sima-icon.sis-expand-arrows:before {
  content: "\ea60";
}
.sima-icon.sis-expand-arrows-alt:before {
  content: "\ea61";
}
.sima-icon.sis-expand-wide:before {
  content: "\ea62";
}
.sima-icon.sis-external-link:before {
  content: "\ea63";
}
.sima-icon.sis-external-link-alt:before {
  content: "\ea64";
}
.sima-icon.sis-external-link-square:before {
  content: "\ea65";
}
.sima-icon.sis-external-link-square-alt:before {
  content: "\ea66";
}
.sima-icon.sis-eye:before {
  content: "\ea67";
}
.sima-icon.sis-file:before {
  content: "\ea68";
}
.sima-icon.sis-file-alt:before {
  content: "\ea69";
}
.sima-icon.sis-file-plus:before {
  content: "\ea6a";
}
.sima-icon.sis-folder:before {
  content: "\ea6b";
}
.sima-icon.sis-folder-open:before {
  content: "\ea6c";
}
.sima-icon.sis-folder-plus:before {
  content: "\ea6d";
}
.sima-icon.sis-folders:before {
  content: "\ea6e";
}
.sima-icon.sis-folder-tree:before {
  content: "\ea6f";
}
.sima-icon.sis-gavel:before {
  content: "\ea70";
}
.sima-icon.sis-hashtag:before {
  content: "\ea71";
}
.sima-icon.sis-home:before {
  content: "\ea72";
}
.sima-icon.sis-home-alt:before {
  content: "\ea73";
}
.sima-icon.sis-home-heart:before {
  content: "\ea74";
}
.sima-icon.sis-home-lg:before {
  content: "\ea75";
}
.sima-icon.sis-home-lg-alt:before {
  content: "\ea76";
}
.sima-icon.sis-inventory:before {
  content: "\ea77";
}
.sima-icon.sis-layer-plus:before {
  content: "\ea78";
}
.sima-icon.sis-list:before {
  content: "\ea79";
}
.sima-icon.sis-list-alt:before {
  content: "\ea7a";
}
.sima-icon.sis-list-ol:before {
  content: "\ea7b";
}
.sima-icon.sis-list-ul:before {
  content: "\ea7c";
}
.sima-icon.sis-lock-alt:before {
  content: "\ea7d";
}
.sima-icon.sis-long-arrow-alt-down:before {
  content: "\ea7e";
}
.sima-icon.sis-long-arrow-down:before {
  content: "\ea7f";
}
.sima-icon.sis-marker:before {
  content: "\ea80";
}
.sima-icon.sis-network-wired:before {
  content: "\ea81";
}
.sima-icon.sis-pallet:before {
  content: "\ea82";
}
.sima-icon.sis-pallet-alt:before {
  content: "\ea83";
}
.sima-icon.sis-pen:before {
  content: "\ea84";
}
.sima-icon.sis-pen-alt:before {
  content: "\ea85";
}
.sima-icon.sis-pencil:before {
  content: "\ea86";
}
.sima-icon.sis-pencil-alt:before {
  content: "\ea87";
}
.sima-icon.sis-pen-fancy:before {
  content: "\ea88";
}
.sima-icon.sis-pen-nib:before {
  content: "\ea89";
}
.sima-icon.sis-plug:before {
  content: "\ea8a";
}
.sima-icon.sis-plus:before {
  content: "\ea8b";
}
.sima-icon.sis-plus-circle:before {
  content: "\ea8c";
}
.sima-icon.sis-plus-hexagon:before {
  content: "\ea8d";
}
.sima-icon.sis-plus-octagon:before {
  content: "\ea8e";
}
.sima-icon.sis-plus-square:before {
  content: "\ea8f";
}
.sima-icon.sis-power-off:before {
  content: "\ea90";
}
.sima-icon.sis-question-circle:before {
  content: "\ea91";
}
.sima-icon.sis-sigma:before {
  content: "\ea92";
}
.sima-icon.sis-sign-out:before {
  content: "\ea93";
}
.sima-icon.sis-sign-out-alt:before {
  content: "\ea94";
}
.sima-icon.sis-sima:before {
  content: "\ea95";
}
.sima-icon.sis-slash:before {
  content: "\ea96";
}
.sima-icon.sis-sort-down:before {
  content: "\ea97";
}
.sima-icon.sis-sort-up:before {
  content: "\ea98";
}
.sima-icon.sis-stamp:before {
  content: "\ea99";
}
.sima-icon.sis-tablet:before {
  content: "\ea9a";
}
.sima-icon.sis-tablet-alt:before {
  content: "\ea9b";
}
.sima-icon.sis-tablet-android:before {
  content: "\ea9c";
}
.sima-icon.sis-times:before {
  content: "\ea9d";
}
.sima-icon.sis-times-circle:before {
  content: "\ea9e";
}
.sima-icon.sis-tools:before {
  content: "\ea9f";
}
.sima-icon.sis-trash:before {
  content: "\eaa0";
}
.sima-icon.sis-trash-alt:before {
  content: "\eaa1";
}
.sima-icon.sis-truck:before {
  content: "\eaa2";
}
.sima-icon.sis-truck-container:before {
  content: "\eaa3";
}
.sima-icon.sis-truck-couch:before {
  content: "\eaa4";
}
.sima-icon.sis-truck-loading:before {
  content: "\eaa5";
}
.sima-icon.sis-truck-monster:before {
  content: "\eaa6";
}
.sima-icon.sis-truck-moving:before {
  content: "\eaa7";
}
.sima-icon.sis-truck-pickup:before {
  content: "\eaa8";
}
.sima-icon.sis-truck-plow:before {
  content: "\eaa9";
}
.sima-icon.sis-truck-ramp:before {
  content: "\eaaa";
}
.sima-icon.sis-university:before {
  content: "\eaab";
}
.sima-icon.sis-unlock-alt:before {
  content: "\eaac";
}
.sima-icon.sis-user-cog:before {
  content: "\eaad";
}
.sima-icon.sis-user-edit:before {
  content: "\eaae";
}
.sima-icon.sis-user-plus:before {
  content: "\eaaf";
}
.sima-icon.sis-users:before {
  content: "\eab0";
}
.sima-icon.sis-users-cog:before {
  content: "\eab1";
}
.sima-icon.sis-warehouse:before {
  content: "\eab2";
}
.sima-icon.sis-warehouse-alt:before {
  content: "\eab3";
}
.sima-icon.sis-window:before {
  content: "\eab4";
}
.sima-icon.sis-window-alt:before {
  content: "\eab5";
}
.sima-icon.sis-window-close:before {
  content: "\eab6";
}
.sima-icon.sis-window-maximize:before {
  content: "\eab7";
}
.sima-icon.sis-window-minimize:before {
  content: "\eab8";
}
.sima-icon.sis-window-restore:before {
  content: "\eab9";
}
