
$sima_btn_HEIGHT_WIDTH_sima_icon_transparent_full: 20px; /* height * width */
$sima_btn_FONT_color_transparent_full-active: #0079d3; /* font-color */

.partner-options {
    position: relative;
    .content-model-options {
        display: flex;
        background: white;
        position: absolute;
        right: 20px;
        border: 1px solid lightgrey;
        padding: 3px;
    }
    .sima-btn, .sima-btn-group .sima-icon {
        padding: 0;
        box-shadow: none;
        color: #333;
        border-color: transparent;
        background-color: transparent;
        width: $sima_btn_HEIGHT_WIDTH_sima_icon_transparent_full;
        &:hover {
            color: #000;
            border-color: transparent;
            background-color: transparent;
        }
        &:active {
            color: $sima_btn_FONT_color_transparent_full-active; 
        }
        &._disabled {
            border-color: transparent;
            background-color: transparent;
        }
    }
    .popper-inner {
        display: flex;
        min-height: 40px;
        min-width: 100px;
        padding: 0 5px !important;
    }
}/* end partner-options */