/*
prva colona (red '.row') puna sirina
*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container div:not(.row){
    flex: 1;
}
.container .row{
    width: 100%;
}

