.import-bill-of-quantity
{
    
}
.import-bill-of-quantity .content-preview-panel {
    position: relative;
}
.import-bill-of-quantity .content-preview-panel .iboq-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-color: grey;
    z-index: 10;
}
.import-bill-of-quantity .menu{
    padding: 15px;
    border-bottom: 1px solid grey;
}

/* Tabela za prikaz podataka */
.import-bill-of-quantity .content-preview-table, 
.import-bill-of-quantity .content-preview-table td, 
.import-bill-of-quantity .content-preview-table tr {
    border: 1px solid black;
}
.import-bill-of-quantity .content-preview-table td {
    padding: 5px;
}
.import-bill-of-quantity .content-preview-table-cell{
    text-align: right;
}

/* Importovana tabela - levi panel*/
.import-bill-of-quantity .imported-content-panel, 
.import-bill-of-quantity .imported-content-panel .mce-tinymce, 
.import-bill-of-quantity .imported-content-panel .mce-stack-layout, 
.import-bill-of-quantity .imported-content-panel .mce-edit-area{
    display: flex!important;
    flex-direction: column;
    flex: 1;
    align-items:stretch;
}
.import-bill-of-quantity .imported-content-panel .mce-tinymce iframe {
    flex: 1;
}
.import-bill-of-quantity .imported-content-table table, 
.import-bill-of-quantity .imported-content-table td, 
.import-bill-of-quantity .imported-content-table tr {
   border: 1px solid black; 
}
/*.import-bill-of-quantity .imported-content-table tr:hover{
    background-color: lightblue;
}
.import-bill-of-quantity .imported-content-table td:hover{
    background-color: #c2eeff;
}*/
.import-bill-of-quantity .imported-content-table td {
    background-color: transparent;
}
.import-bill-of-quantity .imported-content-table table {
  overflow: hidden;
}
.import-bill-of-quantity .imported-content-table td, 
.import-bill-of-quantity .imported-content-table th {
  position: relative;
  outline: 0;
}
.import-bill-of-quantity .imported-content-table td:hover::after,
.import-bill-of-quantity .imported-content-table thead th:not(:empty):hover::after,
.import-bill-of-quantity .imported-content-table td:focus::after,
.import-bill-of-quantity .imported-content-table thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}
.import-bill-of-quantity .imported-content-table td:hover::after,
.import-bill-of-quantity .imported-content-table th:hover::after
{
  background-color: #c2eeff !important;
}

.import-bill-of-quantity .imported-content-table td:focus::after,
.import-bill-of-quantity .imported-content-table th:focus::after {
  background-color: lightblue !important;
}
.import-bill-of-quantity .imported-content-table .imported-content-table-first-row {
    border-top: 2px solid #37a4db !important;
}
.import-bill-of-quantity .imported-content-table .imported-content-table-last-row {
    border-bottom: 2px solid #37a4db !important;
}
.import-bill-of-quantity .imported-content-table .imported-content-table-column {
    border-left: 2px solid #37a4db !important;
    border-right: 2px solid #37a4db !important;
    background-color: #c2eeff !important;
}
.import-bill-of-quantity .iboq-table-cell-wrapper-long-text {
    white-space: nowrap; 
    max-height: 18px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis; 
    line-height: 18px;
}

.import-bill-of-quantity .layout-segment-title{
    margin: 5px;
}
.import-bill-of-quantity .layout-segment {
    margin: 5px;
}
.import-bill-of-quantity .content-center {
    text-align: center;
}

.import-bill-of-quantity .column-link-btn {
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    cursor: pointer;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.import-bill-of-quantity .column-link-btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.import-bill-of-quantity .column-link-btn:active {
	position:relative;
	top:1px;
}
.import-bill-of-quantity .column-link-object-btn {
    display:inline-block;
    border:1px solid #dcdcdc;
    min-width: 200px;
}
.import-bill-of-quantity .column-link-object-btn .column-link-btn {
    margin: 0;
}
.import-bill-of-quantity .column-link-object-title {
    text-align: center;
    padding: 5px;
}
.import-bill-of-quantity .column-link-object-btn-left {
    border:none;
    border-top:1px solid #dcdcdc;
}
.import-bill-of-quantity .column-link-object-btn-right {
    border:none;
    border-top:1px solid #dcdcdc;
    border-left:1px solid #dcdcdc;
}

/* Povezani objekti */
.import-bill-of-quantity .iboq-linked {
    border: 2px solid #37a4db;
    background: #c2eeff;
}

.import-bill-of-quantity .iboq-flex {
    display: flex;
    align-items: flex-end;
}
.import-bill-of-quantity .iboq-flex-rows {
    flex-direction: column;
}
.import-bill-of-quantity .iboq-flex-row {
    display: flex;
    flex-flow: row wrap;
/*    flex: 1 1 auto;*/
}
.import-bill-of-quantity .iboq-flex-item {
/*    flex: 1;*/
    margin: 2px;  
}
.import-bill-of-quantity .iboq-flex-item-auto {
    flex: 1 1 auto; 
}

.import-bill-of-quantity .iboq-hidden {
    display: none;
}

.import-bill-of-quantity .btn-decimal {
    margin: 2px;
}