
@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0 auto;
    position:relative;
    font-family: 'open_sansregular';
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-size:3.2mm;
}

#container {
    margin:0 auto;
    padding:0;
}

header {
    padding-bottom:4.8mm;
    overflow:hidden;
    position:relative;
    border-bottom: 0.5mm solid #363a45;
}

header img {
    margin-right:7.9mm;
    float:left;
    width: 16.4mm;
    height: 16.4mm;
}

header .content-wrap {
    width: calc(100% - 25mm);
}

header .content {
    float:left;
    position:relative;
    width: 26%;
    height: 16.4mm;
    padding-left:2.6mm;
    border-left: 0.3mm solid #888;	
}

header .content ul {
    position:absolute;
    bottom:0;
}

header .content ul li {
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

header .content ul li span {
    font-weight: bold;
}

.main .title {
    text-align:center;
    margin-top: 19.8mm;
}

.main .title h1 {
    font-size:5.3mm;
    font-weight:bold;
}

.main .title h1 span {
    margin-top: 1.3mm;
    display: block;
    font-weight: normal;
    font-size:3.2mm;
}

.main .content {
    margin-top: 10.6mm;
}

/* TABLE */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top:5.3mm;
    border-bottom: 0.3mm solid #999;
    font-size:2mm;
}

.table tr {
    page-break-inside: avoid !important;
}

.table tr:not(.group-name):not(.divider):not(.divider-half):nth-child(even) {
    background-color: #d0d0d0;
}

.table th {
    font-weight: bold;
    background-color: #363a45;
    color: white;
}

.table th, .table td {
    border: 0.3mm solid #fff !important;
    padding: 1.3mm !important;
    text-align: center;
    vertical-align: middle;
}

.group-name {
    border-bottom: 0.5mm solid #363a45;
    color: #363a45;
    font-size: 3.3mm;
    text-align: left;
    font-weight: bold;
}

.divider {
    height: 6mm;
}

.divider-half {
    height: 3mm;
}

.balance {
    background-color: #909090 !important;
}

.table td.no-border-left {
    border-left: none !important;
}

.table td.no-border-left-right {
    border-left: none !important;
    border-right: none !important;
}

.table td.no-border-right {
    border-right: none !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}