
.theme-tab-building-interim-bills-finance {
    
}

.theme-tab-building-interim-bills-finance._total {
    
}

.theme-tab-building-interim-bills-finance._total table {
    margin-top: 5px;
}

.theme-tab-building-interim-bills-finance._total thead tr {
    height: 26px;
}

.theme-tab-building-interim-bills-finance._total tbody tr {
    height: 71px;
}

.theme-tab-building-interim-bills-finance._total th, .theme-tab-building-interim-bills-finance._total td {
    padding: 5px;
    border: 1px solid #ddd;
    border-left: none;
}

.theme-tab-building-interim-bills-finance._total td._align-right {
    text-align: right;
}

.theme-tab-building-interim-bills-finance._report {
    padding: 20px;
}

.theme-tab-building-interim-bills-finance._report .finance-options {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    
}