.application-person-full-info .header{
/*    padding: 10px;*/
    overflow: hidden;
    display: flex;
}

.application-person-full-info .header-item{
/*    display: flex;*/
}

.application-person-full-info .header-item .item{
    display: flex;
}

.application-person-full-info .header-item .title {
    margin-right: 10px;
    padding: 10px;
    font-weight: bold;
}

.application-person-full-info .header-item .desc {
    padding: 10px;
}

.application-person-full-info .body {
    padding: 0 20px;
}

.application-person-full-info .body h3 {
    margin-bottom: 0;
}

.application-person-full-info .body .item .title{
    padding: 10px;
}

.application-person-full-info .body .item .desc{
    padding: 0px 10px;
    word-break: break-all;
}

.application-person-full-info .body .row {
    display: flex;
    flex-wrap: wrap;
}

.application-person-full-info .body .column {
    flex: 1;
    min-width: 300px;
}

.application-person-full-info .body .other-info ul li span {
    padding: 0;
    margin-left: -2px;
}
.application-person-full-info .body .other-info ul li {
    padding-left: 2px;
}

.application-person-full-info .right_panel .item{
    display: flex;
}

.application-person-full-info .right_panel .item .desc {
    padding: 10px;
    display: block ruby;
}

.application-person-full-info .right_panel .item .title{
    padding: 10px 0;
}

.application-person-full-info .right_panel table tr td{
    border: solid;
}

.application-person-full-info .right_panel { padding: 0 20px; }