
<div id="<?php echo $this->id; ?>" class="sima-phone-field">
    <?php
        $nextNumber = "\$('#{$this->id} .provider-number').focus()";
        Yii::app()->controller->widget('SIMASearchField', [
            'model' => $this->country,
            'onchange'=> $nextNumber,
            //'real_value'=> 'area_code',
            'name'  => 'PhoneNumber[country_id]',
            'htmlOptions' => [
                'class' => 'country-number',
                'id'    => 'country-number'
            ]
        ]);
    ?>
    <input type="text" id="provider-number" class="provider-number" name="PhoneNumber[provider_number]" value="<?=$this->provider_number?>">
    <input type="text" id="phone-number" class="phone-number" name="" value="<?=$this->phone_number?>">
    <input type="hidden" class="phone-number-only" name="PhoneNumber[phone_number]" value="<?=$this->phone_number?>">
    
    <div class="phone-field-additional-html"></div>
</div>

