.public-links{}

.public-links .public-links-table {
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #EDEDED;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    color: #000000;
}

.public-links .public-links-table td, 
.public-links .public-links-table th {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding: 5px;
}
.public-links .public-links-table .link-cell {
    text-align: center;
}
.public-links .pl-table-body tr:hover .options{
    visibility: visible;
}
.public-links .public-links-table thead {
    background-color: #C9C9C9;
}
.public-links .options {
    float: right;
    padding-right: 5px;
    visibility: hidden;
}

.public-links .counter {
    color: white;
    background-color: mediumseagreen;
    border-radius: 100%;
    padding: 5px 9px;   
    cursor: default;
    display: inline-block;
}
.public-links .counter-zero {
    background-color: lightcoral;
}
.public-links .arrow-column {
    align-self: center;
    max-width: 20px;
    height: 27px;
}
.public-links .angle-right {
    display: inline-block;
    transition-duration: 0.2s;
    transition-property: transform;
    padding: 4px;
    cursor: pointer;
    vertical-align: text-bottom;
    font-size: 18px;
}
.public-links .angle-right:hover {
    color: grey;
    font-size: 23px;
}
.public-links .down {
    transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg);
}
.public-links .right {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg);
}
.public-links .hidden {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
.public-links .show {
    max-height: 300px;
    transition: max-height 0.25s ease-in;   
}
.public-links .selected-row-is-expanded td {
    border-bottom: none;
}
.public-links .expanded-row-template {
/*    display: none;*/
}
.public-links .expanded-row td {
    border-bottom-width: 0;
    padding: 0;
}
.public-links .expanded-row .expanded-cell{
    padding-bottom: 5px;
    border-bottom-width: 1px;
}
.public-links .expanded-cell-content {
    padding: 3px;
    margin: 5px;
    box-shadow: 0px 1px 4px 1px #ccc;
    background-color: #f2f2f2;  
    max-height: 280px;
    overflow-y: auto
}
.public-links .created-by {
    display: flex;
}
.public-links .created-by .work-position{
    max-width: 200px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.public-links .profile {
    position: relative;
    font-size: 16px;
    padding-right: 5px;
}
.public-links .profile .image {
    width: 32px;
    height: 32px;
}          
.public-links .user-desc {
    position: relative;
    display: inline-grid;
}
.public-links .light {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaa;
    font-weight: 300;
    padding: 0 20px 0 0;
}

