.sima-partner-field-result-list {
    padding: 5px;
    border: 1px solid lightgray;
    background-color: #e8e8e8;
    position: absolute;
/*    overflow-y: auto;*/
    overflow-y: scroll;
    max-height: 350px;
    min-width: 400px;
    z-index: 101;
}

.sima-partner-field-result-list ul {
    margin: 2px;
    padding: 2px;
}
.sima-partner-field-result-list ul, 
.sima-partner-field-result-list li {list-style-type: none;}
.sima-partner-field-result-list li {
    margin: 2px;
    padding: 2px;
}

.sima-partner-field-result-list .result-item:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}
.sima-partner-field-result-list .active-item {
    cursor: pointer;
    background-color: #c9c9c9;
}

.sima-partner-field-result-list .spf-form {
    margin-top: 10px;
    width: 100%;
}
.sima-partner-field-result-list .spf-form td{
    vertical-align: top;
}

.sima-partner-field-result-list .slideup, .sima-partner-field-result-list .slidedown {
    max-height: 0;           
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;
}
.sima-partner-field-result-list .slidedown {            
    max-height: 1200px ;/*dodato malo vise prostora zbog liste rezultata, kako bi lepo radila navigacija tastaturom (za 50 rezultata)*/
}
.sima-partner-field-result-list .slideout, .sima-partner-field-result-list .slidein {
    max-width: 0;
    padding: 0 !important;
    border-right: 0 !important;
    overflow-x: hidden;
    transition: max-width 0.4s ease-in-out;
}
.sima-partner-field-result-list .slidein {
    max-width: 400px ;
    padding: 0 !important;
    border-right: 0 !important;
}

.sima-partner-field-result-list .spf-form-field {
    width: 100%;
}
.sima-partner-field-result-list .spf-field-label {
    width: 100px;
    display: inline-block;
    text-align: right;
}
.sima-partner-field-result-list .spf-add-new-item {
    cursor: pointer;
    font-style: italic;
    margin: 10px 0px 12px 0px;
}
.sima-partner-field-result-list .spf-add-new-item:hover {
    font-weight: bold;
}
.sima-partner-field-result-list .required {
    color: red;
}
.sima-partner-field-result-list .spf-add-new-item {
    padding: 3px;
    border: 1px solid #b8b8b8;
}
.sima-partner-field-result-list .spf-add-new-item i {
    font-size: 10px;
    margin: 2px 1px 0 3px;
}
.sima-partner-field-result-list .spf-add-new-item:hover {
    background-color: #c9c9c9;
}

.sima-partner-field-result-list .sima-partner-field{
    display: inline-block; 
    width: 305px;
}
.sima-partner-field-result-list .text-field{
    width: 280px;
    border-color: rgb(169, 169, 169);
}

.sima-partner-field-result-list textarea{
    width: 276px;
    height: 50px;
}

.sima-partner-field-result-list .column-section{
    display: inline-block;
    padding: 2px;
    vertical-align: top;
}
.sima-partner-field-result-list  .column-section:first-child{
    border-right: 1px solid lightgrey;
    padding-right: 6px;
}

.sima-partner-field-result-list  .has-error{
    color: red;
}
.sima-partner-field-result-list  .error-message{
    color: red;
    font-size: 0.9em;
    text-align: right;
}
