
.sima-partner-search {
    td, th, div, p, h3, select, input, textarea, a { font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif; }
    display: flex;
    border-top: none;
    margin-top: -1px;
    z-index: 100 !important;
    width: calc(100% - 477px);
    background-color: white;
    border: 1px solid #7fbeff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .person-search, .company-search {
        flex: 1 1 100%;
        > div { 
            height: 29px;
            display: flex;
            margin: 0 10px;
            padding-bottom: 5px;
            white-space: nowrap;
            align-items: flex-end;
            border-bottom: 1px solid #eee;
            input { 
                width: 100%;
                border: none;
                padding: 0 0 0 10px;
                &::placeholder { 
                    color: #ccc;
                    font-weight: 300;
                }
            }
        }
    }/* end person-search & company-search */
    .person-search { padding: 10px 20px 20px 10px; }
    .company-search { padding: 10px 10px 20px 20px; }
}/* end sima-partner-search */
