
/* 
    Created on : Jun 11, 2014, 2:37:16 PM
    Author     : goran-set
*/

div.sima-ui-building-projects div.sima-ui-tree span.sima-ui-tree-icon {
    height: 15px;
    width: 15px;
}

div.sima-ui-building-projects div.sima-ui-tree span.sima-ui-tree-title {
    line-height: 30px;
}


div.sima-ui-building-projects div.sima-ui-tree li > span.sima-ui-building-project-tree-icon.base,
span.sima-ui-building-project-tree-icon.base{
    background-image: url(../images/base-building-project-icon.png);
}

div.sima-ui-building-projects div.sima-ui-tree li > span.sima-ui-building-project-tree-icon.book,
span.sima-ui-building-project-tree-icon.book{
    background-image: url(../images/book-building-project-icon.png);
}

div.sima-ui-building-projects div.sima-ui-tree li > span.sima-ui-building-project-tree-icon.notebook,
span.sima-ui-building-project-tree-icon.notebook{
    background-image: url(../images/notebook-building-project-icon.png);
}
div.sima-ui-building-projects div.sima-ui-tree li > span.sima-ui-building-project-tree-icon.part,
span.sima-ui-building-project-tree-icon.part{
    background-image: url(../images/notebook-part-building-project-icon.png);
}


div.sima-ui-building-projects  div.sima-ui-tree span.building-project-tree-title
{
    height:30px;
}

div.sima-ui-building-projects  div.sima-ui-building-projects-tree div.sima-ui-tree
{
    margin-top:0px;
}
div.sima-ui-building-projects-tree ul.line
{
    margin-top: 3px;
}

span.sima-building-projects-add-sheet-button.disabled
{
    opacity: 0.3;
}

div.building-project-sheet-buttons
{
    margin-left: 10px;
    float:left;
}

div.building-project-sheet-buttons span
{
    clear:both;
}

div.building_project_sheets-project-list-sheets
{
    clear: both;
    float:left;
}
div.building_project_sheet_add_container span
{
    clear: both;
    float:left;
}

.sima-build-add-bp 
{
    font-style: italic;
    padding-left: 5px;
    opacity: 0.5;
}