
.sima-pagination > div {
    display: inline-flex;
    vertical-align: middle;
}

.sima-pagination > div > span {
    margin: 0;
}

.sima-pagination-page-num-wrap {
    height: 24px;
}

.sima-pagination-curr-page-num {
    border: medium none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 25px;
    text-align: center;
}

.sima-pagination-page-num-separator {
    line-height: 24px;
}

.sima-pagination-total-page-num {
    border: medium none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 25px;
    text-align: center;
}