@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.building-measurment-sheet-report .container {
    height:100%;
}

.building-measurment-sheet-report {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.175mm;
}

.building-measurment-sheet-report .title {
    font-size: 5mm;
    font-weight: 800;
    margin: 2mm;
    float: left;
}

/* Tabela */
.building-measurment-sheet-report .bms-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 3.175mm;
    border: 0.3mm solid black;
}

.building-measurment-sheet-report .bms-table td {
    border: 0.6mm solid black;
    padding: 1.5mm;
    height: 6mm
}

/* Polje stavke */
.building-measurment-sheet-report .field {
    display: table;
    margin: 2mm 0 0 0;
}

.building-measurment-sheet-report .field-label {
    display: table-cell;
    padding-right: 1mm;
}

.building-measurment-sheet-report .underlined-inline {
    border-bottom: 0.3mm solid black;
    display: inline-block;
}

.building-measurment-sheet-report .underlined-field {
    display: table-cell;
    width: 100%;
    border-bottom: 0.3mm solid black;
}
/* Pomocne klase */
.building-measurment-sheet-report .block {
    display: block;
}

.building-measurment-sheet-report .word-no-break {
    white-space: nowrap;
}

.building-measurment-sheet-report .field-content {
/*    padding-left: 2mm;*/
}

.building-measurment-sheet-report .center-content {
    width: 100%;
    text-align: center;
}

.building-measurment-sheet-report .text-center {
    text-align: center;
}

/* Ostali stilovi */
.building-measurment-sheet-report .page-num {
    display: inline-block;
    float: right;
    margin: 2mm;
}

.building-measurment-sheet-report .sheet-item {
    margin: 2mm;
}

.building-measurment-sheet-report .sheet-item div {
    margin: 0.5mm;
}

.building-measurment-sheet-report .table-content-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.building-measurment-sheet-report .table-content-row {
    display: table-row;
}
.building-measurment-sheet-report .table-content-cell {
    display: table-cell;
    width: 100%;
}
.building-measurment-sheet-report .to-transfer {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
}
