/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2015, 1:04:43 PM
    Author     : milos
*/

.paycheck-table-div
{
    float: left;
    margin: 5px;
}

.paycheck-table-div table
{
    margin-bottom: 10px;
}

.paycheck-table-div table th, .paycheck-table-div table td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr._ModifiedAfterLastCalculationStart { background-color: #b398ff !important; }
table tr._NoCalculationStarted { background-color: #b5ff98 !important; }
table tr._NoCalculationEnded { background-color: #ff98da !important; }
table tr._NoCalculationSuccessfullyEnded { background-color: #98F5FF !important; }
