
.accounting_file_tab_bill_releasing_posible_relief_bill {
    background: #f6f6f6;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #EA4335;
    align-items: center;
    min-height: 27px;
    display: flex;
    text-align: center;
    position: relative;
    .expand_this {
        .amount_vat:hover {
            background: #f09d97;
            box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.2);
            border-right: 5px solid #f09d97;
        }/* end amount_vat */
        .sima-icon {
            color: #34A853;
        }/* end sima-icon */
    } /* end expand_this */
    &:hover, &._selected {
        background: #f09d97;
        border-color: #f09d97;
        border-left-color: #EA4335;
        transition: 0.25s;
        .percent:after {
            color: black;
        }/* end percent:after */
        .sima-icon {
            color: black;
        }/* end sima-icon */
    }/* end &:hover */
    .div_options {
        right: initial;
        .sima-btn {
            margin:0 5px 0 0;
        }
    }/* end div_options */
}/* end accounting_file_tab_bill_releasing_posible_relief_bill */





