<% include partials/head.ejs %>
<style>
.contaier{
    padding: 5px;
    margin: 0 auto;
    width: 100%;
}
</style>
<body>
    <div class="container">
        <form method="POST" action="shoform">
            <input type="text" name="name" placeholder="Name"><br><br>
            <input type="text" name="age" placeholder="Age"><br><br>
            <input type="submit" value="SEND">
        </form>
    </div>
</body>
</html>