@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 277mm;
}

p{
    font-size:3.175mm;
}

header{
    padding-bottom:4.8mm;
    width:100%;
    overflow:hidden;
    position:relative;
    border-bottom: 0.5mm solid #363a45;
    display: flex;
}

header img{
    margin-right:7.9mm;
    float:left;
    width: 16mm;
    height: 16mm;
}

header .content{
    float:left;
    position:relative;
    width: 160mm;
    height: 16.4mm;
    padding-left:2.6mm;
    border-left: 0.3mm solid #888;	
}

header .content ul{
    position:absolute;
    bottom:0;
}

header .content ul li{
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

header .content ul li span{
    font-weight:700;
}

.main .title{
    margin-top: 2.645833333mm;
}

.main .title h1{
    font-size:5.291666667mm;
    font-weight:bold;
    text-align: left;
    width: 80%;
    float: left;
}
.main .title h1 span{
    display: block;
    font-weight: normal;
    font-size: 3.175mm;
    padding-right: 5.291666667mm;
    display: block;
}

.main .title p{
    font-size: 3mm;
    text-align: right;
}

.main .title p1{
    font-size: 3mm;
    text-align: left;
}

.main .content p2{
    font-size: 3.5mm;
    font-weight: bold;
}

.main .title p span{
    padding-bottom: 0.3mm;
    border-bottom: 0.3mm solid #000;
    padding-right: 10%;
}

.main .content{
    margin-top: 10.6mm;
}

/* TABLE */
#table {
    border-collapse: collapse;
    width: 99%;
    margin-top:5.3mm;
    font-size:2.6mm;
}

#table th:nth-child(1){
    text-align: center;
}

#table th:nth-child(3), #table th:nth-child(4), #table th:nth-child(5){
    text-align: center;
}

#table td:nth-child(3), #table td:nth-child(4), #table td:nth-child(5), #table td:nth-child(6){
    text-align: right;
    padding: 1.3mm !important;
}


#table td{
    border: 0.3mm solid #CCCCCC !important;
    vertical-align: middle !important;
}

.tr-partner{
    background-color: #d0d0d0;
}

#table th{
    font-weight: bold;
    text-align: center;
    background-color: #363a45;
    color: white;
    vertical-align: middle !important;
}

.clear{clear: both;}

footer{
    text-align: center;
    padding-top: 2.6mm;
    border-top: 0.3mm solid #666;
    font-size: 2.6mm;
    position: absolute;
    bottom: 5.3mm;
    line-height: 1.3;
    left: 10.6mm;
    right: 10.6mm;
}

footer p{
    color: #494848;

}