.sima-search-field{
    display: inline-block; 
    width: 305px;
}
.sima-search-field input{
    width: 280px;
    border-color: rgb(169, 169, 169);
}
.sima-search-field textarea{
    width: 276px;
    height: 50px;
}
.sima-search-field .ssf-form-btn{
    font-size: 10px;
    height: 16px;
    padding: 0 3px;
}
