.accounting-cost_location_tab-income th{
    text-align: center;
}

.accounting-cost_location_tab-income td._number{
    text-align: right;
    width: 150px;
    padding: 5px;
    font-size: 14px;
}
.accounting-cost_location_tab-income td._percent{
    text-align: right;
    width: 50px;
    padding: 5px;
    font-size: 14px;
}