
#sima-popup-notifications {
    ._icon.has-badge[data-count]:after { background: #0079D3; }
    .sima-notification {
        &._unseen {
            margin-left: 1px;
            border-color: white;
            padding: 5px 15px 5px 9px;
            border-left: 5px solid darkorange;
            background: #fff3cd;
        }/* end unseen messages */
    }/* end sima-notification */
}/* end sima-popup-notifications */