@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bill-of-quantity-report {
    font-family: 'Open Sans', sans-serif;
    font-size: 3mm;
    position: relative;
 }

.bill-of-quantity-report p {
    font-size:3.175mm;
}

.bill-of-quantity-report ul {
    list-style: none;
}

.bill-of-quantity-report header {  
    padding: 1mm;
}

.bill-of-quantity-report header .content {
    height: 25mm;
    padding-left:2.6mm;
    display: inline-block;
    text-align: left;
}

.bill-of-quantity-report .main {
    z-index: 2;
    padding: 0 1mm 2mm 1mm;
    height: auto;
}

.bill-of-quantity-report .main .content {
    margin-top: 5mm;
    font-size: 3.2mm;
}

.bill-of-quantity-report .main .content p  {
    margin: 1mm 0;
    padding: 0.5mm 1.3mm !important;
}

.bill-of-quantity-report .boq-table {
    width: 100%;
    border-collapse: collapse;
}
.bill-of-quantity-report .boq-table td{
    border: 0.5mm solid black !important;
    padding: 1mm;
}
.bill-of-quantity-report .boq-table-header {
    margin-bottom: -1.4mm;
}
.bill-of-quantity-report .boq-table-header td {
    border-bottom: 0;
    text-align: center;
}
.bill-of-quantity-report .boq-table-content tr:first td{
    border-top: none !important;
}

.bill-of-quantity-report .boq-table .item-name {
    box-sizing: border-box !important;
}
.bill-of-quantity-report .boq-table .item-name-pdf {
    width: 62mm;
    box-sizing: border-box !important;
}
/*Fix za nesimetricno spajanje kolona kada pdf ima vise strana*/
.bill-of-quantity-report .boq-table-header .item-name-pdf {
    width: 61.5mm;
}
.bill-of-quantity-report .text-center {
    text-align: center;
}
.bill-of-quantity-report .boq-table .value-per-unit-pdf,
.bill-of-quantity-report .boq-table .value-per-unit{
    width: 20mm;
}
.bill-of-quantity-report .boq-table .measurement-unit-name-pdf,
.bill-of-quantity-report .boq-table .measurement-unit-name {
    width: 12mm;
}
.bill-of-quantity-report .boq-table .object-value-per-unit {
    min-width: 13.5mm !important;
}
.bill-of-quantity-report .boq-table-content .measurement-quantity, 
.bill-of-quantity-report .boq-table-content .measurement-value, 
.bill-of-quantity-report .boq-table .object-value-per-unit, 
.bill-of-quantity-report .boq-table .value-per-unit, 
.bill-of-quantity-report .boq-table .quantity, 
.bill-of-quantity-report .boq-table .value{
    text-align: right;
}
.bill-of-quantity-report .boq-table-header .value-per-unit-pdf, 
.bill-of-quantity-report .boq-table-header .value-per-unit {
    text-align: center;
}

.bill-of-quantity-report .boq-table-content .measurement-unit-name-pdf, 
.bill-of-quantity-report .boq-table-content .measurement-unit-name {
    text-align: center
}

.bill-of-quantity-report .boq-table-header .measurement-column {
    width: 40mm;
} 
.bill-of-quantity-report .boq-table .measurement-quantity, 
.bill-of-quantity-report .boq-table .measurement-value {
    width: 20mm;
}

/* gazi rule iz BuildingInterimBill css-a za header border bottom koji ovde ne treba */
.building-interim-bill-report .bill-of-quantity-report header {
    border-bottom: none;
}
