.sima-ui-vertical-menu {
    display: block;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sima-ui-vertical-menu-wrapper {
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
ul.sima-ui-vertical-menu-wrapper-lev1,
ul.sima-ui-vertical-menu-wrapper-lev2,
ul.sima-ui-vertical-menu-wrapper-lev3,
ul.sima-ui-vertical-menu-wrapper-lev4 {
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -moz-padding-end: 0;
    -moz-padding-start: 0;
}
ul.sima-ui-vertical-menu-wrapper-lev1 {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
ul.sima-ui-vertical-menu-wrapper-lev1 li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    
}
ul.sima-ui-vertical-menu-wrapper-lev1 li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 35px;
    background: #fff;
    color: #414141;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
}

ul.sima-ui-vertical-menu-wrapper-lev1 li a .sima-ui-vmenu-item-name {
    width: calc(100% - 35px);
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.sima-ui-vertical-menu-wrapper-lev2 li a {
    padding: 0 0 0 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    background-color: #ebebeb;
    font-size: 12px;
}
ul.sima-ui-vertical-menu-wrapper-lev3 li a {
    padding: 0 0 0 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    background-color: #d8d8d8;
    font-size: 12px;
}
ul.sima-ui-vertical-menu-wrapper-lev4 li a {
    padding: 0 0 0 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    background-color: #999999;
    font-size: 12px;
}
ul.sima-ui-vertical-menu-wrapper-lev1 li a.active,
ul.sima-ui-vertical-menu-wrapper-lev2 li a.active,
ul.sima-ui-vertical-menu-wrapper-lev3 li a.active,
ul.sima-ui-vertical-menu-wrapper-lev4 li a.active {
    background-color: rgb(59, 95, 142);
    font-weight: bold;
    color: #fff;
}
a span.sima-icon._arrow-right._24,
a span.sima-icon._arrow-bottom._24 {
    position: absolute;
    left: 5px;
    z-index: 50;
    top: 8px;
    background-position: center center;
}
ul.sima-ui-vertical-menu-wrapper-lev1 li a:hover,
ul.sima-ui-vertical-menu-wrapper-lev2 li a:hover,
ul.sima-ui-vertical-menu-wrapper-lev3 li a:hover,
ul.sima-ui-vertical-menu-wrapper-lev4 li a:hover{
    background-color: rgba(59, 95, 142, 0.8);
    color: #fff;
}

.sima-ui-vmenu-item._hidden {
    display: none;
}

.sima-ui-vmenu-item .sima-ui-vmenu-item-select{
    position: absolute;
    right: 0;
    top: 8px;
    z-index: 50;
    background-size: 16px;
    background-position: center center;
    display:none;
    background-color: transparent !important;
}

.sima-ui-vmenu-item a.active .sima-ui-vmenu-item-select{
    display:block;
}
