/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2019, 5:06:35 PM
    Author     : dalibor
*/

.mce-tooltip { 
    margin-top: -60px !important;
}
.mce-tooltip-n .mce-tooltip-arrow { 
    top: calc(100% - 5px) !important; 
    transform: rotateX(180deg) !important; 
}