

.sima-model-options {
    display: inline-flex;
    align-items: center;
    .sima-model-option {
        &:hover {
            cursor: pointer;
        }/* end &:hover */
    }/* end sima-model-option */
    .sima-model-edit {
        margin: 0;
    }/* end sima-model-edit  */
    .sima-model-delete {
        margin: 0;
    }/* end sima-model-delete */
}/* end sima-model-options */