
//shared files
@import '../shared-partials/_vars',
        '../shared-partials/_mixin',
        '../shared-partials/_typography',
        '../shared-partials/_colors';
        
        
//body and html settings
body {
    background-color: $white;
    color: $black;
    font-size: 100%; // ~16px accross standard browsers
    min-height: 100vh;
    height: 100vh;
    font-family: 'helvetica', sans-serif;   
}
    
@import '../shared-partials/_headings',
        '../shared-partials/_sima-icons',
        '../shared-partials/_form-elements',
        '../shared-partials/_buttons';

//import modules
@import 'modules/_local-vars';
//import partials
@import 'partials/_content';