.accounting-cost_location-overview th{
    text-align: center;
}

.accounting-cost_location-overview td._number{
    text-align: right;
    width: 150px;
    /*padding: 5px;*/
    /*font-size: 14px;*/
}
.accounting-cost_location-overview td._percent{
    text-align: right;
    width: 50px;
    /*padding: 5px;*/
    /*font-size: 14px;*/
}