.sima-phone-field {
    
}

.sima-phone-field > .sima-ui-sf {
   display: inline-block;
   width: calc(100% - 165px);
}

.sima-phone-field > .provider-number {
    display: inline-block;
    width: 27px;
}

.sima-phone-field > .phone-number {
    display: inline-block;
    width: 120px;
}

div.sima-model-form-row > .sima-phone-field{ 
    width: 284px;   
    display: inline-block;
}
