
.sima-addressbook {
    td, th, div, p, h3, select, input, textarea, a { 
        font-size: 14px;
        font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif; }
    .sima-btn { font-size: 12px; }
    .addressbook-header {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
        margin: 10px auto 15px auto;
        .addressbook-header-wrap {
            display: flex;
            flex-direction: row;
            input::placeholder { color: #aaa; }
            h2 { 
                margin: 0;
                font-weight: 500;
                line-height: 30px;
                margin-right: 15px;
            }
            > div { 
                margin: 0 5px;
                &.sima-btn-group { 
                    margin-right: 0;
                    height: fit-content;
                }/* end sima-btn-group */
            }
            .search-field {
                margin: 0;
                width: 100%;
                height: 30px;
                user-select: none;
                margin-right: 5px;
                position: relative;
                display: inline-flex;
                box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.1);
                input.addressbook-search-input {
                    height: 28px;
                    user-select: auto;
                    border-radius: 2px;
                    padding: 0 0 0 30px;
                    width: calc(100% - 30px);
                    background-color: white;
                    border: 1px solid #e9ecef;
                    &:focus { border-color: #FFA500; }
                }
                .input-icon {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    font-size: 18px;
                    color: #6e6e6e;
                    margin-right: 5px;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    &.clear-search { right: 30px; }
                    // &.sil-times { right: 0; }
                    &:hover { color: #333; }
                    &.sil-search { 
                        opacity: 0.5; 
                        cursor: default;
                        &:hover { color: #6e6e6e; }
                    }/* end sil-search */
                    &.open-search { color: #FFA500; }
                }/* end input-icon */
            }/* end search-field */
        }/* end addressbook-header-wrap */
    }/* end addressbook-header */
    .addressbook-body {
        .vue-tabs {
            box-shadow: none;
            overflow: visible;
        }
        .sima-ui-resizable-separator {
            background: transparent !important;
            border-right: 1px dashed #ddd !important;
        }
        .addressbook-companies, .addressbook-persons {
            .nav-tabs-navigation, .tab-content { margin: 0 10px; }
            .nav-tabs-navigation {
                overflow: hidden;
                background: #F3F3F3;
                border: 1px solid #e9ecef;
                border-bottom: none;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                .nav-tabs-wrapper {
                    height: 30px;
                    ul {
                        border-bottom: none;
                        display: inline-flex;
                        li {
                            height: 30px;
                            display: flex;
                            white-space: nowrap;
                            align-items: center;
                            margin-bottom: -1px;
                            a {
                                padding: 0;
                                height: 100%;
                                display: flex;
                                padding: 0 10px;
                                border-radius: 0;
                                align-items: center;
                                .partner-counter {
                                    opacity: 0.75;
                                    font-size: 12px;
                                    margin-left: 5px;
                                }/* end partner-counter */
                                &.active_tab {
                                    color: #0079d3;
                                    border-color: white;                         
                                } /* end active_tab */                      
                            }/* end a */
                            &:first-of-type a.active_tab {border-left-color: transparent; }
                            &:hover a:not(.active_tab) { color: #333; }
                        }/* end li */
                    }/* end ul */
                }/* end nav-tabs-wrapper */
            }/* end nav-tabs-navigation */
            .tab-content {
                border: 1px solid #e9ecef;
                border-top: none;
                height: calc(100% - 97px);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                .tab-container {
                    height: 100%;
                    .perfect-scrollbar { height: 100%; }
                }
                .btn-vue-tabs {
                    top: 0px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    color: #333;
                    position: absolute;
                    align-items: center;
                    background: #F3F3F3;
                    justify-content: center;
                    border-top: 1px solid #e9ecef;
                    &:hover { background: #e9ecef; }
                    &.sima-vue-tabs-left-scroll {
                        left: 10px;
                        border-top-left-radius: 5px;
                        border-left: 1px solid #e9ecef;
                    }/* end left btn */
                    &.sima-vue-tabs-right-scroll {
                        right: 10px;
                        border-top-right-radius: 5px;
                        border-right: 1px solid #e9ecef;
                    }/* end right btn */
                }/* end btn-square */
            }/* end tab-content */
        }/* end addressbook-companies */
    }/* end addressbook-table */
    .sis-circle {
        font-size: 5px;
        color: #ccc !important;
        margin: 0 7.5px !important;
        cursor: default !important;
    }/* end sis-circle */
    .dots {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .sima-addressbook-overlay {
        position: fixed;
        display: none !important;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 61, 76, 0.5);
        top: 40px;
        left: 0px;
    }/* end sima-addressbook-overlay */
    .nav.nav-tabs {
        overflow-y: hidden !important;
    }
}/* end sima-addressbook */