
.accounting_file_tab_bill_releasing_posible_debt_take_over {
    background: #f6f6f6;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #FBBC05;
    align-items: center;
    min-height: 27px;
    display: flex;
    text-align: center;
    position: relative;
    &:hover, &._selected {
        background: #f9d97f;
        border-color: #f9d97f;
        border-left-color: #FBBC05;
        transition: 0.25s;
        .percent:after {
            color: black;
        }
    }/* end &:hover */
    .div_options {
        right: initial;
        .sima-btn {
            margin:0 5px 0 0;
        }
    }/* end div_options */
}/* end accounting_file_tab_bill_releasing_posible_debt_take_over */




