
.sima-partner-search-filter {
    td, th, div, p, h3, select, input, textarea, a { font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif; }
    margin: 0;
    height: 0px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    background: #e9ecef;
    width: calc(100% - 2px);
    border: 1px solid white;
    transition: margin 0.5s, height 0.5s;
    .person-search, .company-search {
        flex: 1 1 100%;
        > div { 
            height: 22px;
            display: flex;
            position: relative;
            margin-bottom: 5px;
            white-space: nowrap;
            align-items: center;
            span {
                width: 130px;
                font-size: 12px;
                color: #6e6e6e;
                text-align: right;
                &.sima-icon.sil-times {
                    right: 5px;
                    width: 16px;
                    font-size: 16px;
                    position: absolute;
                    text-align: center;
                    &:hover { color: #333; }
                }/* end sima-icon.sil-times */
            }
            input { 
                width: 100%;
                color: #333;
                padding: 0 10px;
                user-select: auto;
                line-height: 20px;
                margin-left: 10px;
                background-color: white;
                border: 1px solid #dcdcdc;
                &::placeholder { color: #aaa; }
                &:focus { border-color: #FFA500; }
            }
        }
    }/* end person-search & company-search */
    .input-icon.sil-times {
        top: 8px;
        right: 8px;
        font-size: 20px;
        color: #6e6e6e;
        position: absolute;
        &:hover { color: #333; }
    }
    .person-search { padding: 10px 26px 20px 10px; }
    .company-search { padding: 10px 10px 20px 20px; }
    &.show-search-filter  {
        height: 123px;
        margin: 20px 0 5px 0;
        border-color: #dcdcdc;
    }/* end show-search-filter */
}/* end sima-partner-search-filter */
