.set_doo_info{
    display: inline-block;
    float: left;
    text-align: justify;
    font-size: 2.4mm;
}
.partner_info{
    text-align: justify;
    font-size: 2.4mm;
    border: 0.3mm solid black;
}
.io_heading{
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
}
.io_heading_p{
    font-size: 2.6mm;
}
.ios_saldo_text{
    font-size:2.4mm;
    text-align: center;
}
.ios_description{
    text-align: left;
    font-size: 2.4mm;
}
.ios_items_header{
    background-color: gray;
    font-size: 2.4mm;
    font-weight: bold;
}
.ios_items_header th, 
.ios_items_header td{
        height: 5.3mm;
}
tr.ios_saldo{
    border-collapse: collapse;
    font-weight: bold;
}
.ios_saldo td div{
    font-size: 2.6mm;
}
.ios_saldo_value{
    text-align: right;
    border-top: 0.3mm solid  black;
    font-size: 2.6mm;
    border-bottom: 0.3mm solid  black;
}
.ios_items_table td,
.ios_items_header th{
    border: 0.3mm solid black;
}
.ios_sender{
    text-align: left;
}
.ios_sender_row{
    font-size: 2.4mm;
}
.ios_recipient{
    text-align: left
}
.helper{
    text-align: right;
}
.helper_text{
    text-align: center;
}
.ios_statement td{
    height: 5.3mm;
}
td.ios_note{
    text-align:left;
    font-size: 2.4mm;
}
.ios_items{
    font-size: 2.4mm;
}
.io_main_heading{
    font-size: 4.2mm;
}
.ios_signatures{
    font-size: 2.4mm;
}