/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2017, 1:59:42 PM
    Author     : sasa
*/

.sima-diff-viewer {
    padding: 15px 0px;
}

.sima-diff-viewer-group {
    position: relative;
    border: 1px solid black;
    margin: 15px 15px 25px 15px;
    text-align: left;
    padding-top: 20px;
}

.sima-diff-viewer-group._hidden {
    display: none;
}

.sima-diff-viewer-group-title {
    position: absolute;
    display: inline-block;
    background: #f9f9f9 none repeat scroll 0 0;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -31px;
    padding: 2px;
}

.sima-diff-viewer-toggle-groups {
    text-align: left;
    padding: 0px 15px 5px;
}

.sima-diff-viewer-header {
    font-weight: bold;
}

.sima-diff-viewer-group-toggle-same-items {
    margin: 0px 5px 10px;
    display: inline-block;
}

.sima-diff-viewer-group-toggle-cache {
    margin: 0px 5px 10px;
    display: inline-block;
}

.sima-diff-viewer-group-toggle-cache-chBox {
    margin: 0px;
}

.sima-diff-viewer-body {
    padding-bottom: 1px;
}

.sima-diff-viewer-row {
    
}

.sima-diff-viewer-row._hidden {
    display: none;
}

.sima-diff-viewer-header .sima-diff-viewer-row {
    border-bottom: 1px solid black;
}

.sima-diff-viewer-body .sima-diff-viewer-row:nth-child(odd) {
    background-color: #F2F2F2;
}

.sima-diff-viewer-body .sima-diff-viewer-row:nth-child(even) {
    background-color: #FFFFFF;
}

.sima-diff-viewer-row-cell {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 2px;
    /*word-break: break-all;*/
    text-align: left;
}

.sima-diff-viewer-row-cell._remove {
    color: red;
}

.sima-diff-viewer-row-cell._add {
    color: green;
}

.sima-diff-viewer-row-cell._modify {
    color: #DAA520;
}

.sima-diff-viewer-row-cell._left-align {
    text-align: left;
}

.sima-diff-viewer-row-cell._right-align {
    text-align: right;
}

.sima-diff-viewer-row-cell._center-align {
    text-align: center;
}

.sima-diff-viewer-row-cell-old-value {
    padding: 2px 0px;
}

.sima-diff-viewer-row-cell-new-value {
    padding: 2px 0px;
}

.sima-diff-viewer-row-cell-old-value-title, .sima-diff-viewer-row-cell-new-value-title {
    font-weight: bold;
    float: left;
    /*margin-right: 5px;*/
}