* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-small {
    text-align: right;
    float: right;
    width: 20%;
    margin: 0 0 5mm;
}

.title-main {
    clear: both;
    width: 100%;
    text-align: center;
}

.title-main-line {
    display: block;    
}

.table-legend {
    text-align: right;
    margin: 2mm auto 0;
    font-size: 3.5mm;
}

table {
    margin: 4mm auto !important;
    width: 100%;
}

.table-1 {
    margin-top: 1mm !important;
}

table, thead, tbody, tr, th, td {
    border: 0.3mm solid #333 !important;
    border-collapse: collapse !important;
    font-size: 3.3mm;
}

table tr {
    page-break-inside: avoid !important;
}

table th,
table td {
    padding: 0.5mm 2mm;
}

table th {
    text-align: center;
}

table td {
    text-align: left;
}

table td.numeric {
    text-align: right;
}

table .grey-cell {
    background-color: #D3D3D3;
}

.table-pop {
    margin-top: 5mm;
}

.table-pop .first-column {
    width: 45%;
    text-align: center;
}

.table-1 {
    margin-top: 0;
}

.table-3a {
    margin-top: 60px !important;
}

table:last-of-type {
    margin-bottom: 2mm;
}

td:first-of-type {
    width: 10%;
}

footer {
    text-align: left;
    font-size: 3.2mm;
}

th.fixed-width,
td.fixed-width {
    width: 16%;
}

.questionmark_td {
    text-align: center !important;
}

.question-div,
.id-div {
    display: inline-block;
    text-align: center;
}

.question-div {
    width: 46%;
    border-right: 1px solid #000;
    font-weight: bold;
    text-align: center !important;
    padding: 0;
}

.question-div a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.id-div {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.questionmark_td .id-div {
    width: 50%;
}