
#sima-layout-left-bar {
    width: max-content;
    height: 100%;
    background-color: #2E3D4C;
    color: white;
    display: flex;
    position: relative;
    td, th, div, p, h3, select, input, textarea, a {
        font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
    }
    ul {
        margin: 0;
        padding: 0;
        font-weight: 300;
        list-style-type: none;
        &._level1 { 
            margin: 15px 0; 
            > div > li:first-of-type .item-wrap-group { margin-top: 15px; }
            &._dragging-active-inside .sima-layout-left-bar-item .item-wrap:hover  {
                color: #ccc;
                background: transparent;
            }
        }
        &._level2 { margin-left: 10px; }
        &._level3 { margin: 0 0 0 15px; }
    }/* end ul */
    .menu-bar {
        width: 39px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #4B5A6F;
        margin-top: 5px;
    }/* end menu-bar */
    .menu-bar-content-tab {
        display: flex;
        flex-direction: column;
        height: 100%;
    }/* end menu-bar-content-tab */
    .menu-bar-content-head {
        display: flex;
        height: 25px;
        padding: 5px;
        margin: 0 5px;
        font-size: 14px;
        min-height: 25px;
        align-items: center;
        text-transform: uppercase;
        justify-content: space-between;
        border-bottom: 1px solid #4b5a6f;
        .add-favorite-group {
            margin-left: 10px;
            font-size: 14px;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }/* end hover */
        }/* end add-favorite-group */
    }/* end menu-bar-content-head */
    .menu-bar-content {
        width: 210px;
        height: 100%;
        &.menu-bar-content._absolute {
            left: 40px;
            width: auto;
            z-index: 100;
            min-width: 210px;
            position: absolute;
            background-color: rgba(46, 61, 76, 0.9);
            .menu-bar-content-head {
                margin: 0;
                padding: 5px 10px;
                background-color: #2e3d4c;
            }/* end menu-bar-content-head */
        }/* end hovered */
    }/* end menu-bar-content */
    .menu-bar-content-body {
        flex-grow: 1;
        color: #ccc;
    }/* end menu-bar-content-body */    
    .main-bar-item {
        color: #ccc;
        width: 30px;
        height: 30px;
        min-height: 30px;
        display: flex;
        font-size: 16px;
        position: relative;
        margin: 0 0 10px 0;
        border-radius: 3px;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }/* end hover */
        &._selected {
            color: #FFCB05;
        }/* end _selected */        
        &:not(._selected):hover {
            color: white;
            cursor: pointer;
            background-color: #4b6075;
        }/* end not ._selected :hover */
        &._active {
            color: white;
            background-color: #0079d3;
        }/* end _active */
    }/* end main-bar-item */
    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }/* end fade-enter-active and fade-leave-active  */ 
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }/* end fade-enter fade-leave-to */  
    .draggable-drag-class {
        > .item-wrap {
            background: transparent;
            &._selected span { 
                border-bottom: 1px solid #0079d3;
            }
        }/* end all item-wrap */
    }/* end draggable-drag-class */        
    .draggable-ghost-class {
        > .item-wrap {
            color: transparent;
            background: #2e3d4c;
            box-shadow: 0 0 12px 2px #4b6075 inset;
        }/* end all item-wrap */
    }/* end draggable-ghost-class */ 
    .draggable-over {
        > .item-wrap {
            background: #2e3d4c;
            box-shadow: 0 0 10px 0 #ffcb05 inset;
        }/* end all item-wrap */
    }/* end draggable-over */
}/* end sima-layout-left-bar */
