
.sima-layout-left-bar-item {
    .sis-check-circle {
        color: #34A853;
    }/* end sis-check-circle */
    .sima-model-options {
        .sima-btn {
            color: white; 
            background: transparent;
            border-color: transparent;
        }/* end sima-btn */
    }/* end sima-model-options */   
    .item-wrap {
        display: flex;
        margin: 0 5px;
        padding: 0 5px;
        cursor: pointer;
        min-height: 20px;
        border-radius: 3px;
        align-items: center;
        &._selected {
            color: white;
            background-color: #0079D3;
        }/* end _selected */
        &:not(._selected):hover {
            color: white;
            background-color: #4b6075;
        }/* end not selected */
        &._active {
            box-shadow: 3px 0px 0px 0px #0079d3 inset;
        }/* end _active */
        i {
            font-size: 12px;
            &.fa-star {                
                font-size: 10px;
            }/* end fa-star */
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }/* end hover */
        }/* end i */
        > * {
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }/* end last-child  */
        }
        .tab-triangle {
            color: #ccc;
            font-size: 22px;
            transform: rotate(-45deg);
            margin-top: -22px;
            margin-right: -5px;
            &.sis-caret-right {
                color: #de2339;
            }/* end sis-caret-right */
        }/* end tab-triangle */
    }/* end item-wrap */
    .item-wrap-group {
        display: flex;
        cursor: default;
        color: #98a9ba;
        padding: 1px 2px;
        border-radius: 3px;
        background: #4e586d;
        margin: 20px 5px 0 5px;
        text-transform: uppercase;
    }/* end item-wrap-group */
    .item-name {
        flex-grow: 1;
    }/* end item-name */
    .sima-btn {
        padding: 2px;
        width: 14px;
        height: 14px;
        > .sima-icon {
            font-size: 12px;
        }/* end sima-icon */
    }/* end sima-btn */
    .favorite-group-options > :first-child {
        margin-left: 0px;
    }/* end favorite-group-options */
    .expand-icon {
        width: 16px;
        text-align: center;
        transform: rotate(0deg);
        transition: transform 0.35s linear;
        &._expanded {
            transform: rotate(90deg);
            transition: transform 0.35s linear;
        }/* end _expanded */
    }/* end expand-icon */
}/* end sima-layout-left-bar-item */





