.sima-layout-left-bar-item-favorite-icon {
    position: relative;
}

.sima-layout-left-bar-item-favorite-icon .item-favorite {
    font-size: 12px;
}

.sima-layout-left-bar-item-favorite-icon .item-favorite-popup {
    position: fixed;
    z-index: 100;
    max-width: 200px;
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    background: #F9F9F9;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #888888;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
}