/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2016, 3:14:32 PM
    Author     : sasa
*/

.sima-vertical-tabs .sima-tree-list {
    background: #fff;
}

.sima-vertical-tabs .sima-tree-item {
    position: relative;
    margin: 0;
    background: #fff;
    color: #414141;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
}

.sima-vertical-tabs .sima-tree-item._selected  > .sima-tree-item-wrap {
    background: linear-gradient(to right, rgba(255,255,255,1) 50%, lightsteelblue 90%);
    border-right: 5px solid blue;
}

.sima-vertical-tabs .sima-tree-item  .sima-tree-item-wrap {
    border-bottom: 1px solid #A8A8A8;
}

.sima-vertical-tabs .sima-tree-list > ul > .sima-tree-item:first-child > .sima-tree-item-wrap {
    box-shadow: 0px 10px 14px -10px #b8b8b8 inset;
}

/*.sima-vertical-tabs .sima-tree-list > ul > .sima-tree-item:last-child > .sima-tree-item-wrap {
    border-bottom: none;
    box-shadow: 0px -10px 14px -10px #b8b8b8 inset;
}*/

.sima-vertical-tabs .sima-tree-item-subtree._level1 > .sima-tree-item > .sima-tree-item-wrap {
    border-bottom-width: 1px;
}

.sima-vertical-tabs .sima-tree-item-subtree._level2 > .sima-tree-item > .sima-tree-item-wrap {
    border-bottom-width: 1px;
}

.sima-vertical-tabs .sima-tree-item-subtree._level3 > .sima-tree-item > .sima-tree-item-wrap {
    border-bottom-width: 1px;
}

.sima-vertical-tabs .sima-tree-item-subtree._level4 > .sima-tree-item > .sima-tree-item-wrap {
    border-bottom-width: 1px;
}

.sima-vertical-tabs .sima-tree-item-expand-icon {
    height: 40px;
}

.sima-vertical-tabs .sima-tree-item-title-text {
    line-height: 40px;
}

.sima-vertical-tabs .sima-tree-item-title-part {
    height: 40px;
}

.sima-vertical-tabs .sima-tree-item-title-part:hover {
    cursor: pointer;
    background-color: #A8A8A8;
}
