@CHARSET "UTF-8";

.sdl {
    
}

.sdl-title {
    
}

.sdl-lp-container {
    
}

.sdl-lp {
    
}

.sdl-bi {
    background-color:#fff;
}

.sdl-tabs-container {
    
}

.sdl-tabs {
    
}

.sdl-tab-refresh {
    display: none;
}

.sdl-rp-container {
    
}

.sdl-rp {
    
}

.sdl-rp-fi {
    
}

.sdl-rp-tab-content:not(.sdl-rp-fi) {
    display: none;
}

.sima-default-layout-warns {
    display: block;
    padding: 0px 5px;
}

.sima-default-layout-warns .sima-model-warn {
    background-color: #FEEFB3;
    color: #9F6000;
    padding: 10px;
    margin: 5px 0px;
    font-size: 13px;
}

.sima-default-layout-warns .sima-model-warn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sima-default-layout-warns .sima-model-warn._not-clickable {
    cursor: default;
    opacity: 1;
}

.sima-default-layout-notifs {
    display: block;
    padding: 0px 5px;
    font-size: 13px;
}

.sima-action-notif-info {
    padding: 10px;
}