
.sima-tabs-vue .sima-tree-vue {
    background-color: #23282e;
}

.sima-tabs-vue .sima-tree-vue-item-wrap {
    display: flex;
}

.sima-tabs-vue .sima-tree-vue-item-wrap:hover {
    background-color: #343c48;
}

.sima-tabs-vue .sima-tree-vue-item._selected > .sima-tree-vue-item-wrap {
    background-color: #343c48;
}

.sima-tabs-vue .sima-tree-vue-item-wrap > * {
    height: 35px;
    line-height: 35px;
    color: #f8f8f8;
    padding: 0px 5px;
}

.sima-tabs-vue .sima-tree-vue-item-wrap > *:not(.sima-tree-vue-item-title) {
    text-align: center;
    background-origin: content-box;
}

.sima-tabs-vue .sima-tree-vue-item-wrap > *:first-child {
    padding-left: 10px;
}

.sima-tabs-vue .sima-tree-vue-item-wrap > *:last-child {
    padding-right: 10px;
}

.sima-tabs-vue .sima-tree-vue-item-title {
    flex: auto;
}