.#{$btn}-group {
    text-align: right;
    margin: 1rem 0;
    &._btn-to-left {
        text-align: left;
    }
    &._btn-to-center {
        text-align: center;
    }
}

.#{$btn} {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.632653062857143;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-left: 0.500rem;
    margin-right: 0.500rem;
    min-width: 7.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    &:focus,
    &:active {
        outline: none;
    }
    &:last-child {
        margin-right: 0;
    }
    &:first-child {
        margin-left: 0;
    }
    //modify
    //will compile like sima-old-btn _ok
    &._ok {
        background-color: $blue;
        color: $white;
        transition: background-color 280ms ease-in-out;
        &:hover {
            background-color: lighten($blue, 10%);
        }
    }
    &._danger {
        background-color: $required-red;
        color: $white;
        transition: background-color 280ms ease-in-out;
        &:hover {
            background-color: lighten($blue, 10%);
        }
    }
}
