$white: rgba(#f3f7f9, 1);
$black: rgba(#260c1a, 1);
$blue: rgba(#33a3cd, 1);

//form elemets color
//input fields border
$input-border-clr: rgba(#727071, 1);
$required-red: rgba(#be0000, 1);
$error-red: rgba(#be0000, 1);



//sidebar colors
$livid: rgba(#402634, 1);

//notification color
$cardinal: rgba(#c41e3d, 1);