.#{$form} {
    
    //element
    //will be compiled as sima-form__group
    &__group {
        @include position(relative);
        font-size: 0; //fix for inline-block elements to eleminate margin between inline-block elements 
        margin-bottom: 2rem;
        &._half-margin {
            margin-bottom: 1rem;
        }
        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }
}

//LABELS 
.#{$form}__label {
    color: $black;
    font-size: 1rem;
    margin: .750rem 0 .375rem 0;
    //modify
    &._block { 
        display: block;
    }
}

//INPUTS
.#{$form}__input {
    background-color: $white;
    border: 1px solid $input-border-clr;
    box-sizing: border-box;
    display: block;
    height: 2rem;
    padding: 0 0.500rem;
    &:focus {
        border-color: $blue;
        outline-color: $blue;
    }
    //modify
    &._full-wdth{
        width: 100%;
    }
}
.#{$form}__error {
    @include position(relative);
    background-color: $error-red;
    box-sizing: border-box;
    color: $white;
    font-size: 0.725rem;
    margin-top: 6px;
    padding: 0.500rem;
    width: 100%;
    &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f00d";
        display: inline-block;
        padding-right: 0.500rem;
    }
    &:after {
        @include position(absolute, $top: -4px, $right: 1rem);
        background-color: $error-red;
        content: "";
        display: block;
        height: .500rem;
        transform: rotate(45deg);
        width: .500rem;
        z-index: -10;
    }
}