//Position mixin 
//Use: 
//@include: position(absolute, $top:0, $right: 0, $bottom: 0, $left: 0);
//or any other value that css position property can have, it accept all mesurment units, em, rem, %, px...
//You can also use as many parameters as needed, EXMPL: @include: position(absoulte, $top:0, $left: 0);
//Sass will compile it as position: absolute; top:0; left:0;
@mixin position($pos, $top: null, $right: null, $bottom: null, $left: null) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

//box-shadow mixin
// syntax: 
// offset-x | offset-y | blur-radius | spread-radius | color
//optional parameter is inset, if it is set, shadow will be inside element
//global keywords are inherit, initial, unset
//Use: 
//$x: offset-x, $y: offset-y, $b: blur, $s: spread, $clr: color
//NOTE: DO NOT TRUST NetBeans for browser support or vendor prefixes
@mixin box-shdw($inset: false, $x:0, $y:0, $b:0, $s:0, $clr ) {
    @if $inset {
        box-shadow: inset $x $y $b $s $clr;
    } @else {
        box-shadow: $x $y $b $s $clr;
    }
   
        
    
}