.sima-icon {
    
    &__login-quote {
        color: lighten($black, 80%);
        display: inline-block;
        font-size: 0.850rem;
        height: 2rem;
        padding-top: 0.250rem;
        vertical-align: top;
        width: 2rem;
    }
}