//fonts path
$fontPath: "../fonts" !default;
@font-face {
    font-family: Bonbon;
    src: url("../fonts/Bonbon-Regular.ttf");
}   
@font-face {
    //font-family: helvetica
    src: url("#{$fontPath}/helvetica.eot") format("embeded-opentype");
    src: url("#{$fontPath}/helvetica.otf") format("opentype");
    src: url("#{$fontPath}/helvetica.ttf") format("truetype");
    src: url("#{$fontPath}/helvetica.woff") format("woff");
    src: url("#{$fontPath}/helvetica.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    //font-family: helvetica-bold;
    src: url("#{$fontPath}/helvetica_bold.eot") format("embeded-opentype");
    src: url("#{$fontPath}/helvetica_bold.otf") format("opentype");
    src: url("#{$fontPath}/helvetica_bold.ttf") format("truetype");
    src: url("#{$fontPath}/helvetica_bold.woff") format("woff");
    src: url("#{$fontPath}/helvetica_bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}