@font-face {
    font-family: 'open_sansregular';
    src: url('../../../../../../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../../../../../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 277mm;
}

p{
    font-size:3.175mm;
}

header{
    padding-bottom:4.8mm;
    width:100%;
    overflow:hidden;
    position:relative;
    border-bottom: 0.5mm solid #363a45;
    display: flex;
}

header img{
    margin-right:7.9mm;
    float:left;
    width: 16mm;
    height: 16mm;
}

header .content{
    float:left;
    position:relative;
    width: 160mm;
    height: 16.4mm;
    padding-left:2.6mm;
    border-left: 0.3mm solid #888;	
}

header .content ul{
    position:absolute;
    bottom:0;
}

header .content ul li{
    line-height: 4.2mm;
    font-size: 3.2mm;
    margin-bottom: 0.5mm;
}

header .content ul li span{
    font-weight:700;
}

.main .title{
    margin-top: 2.645833333mm;
    /*overflow: hidden;*/
}

.main .title h1{
    font-size:5.291666667mm;
    font-weight:bold;
    text-align: left;
    width: 50%;
    float: left;
}
.main .title h1 span{
    display: block;
    font-weight: normal;
    font-size: 3.175mm;
    padding-right: 5.291666667mm;
    display: block;
}

.main .title p{
    width: 50%;
    float: right;
    font-weight: normal;
    font-size:3.439583333mm;
    text-align: right;
}

.main .title p span{
    padding-bottom: 0.264583333mm;
    border-bottom: 0.264583333mm solid #000;
    padding-right: 10%;
}

.main .content{
    margin-top: 10.583333333mm;
}

/* TABLE */
#table {
    border-collapse: collapse;
    width: 100%;
    margin-top:5.291666667mm;
    font-size:2.645833333mm;
}

#table th:nth-child(1){
    width: 5.291666667mm;
    text-align: center;
}

#table th:nth-child(2){
    width: 13.229166667mm;
    text-align: center;
}

#table td:nth-child(4), #table td:nth-child(5), #table td:nth-child(6){
    text-align: right;
    /*width: 13.229166667mm;*/
}


#table td, #table th, .tax-table td, .tax-table th {
    border: 0.264583333mm solid #fff;
    padding: 1.322916667mm;
    /*text-align: center;*/
    vertical-align: middle;
}


.tax-table tr:nth-child(even){
    background-color: #d0d0d0;
}

.second tr {
    text-align: right;
}
.second tr th{
    width:26.458333333mm;
    text-align: left;
}

#table tr:nth-child(even){
    background-color: #d0d0d0;
}

.tax-table{
    font-size: 2.645833333mm;
    text-align: right;
    float: left;
    margin-left: 6.614583333mm;
}

#table th, .tax-table th {
    font-weight: bold;
    text-align: center;
    background-color: #363a45;
    color: white;
}


.tax-table tr td:first-child{
    text-align: center;
}


.clear{clear: both;}

.box{
    padding: 3.96875mm;
    border: 0.264583333mm solid #333;
    margin: 3.96875mm 0 0 3.96875mm;
    width: 52.916666667mm;
    float: right;
}

.sum{ width: 132.291666667mm; float:left; margin: 3.96875mm 0 0 6.614583333mm; font-size: 3.175mm;}

.sum tr td:first-child{ width: 13.229166667mm; }
.sum tr td:last-child{ border-bottom: 0.264583333mm solid #000; padding-bottom: 0.79375mm;}

.signatures{
    position: relative;
    float: left;
    width: 45%;
    margin: 0 3.96875mm 6.614583333mm 3.96875mm;
    text-align: center;
    margin-top: 19.84375mm;
    font-size: 3.175mm;
}

.signatures span{
    display: block;
}

.signatures span:first-child{
    margin-bottom: 13.229166667mm;
}

.signatures span:last-child{
    margin-top: 2.645833333mm;
}

footer{
    text-align: center;
    padding-top: 2.645833333mm;
    border-top: 0.264583333mm solid #666;
    font-size: 2.645833333mm;
    position: absolute;
    bottom: 5.291666667mm;
    line-height: 1.3;
    left: 10.583333333mm;
    right: 10.583333333mm;
}

footer p{
    color: #494848;

}