
.theme-tab-building-interim-bills {
    
}

.theme-tab-building-interim-bills.no-interim-bills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-tab-building-interim-bills .add-first-interim-bill {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
}

.theme-tab-building-interim-bills .interim-bills {
    border-right: 1px solid #CCC;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
}

.theme-tab-building-interim-bills .interim-bills-total {
    display: flex;
    align-items: center;
    width: 250px;
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.theme-tab-building-interim-bills .interim-bill {
    display: flex;
    width: 250px;
    height: 60px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

.theme-tab-building-interim-bills .interim-bill-left {
    padding-right: 10px;
    font-size: 18px;
    align-self: center;
}

.theme-tab-building-interim-bills .interim-bill-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.theme-tab-building-interim-bills .interim-bill-right-top {
    flex-basis: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.theme-tab-building-interim-bills .interim-bill-right-top-left {
    flex: 1;
}

.theme-tab-building-interim-bills .interim-bill-right-bottom {
    flex-basis: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.theme-tab-building-interim-bills .interim-bill-right-bottom-right {
    flex-grow: 1;
    text-align: right;
}

.theme-tab-building-interim-bills .interim-bill._selected, .theme-tab-building-interim-bills .interim-bills-total._selected {
    background-color: #B7D4FF;
}

.theme-tab-building-interim-bills .interim-bill:hover, .theme-tab-building-interim-bills .interim-bills-total:hover {
    cursor: pointer;
    background-color: #e2edff;
}