
html, body {
    width: 100%;
    height: 100%;
}/* end html, body  */



body {
    /*
        overflow je stavljen jer popup elementi(poruke, notifikacije, upozorenja) nisu absolute(mozda cak i fixed da se stavi, videti) 
        u odnosu na body, pa ovako guraju body content i javlja se prazan prostor na dnu body-ija i skrol. Ovim je reseno da se ne javlja skrol, ali pravo resenje bi bilo
        da ti elementi budu absolute u odnosu na body kako ne bi uticali na visinu
    */
    overflow: hidden;
}

input:focus, textarea:focus, select:focus, option:focus {
    outline: none;
}

#sima-layout {
    width: inherit;
    height: inherit;
    /*overflow: auto;*/
    #sima-layout-content {
        display: flex;
        height: calc(100% - 40px);
        overflow: hidden;
        .sima-layout-display-panels {
            flex-grow: 1;
            padding: 5px;
            width: calc(100% - 260px);
        }/* end sima-layout-display-panels */
    }/* end sima-layout-content */
    #sima-popup-overlay {
        right: 0;
        top: 40px;
        z-index: 99;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        cursor: default;
        position: fixed;
        background-color: #2e3d4c;
    }/* end mask */
}/* end sima-layout */
