.s-b-pdfm-file
{
    display: inline-flex;
    width: 100%;
}

.s-b-pdfm-remove-file
{
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
}

.s-b-pdfm-file-display-name
{
    cursor: pointer;
}

.s-b-pdfm-file._selected .s-b-pdfm-file-display-name
{
    border: 1px solid blue;
}

.s-b-pdfm-file-counter
{
    margin-left: 5px;
    margin-right: 5px;
}

.s-b-pdfm-page
{
    max-width: 200px;
    float: left;
    border: 1px solid transparent;
}

.s-b-pdfm-page._selected
{
    border: 1px solid blue;
}

.s-b-pdfm-page img
{
    max-width:100%;
    max-height:100%;
}

.s-b-pdfm-page-placeholder
{
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.s-b-pdfm-result ul
{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}
.s-b-pdfm-result li
{
    list-style-type: none;
    text-align: center;
    height: 300px;
    width: 200px;
}