
.sima-user-display-online-status {
    .user_status {
        font-size: 12px;
        border-radius: 50%;
        &._active { color: #34a853; }
        &._idle { color: #ffcb05; }
        &._inactive { color: #aaa; }
    }/* end user_status */
}/* end sima-user-display-online-status */
