.sima-layout-left-bar-item-favorite-icon-group {
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    background: gray;
}

.sima-layout-left-bar-item-favorite-icon-group:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sima-layout-left-bar-item-favorite-icon-group._selected {
    background-color: #5A7FF4;
}