
.safe-evd3-report body {
    line-height: 1;
    height: 277mm;
}
.safe-evd3-report ol, ul {
    list-style: none;
}

.safe-evd3-report strong{
    font-weight: bold;
}

.safe-evd3-report body {
    font-family: 'Open Sans', sans-serif;
}

.safe-evd3-report {
    font-size:5mm;
}

.safe-evd3-report header{
    width:100%;
    overflow:hidden;
}

.safe-evd3-report header .safe-evd3-content ul li span{
    font-weight:700;
}

.safe-evd3-report-title {
    font-size:5mm;
    font-weight:bold;
    text-transform: uppercase;
}

.safe-evd3-report .safe-evd3-report-main .safe-evd3-content{
    margin-top: 5.291666667mm;
}

/* TABLE */
.safe-evd3-report-table{
    border-collapse: collapse;
    width: 100%;
    font-size: 3.5mm;
    margin-bottom: 5.291mm;  
}

.safe-evd3-report-table, .safe-evd3-report-table td {
  border: 0.3mm solid black;
}

.safe-evd3-report-table td{   
    padding-bottom: 1mm;
    padding-top: 1mm;
    height: 6mm;
}

/* Radni broj */
.safe-evd3-report-table tr td:first-child {
    width: 10mm;
    text-align: center;
    vertical-align: middle;
}

/* Naslov stavke u tabeli */
.safe-evd3-report-table tr td:nth-child(2) {
    width: 40mm;
    text-align: left;
    padding-left: 4mm;
    padding-right: 2mm;
}

.safe-evd3-report-table tr td:nth-child(3) {
    text-align: center;
}

.safe-evd3-report-text-center {
    text-align: center;
}

.safe-evd3-report-array-field-container div:first-child{
    border-left: 0.3mm solid black;
}

.safe-evd3-report-array-field {
    display: inline-block;
    border-right: 0.3mm solid black;
    border-bottom: 0.3mm solid black;
    height: 5mm;
    width: 5mm;
    padding: 0.3mm;
    text-align: center;
    vertical-align: middle;
    line-height: 5mm;
    
}

.safe-evd3-report-table .se3r-t-3 tr td:nth-child(2) {
    width: 50%;
}

.safe-evd3-filed {
    width: 100%;
    margin: 5mm 0 5mm 0;
}

.safe-evd3-empty-filed-underlined {
    min-width: 50mm;
    border-bottom: 0.3mm solid black;
    display: inline-block;
}

.safe-evd3-container-section {
    float: left;
    width: 50%;
    margin: auto;
}

.safe-evd3-content-box {
    margin: 10mm 0 10mm 0;
    padding: 5mm;
    border: 0.3mm solid black;
}

.safe-evd3-page-break { 
    page-break-before: always;
  }
