
.application-company-basic_info, .application-person-basic_info {
    .binfo-left {
        .binfo-user-status {
            position: absolute;
            .user-status-wrap {
                display: flex;
                align-items: center;
                margin-top: 5px;
                cursor: default;
                white-space: nowrap;
                color: #ccc;
                &._disable { color: #aaa; }
                .sima-btn {
                    .sima-icon {
                        width: 15px;
                        cursor: default;
                        text-align: center;
                        &.sil-plus {
                            color: white;
                            cursor: pointer;
                            font-size: 14px;
                            &:hover { opacity: 0.8; }
                            &:active { opacity: 0.5; }
                        }
                    }/* end sima-cion */
                   &:hover, &:active {
                        background-color: transparent;
                        border-color: transparent;
                   }
                }/* end sima-btn */
                > .sima-icon {
                    margin-right: 3px;
                    min-width: 13px;
                    text-align: center;
                    cursor: default;
                }
                .link { 
                    color: white;
                    &:hover { opacity: 0.8; }
                }/* end link */
                .status-not { 
                    font-size: 12px;
                    min-width: 72px;
                }
            }/* user-status-wrap */
        }/* end binfo-user-status */
    }/* end binfo-left */
    .binfo-right {
        overflow: visible;
        .binfo-header {
            .binfo-title-wrap {
                .slave {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    align-items: center;
                    li {
                        color: #aaa;
                        display: flex;
                        font-size: 1.5em;
                        font-weight: 300;
                        align-items: center;                        
                        .sima-icon { color: #aaa; }
                    }
                }/* end slave */
            }/* end binfo-title-wrap */
            .binfo-options {
                .sima-btn-group {
                    .btn-dropdown-box {
                        border-top-left-radius: initial;
                        .sima-btn {
                            border: initial;
                            border-radius: initial;
                        }
                    }
                }/* end sima-btn-group */
            }/* end binfo-options */
        }/* end binfo-header */
        .binfo-body {
            padding: 20px 0 0 0;
            margin-top: -20px;
            .binfo-item {
                display: flex;
                max-height: 115px;
                margin: 0 20px 0 0;
                &.building-item .item-icon,
                &.pib-item .item-icon { color: #FFCB05; }
                &.bank-acc-item .item-icon { color: #ff69b4; }
                &.globe-item .item-icon { color: #0079D3; }
                &.quote-item .item-icon { color:#ff8c00; }
                &.envelope-item {
                    max-width: max-content !important;
                    ul li span:last-child { max-width: 210px; }
                    .item-icon { color: #B555FF; }
                }/* end envelope-item */
                &.phone-item {
                    max-width: max-content;
                    ul li span:last-child { max-width: 210px; }
                    .item-icon { color:#34A853 }
                }
                &.map-marker-item {
                    .item-icon { color: #FF3333; }
                    .item-value {
                        ul li span { white-space: normal; }
                    }
                }/* end map-marker-item */
                &.building-item .item-value {
                    white-space: nowrap;
                    text-overflow: ellipsis; 
                    .position { white-space: initial; }
                    .sima-model-link { 
                        margin-bottom: 5px;
                        white-space: initial;
                    }
                }/* end building-item */
                &.mincontent { width: min-content; }
                &.suppress-scroll-y {
                    ul { max-height: 105px; }
                } /* end suppress-scroll-y */
                .item-icon {
                    font-size: 22px;
                    margin-right: 10px;
                }/* end item-icon */
                .item-value {
                    min-width: 70px;
                    margin-top: -20px;
                    padding: 20px 0 0 0;
                    &.perfect-scrollbar { padding-right: 10px !important; }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            position: relative;
                            span {
                                display: block;
                                white-space: nowrap;
                                &.value { margin-top: 9px;}
                                &.comment { 
                                    color: #aaa;
                                    user-select: none;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                            }
                            &:first-of-type span { margin-top: initial; }
                        }
                    }
                    &._disable {
                        color: #929292;
                        cursor: default;
                        user-select: none;
                        white-space: nowrap;
                    }/* end _disable */
                }/* end item-value */
            }/* end basic-info-item */
        }/* end binfo-body */
    }/* end binfo-right */    
    .sima-model-display-icon, .fa-stack, .fa-stack-1x, .fa-stack-2x {
        width: 100%;
        height: 100%;
    }/* end sima-model-display-icon */
    .copy-element {
        cursor: pointer;
        opacity: 1;
        &:hover { opacity: 0.8; }
        &:before {
            content: 'Kopirano!';
            visibility: hidden;
            position: absolute;
            background: lightgray;
            border-radius: 2px;
            padding: 0px 3px;
            color: black;
            transform: translateY(0px);
            transition: transform 0.3s;
        }/* end before */        
        &.clicked {
            color: #FFCB05 !important;
            &:before {
                visibility: visible;
                transform: translateY(-18px);
                transition: transform 0.3s;
            }
            &:hover{ opacity: 1 !important; }
        }/* end clicked */
    }/* end copy-element */
    /* end person-basic-info */
    .sima-model-display-icon-icon {
        display: flex;
        font-size: 48px;
        align-items: center;
        justify-content: center;
        background: white;
        color: #42505e;
    }/* end sima-model-display-icon-icon */
    .ps__rail-x, .ps__rail-y {
        opacity: 0.3;
        border-radius: 2px !important;
        .ps__thumb-y, .ps__thumb-y { border-radius: 2px; }
     }
     .ps__rail-y {
         &:before {
            content: '';
            width: 20px;
            height: 20px;
            background: #42505e;
            position: absolute;
            z-index: 10;
        }
    }/* end ps__rail-y */
    .ps__rail-x:hover, .ps__rail-y:hover, .ps__rail-x:focus, .ps__rail-y:focus, .ps__rail-x.ps--clicking, .ps__rail-y.ps--clicking {
        border-radius: 50px;
        background-color: #2e3d4c;
     }
     .ps__rail-x:hover, .ps__rail-y:hover, .ps__rail-x:focus, .ps__rail-y:focus { 
         cursor: move;
         cursor: grab;
         cursor: -moz-grab;
         cursor: -webkit-grab;
     }
     .ps__rail-x:active, .ps__rail-y:active, .ps__rail-x.ps--clicking, .ps__rail-y.ps--clicking {
         cursor: grabbing;
         cursor: -moz-grabbing;
         cursor: -webkit-grabbing;
     }/* style for scroll bg */
     .binfo-options {
        > .sima-btn {
            padding: 0;
            width: 30px;
            margin-left: 10px;
        }
        .sima-btn-group .sima-popup-vue.btn-dropdown-box {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            > .sima-btn { border-radius: 0; }
        }
     }/* end binfo-options */
}/* end person-basic-info */

@media only screen and (max-width: 1600px) {    
    .application-person-basic_info .binfo-right .binfo-body, .application-company-basic_info .binfo-right .binfo-body {
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 150px;
    }
    .application-person-basic_info .binfo-right .binfo-body .binfo-item, .application-company-basic_info .binfo-right .binfo-body .binfo-item {
        max-height: 75px;
        margin: 0 20px 10px 0; 
    }
    .application-person-basic_info .binfo-right .binfo-body .binfo-item .item-icon, .application-company-basic_info .binfo-right .binfo-body .binfo-item .item-icon {
        text-align: center;
        width: 25px;
    }
}