.#{$unauth} {
    //element
    //will compile like login__footer
    &__footer {
        font-size: 0.625rem;
        line-height: 1.375rem;
        margin-top: 2rem;
        text-align: center;
    }
}