.#{$unauth} {
    //element
    &__header {
        margin-bottom: 2rem;
    }
}
.#{$unauth}__logo {
    height: 5.375rem;
    //element
    //will compile like login__img
    &__img {
        display: block;
        height: 100%;
        margin: 0 auto;
        width: auto;
    }
}