.sima-address-field-result-list {
    padding: 5px;
    border: 1px solid lightgray;
    background-color: #e8e8e8;
    position: absolute;
/*    overflow-y: auto;*/
    overflow-y: scroll;
    max-height: 275px;
    min-width: 350px;
    z-index: 101;
}

.sima-address-field-result-list ul {
    margin: 2px;
    padding: 2px;
}
.sima-address-field-result-list ul, 
.sima-address-field-result-list li {list-style-type: none;}
.sima-address-field-result-list li {
    margin: 2px;
    padding: 2px;
}

.sima-address-field-result-list .result-item:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}
.sima-address-field-result-list .active-item {
    cursor: pointer;
    background-color: #c9c9c9;
}

.sima-address-field-result-list .saf-form {
    margin-top: 10px;
    width: 100%;
}

.sima-address-field-result-list .saf-form-field {
    width: 100%;
}
.sima-address-field-result-list .saf-field-label {
    width: 100px;
    display: inline-block;
    text-align: right;
}
.sima-address-field-result-list .saf-add-new-item {
    cursor: pointer;
    font-style: italic;
    margin: 10px 0px 12px 0px;
}
.sima-address-field-result-list .saf-add-new-item:hover {
    font-weight: bold;
}
.sima-address-field-result-list .required {
    color: red;
}
.sima-address-field-result-list .saf-add-new-item {
    padding: 3px;
    border: 1px solid #b8b8b8;
}
.sima-address-field-result-list .saf-add-new-item i {
    font-size: 10px;
    margin: 2px 1px 0 3px;
}
.sima-address-field-result-list .saf-add-new-item:hover {
    background-color: #c9c9c9;
}

