.account-pdf-content {
    font-size: 3.2mm;
}
.account-pdf-content tr {
    page-break-inside: avoid !important;
}
.account-pdf-content td._text-left {
    text-align: left;
}
.account-pdf-content td._text-right {
    text-align: right;
}
.account-pdf-content .month_line td {
    border-top: 0.3mm solid black;
}
.account-pdf-content-head {
    background-color: #F0F0F0;
}
.account-pdf-content-head td {
    border-bottom: 0.1em solid black;
    border-top: 0.1em solid black;
}
.account-pdf-content-head td._first {
    border-left: 0.1em solid black;        
}
.account-pdf-content-head td._last {
    border-right: 0.1em solid black;        
}
.account-pdf-content-body td {
    border-bottom: 0.1em solid #B0B0B0;
}
.account-pdf-content-body td._last {
    border-bottom: none;
}
.account-pdf-content-footer td._total {
    border: 0.3mm solid #3333FF;
    font-weight: bold;
}
.used-filters-row-title td {
    text-align: left;
    font-size: 3.7mm;
    font-weight: bold;
}
.used-filters-row td {
    text-align: left;
    font-size: 3.2mm;
}