
/* sima btn group */
.sima-btn-group {
    display: inline-flex;
    align-items: center;
    & > div {        
        display: inline-flex;
        align-items: center;
        & > div.sima-btn {
            margin: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }/* end & > div.sima-btn */
    }/* & > div */
    &.main-icon-only > .sima-btn {
        padding: 0;
        width: 28px;
        height: 28px;
        border-radius: 2px;
        margin: 0 !important;
    }/* end main-icon-only */
    .sima-btn:not(:last-of-type) {
        margin:0 5px 0 0;
    }/* end sima-btn */
    .icon-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: #fff;
        border: 1px solid #dadce0;
        border-left: none;
        border-radius: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 14px;
        height: 28px;
        width: 28px;
        &.icon-left {        
            border: 1px solid #dadce0;    
            border-right: none;
            border-radius: 2px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }/* &.icon-left */
        &:hover {
            background-color: $sima_btn_BG_primary_color-hover;
            border-color: $sima_btn_BORDER_primary_color-hover;
        }/* end hover */    
        /* active */
        &:focus {
            outline: none;
        }/* end focus */
        &:active, &.active {
            background-color: $sima_btn_BG_primary_color-active;
            border-color: $sima_btn_BORDER_primary_color-active;
        }/* end active */
    }/* end sima-icon */
    .sima-popup-vue.btn-dropdown-box {
        overflow: hidden;
        border-radius: 2px;
        margin: -1px 0 0 0;
        flex-direction: column;
        align-items: flex-start;
        background: transparent;
        border: 1px solid #dadce0;
        box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.2);
        & > div {
            width: calc(100% - 20px);
            justify-content: right;
            box-shadow: none;
            border: none;
            min-height: 29px;
            border-bottom: 1px solid #dadce0;
            display: flex;
            &.sima-btn-group {
                width: 100%; 
                & > div {
                    margin: 0;
                    width: 100%;
                    justify-content: left;
                    & > div.sima-btn, & > span.icon-btn {
                        border-radius: 0;
                        border: none;
                        box-shadow: none;  
                        min-height: 29px;     
                    }/* end .sima-btn, .icon-btn */
                    & > div.sima-btn {
                        width: calc(100% - 20px);
                        justify-content: end;
                    }/* end icon-btn */
                    & > span.icon-btn {
                        border-left: 1px solid #dadce0;
                        min-width: 29px;
                    }/* end icon-btn */
                    &.sima-btn {
                        border: none;
                        box-shadow: none;
                        min-height: 30px;
                        justify-content: space-between;
                        .sima-icon {
                            font-size: 14px;
                        }/* end sima-icon */
                    }/* end icon-btn  */
                }/* end & > div */
            }/* end & .sima-btn-group */
            &._vertical {
                background: red;
            }/* end &._vertical */
        }/* end & > div */
    }/* end sima-popup-vue.btn-dropdown-box */
}/* end sima-btn-group */
/* wrap is for btn with arrow down */