/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2015, 12:10:39 PM
    Author     : sasa, vlada
*/

.sima-ui-numeric-filter {
    overflow: visible;
    position: relative;
}

.sima-ui-numeric-filter-input {
    /*position: relative;*/
    width: 45px; /* Support for older browsers */
    width: calc(100% - 35px);
    float: left;
    height: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0 5px 0 5px;
    margin: 0 0 0 -1px;
    border-left: 1px solid #aaa;
    text-align: right;
    font-size: 12px;
}

.sima-ui-numeric-filter-input.main_value {
    display: none;
}

.sima-ui-numeric-filter-btn-icon:hover {
    background-color: #fff;
}

/* Icons */
.sima-ui-numeric-filter-icon.arrow-left._black._20 {
    background-image: url(../images/20/arrow-left-black-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-left._white._20 {
    background-image: url(../images/20/arrow-left-white-20.png);   
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-right._black._20 {
    background-image: url(../images/20/arrow-right-black-20.png);       
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-right._white._20 {
    background-image: url(../images/20/arrow-right-white-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-equal-left._black._20 {
    background-image: url(../images/20/arrow-equal-left-black-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-equal-left._white._20 {
    background-image: url(../images/20/arrow-equal-left-white-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-equal-right._black._20 {
    background-image: url(../images/20/arrow-equal-right-black-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-equal-right._white._20 {
    background-image: url(../images/20/arrow-equal-right-white-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-range._black._20 {
    background-image: url(../images/20/range-black-20.png);
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-range._white._20 {
    background-image: url(../images/20/range-white-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-equal._black._20 {
    background-image: url(../images/20/equal-black-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-icon.arrow-equal._white._20 {
    background-image: url(../images/20/equal-white-20.png);    
    background-repeat: no-repeat;
}

.sima-ui-numeric-filter-btn-dropdown {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
    display: inline-block;
    float: left;
    overflow: visible;
    box-shadow: inset 0 0 0 1px #aaa;
    -moz-box-shadow: inset 0 0 0 1px #aaa;
    -webkit-box-shadow: inset 0 0 0 1px #aaa;
    -o-box-shadow: inset 0 0 0 1px #aaa;
    -ms-box-shadow: inset 0 0 0 1px #aaa;
    cursor: pointer;
}

.sima-ui-numeric-filter-btn-dropdown.active {
    background-color: #395e8e;
}

.sima-ui-numeric-filter-btn-dropdown:not(.active):hover {
    background-color: #d2d2d2;
}

.sima-ui-numeric-filter-btn-dropdown:focus {
    background-color: #395e8e;
    box-shadow: inset 0 0 0 1px #2B476B;
    -webkit-box-shadow: inset 0 0 0 1px #2B476B;
    -moz-box-shadow: inset 0 0 0 1px #2B476B;
    -o-box-shadow: inset 0 0 0 1px #2B476B;
    -ms-box-shadow: inset 0 0 0 1px #2B476B;
    outline: none;
}

.sima-ui-numeric-filter-btn-dropdown:before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    height: 20px;
    width: 5px;
    background-color: #404040;
    display: none;
}

.sima-ui-numeric-filter-btn-dropdown:after {
    position: absolute;
    bottom: 8px;
    right: 0px;
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    display: none;
}

.sima-ui-numeric-filter-btn-dropdown-container {
    position: absolute;
    width: 20px;
    background-color: #fff;
    z-index: 30;
    top: 20px;
    left: 0;
    box-shadow: 0 2px 3px 0 #606060;
    -moz-box-shadow: 0 2px 3px 0 #606060;
    -webkit-box-shadow: 0 2px 3px 0 #606060;
    -ms-box-shadow: 0 2px 3px 0 #606060;
    -o-box-shadow: 0 2px 3px 0 #606060;
}

.sima-ui-numeric-filter-btn-dropdown-container .sima-ui-numeric-filter-btn-icon {
    width: 20px;
    height: 20px;
    display: block;
    border-bottom: 1px solid #404040;
    cursor: pointer;
}

.sima-ui-numeric-filter-btn-dropdown-container .sima-ui-numeric-filter-btn-icon:first-of-type {
    border-top: 1px solid #ccc;
}

.sima-ui-numeric-filter-range-wrapper {
    background: #aaa;
    position: absolute;
    top: 20px;
    width: 200px;
    height: 59px;
    z-index: 20;
    box-shadow: 0 2px 3px 0 #606060;
    -moz-box-shadow: 0 2px 3px 0 #606060;
    -webkit-box-shadow: 0 2px 3px 0 #606060;
    -ms-box-shadow: 0 2px 3px 0 #606060;
    -o-box-shadow: 0 2px 3px 0 #606060;
    display: none;
    font-size: 12px;
}

.sima-ui-numeric-filter-range-min-wrapper {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 23;
    width: 100%;
}

.sima-ui-numeric-filter-range-max-wrapper {
    position: absolute;
    padding: 0;
    top: 19px;
    left: 0px;
    z-index: 22;
    width: 100%;
}

.sima-ui-numeric-filter-range-min-wrapper .sima-ui-numeric-filter-input,
.sima-ui-numeric-filter-range-max-wrapper .sima-ui-numeric-filter-input {
    position: relative;
    margin: 0;
    padding: 0 5px 0 25px;
    height: 20px;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #404040;
    -webkit-box-shadow: inset 0 0 0 1px #404040;
    -moz-box-shadow: inset 0 0 0 1px #404040;
    -o-box-shadow: inset 0 0 0 1px #404040;
    -ms-box-shadow: inset 0 0 0 1px #404040;
    background-color: #fff;
}

.sima-ui-numeric-filter-input.range {
    float: left;
    box-shadow: inset 0 0 0 1px #aaa;
    -moz-box-shadow: inset 0 0 0 1px #aaa;
    -webkit-box-shadow: inset 0 0 0 1px #aaa;
    -o-box-shadow: inset 0 0 0 1px #aaa;
    -ms-box-shadow: inset 0 0 0 1px #aaa;
}

.sima-ui-numeric-filter-btn-dropdown-range {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 21;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 0 1px #404040;
    -webkit-box-shadow: inset 0 0 0 1px #404040;
    -moz-box-shadow: inset 0 0 0 1px #404040;
    -ms-box-shadow: inset 0 0 0 1px #404040;
    -o-box-shadow: inset 0 0 0 1px #404040;
    cursor: pointer;
}

.sima-ui-numeric-filter-btn-dropdown-range.active {
    background-color: #395e8e;
}

.sima-ui-numeric-filter-btn-dropdown-range:focus {
    box-shadow: inset 0 0 0 1px #404040;
    -webkit-box-shadow: inset 0 0 0 1px #404040;
    -moz-box-shadow: inset 0 0 0 1px #404040;
    outline: none;
    background-color: #d2d2d2;
}

.sima-ui-numeric-filter-btn-dropdown-range:not(.active):hover {
    background-color: #d2d2d2;
    box-shadow: inset 0 0 0 1px #404040;
    -webkit-box-shadow: inset 0 0 0 1px #404040;
    -moz-box-shadow: inset 0 0 0 1px #404040;
    -o-box-shadow: inset 0 0 0 1px #404040;
    -ms-box-shadow: inset 0 0 0 1px #404040;
}

.sima-ui-numeric-filter-btn-dropdown-container-range {
    display: none;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    background-color: #fff;
    z-index: 23;
    box-shadow: 0 2px 3px 0 #606060;
    -moz-box-shadow: 0 2px 3px 0 #606060;
    -webkit-box-shadow: 0 2px 3px 0 #606060;
    -ms-box-shadow: 0 2px 3px 0 #606060;
    -o-box-shadow: 0 2px 3px 0 #606060;
}

.sima-ui-numeric-filter-btn-dropdown-container-range .sima-ui-numeric-filter-btn-icon {
    width: 20px;
    height: 20px;
    display: block;
    border-bottom: 1px solid #404040;
    cursor: pointer;
}

.sima-ui-numeric-filter-btn-dropdown-container-range .sima-ui-numeric-filter-btn-icon:first-of-type {
    border-top: 1px solid #ccc;
}

.sima-ui-numeric-filter-btn-apply-icon {
    width: 100%;
    height: 20px;
    color: #FFF;
    display: block;
    position: absolute;
    background-color: #2B476B;
    top: 39px;
    left: 0;
    z-index: 20;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
}

.sima-ui-numeric-filter-btn-apply-icon:hover,
.sima-ui-numeric-filter-btn-apply-icon:focus {
    box-shadow: inset 0 0 0 2px #2B476B;
    -webkit-box-shadow: inset 0 0 0 2px #2B476B;
    -moz-box-shadow: inset 0 0 0 2px #2B476B;
    -ms-box-shadow: inset 0 0 0 2px #2B476B;
    -o-box-shadow: inset 0 0 0 2px #2B476B;
}

.sima-ui-numeric-filter-btn-apply-icon:active {
    box-shadow: inset 0 0 0 10px #2B476B;
    -webkit-box-shadow: inset 0 0 0 10px #2B476B;
    -moz-box-shadow: inset 0 0 0 10px #2B476B;
    -ms-box-shadow: inset 0 0 0 10px #2B476B;
    -o-box-shadow: inset 0 0 0 10px #2B476B;
}
