
#sima-popup-warnings {
    ._icon.has-badge[data-count]:after { background: orangered; }
    ._tabs_wrapper {
        border-color: orangered;
        ._arrow { border-bottom-color: orangered; }
        ._header { background: orangered; }
        ._body {
            max-width: 480px;
            div.tab-content ul li { padding: 6.5px 15px; }
        }
    }/* end _tabs_wrapper */
}/* end sima-popup-warnings */