.sima-address-field{
    display: inline-block; 
    width: 305px;
}
.sima-address-field input{
    width: 280px;
    border-color: rgb(169, 169, 169);
}
.sima-address-field textarea{
    width: 276px;
    height: 50px;
}
