
.theme-tab-building-construction {
    
}

.theme-tab-building-construction .top-panel {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
}

.theme-tab-building-construction .top-panel > * {
    margin-right: 5px;
}

.theme-tab-building-construction .top-panel .title {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
}

.theme-tab-building-construction .bottom-panel {
    padding: 5px;
}

.theme-tab-building-construction .bill-of-quantities {
    margin-top: 5px;
}

.theme-tab-building-construction .bill-of-quantities td, .theme-tab-building-construction .bill-of-quantities th {
    border: 1px solid #ddd;
    padding: 8px;
}

.theme-tab-building-construction .bill-of-quantities tr:nth-child(even) {
    background-color: #f2f2f2;
}

.theme-tab-building-construction .bill-of-quantities tr:hover {
    background-color: #ddd;
}

.theme-tab-building-construction .bill-of-quantities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #427FB3;
    color: white;
    text-align: center;
}