/*.sima-partner-list .partner-initials:hover + .partner-bottombar-expand {
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 0;
}*/
.sima-partner-list {
    .partner-card {
        display: flex;
        position: relative;
        padding: 5px 0 5px 15px;
        transition: background 0.25s;
        &:hover { 
            background: #cce5ff !important;
            .partner-options-wrap { visibility: visible !important; }
        }
        &:last-of-type { border-bottom: none; }
        .sima-model-display-icon { 
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }/* end sima-model-display-icon */
        .partner-initials {
            height: 47px;
            display: flex;
            align-items: center;
            &:hover .partner-bottombar-expand { display: block; }
        }/* end partner-initials */ 
        .partner-bottombar-expand {
            top: 27px;
            z-index: 5;
            left: 65px;
            display: none;
            position: absolute;
            background: #cce5ff;
            padding: 0 20px 20px 20px;
            width: calc(100% - 105px);
            > div {
                color: #6E6E6E;
                margin-top: 10px;
                align-items: center;
                display: inline-flex;
                width: calc(50% - 2px);
                .sima-icon {
                    width: 20px;
                    cursor: default;
                    color: #0079d3; 
                    margin-right: 5px;
                    text-align: center;
                }
                &:hover { color: #333; }
                &.type-company {
                    .sima-icon { 
                        font-size: 16px;
                        &.sis-pdv { font-size: 18px; }
                        &.sis-sd { font-size: 15px; }
                    }
                }/* end type-company */
                .with-comments {
                    display: flex;
                    flex-direction: column;
                }/* end with-comments */
                .no-info-comment {
                    color: #aaa;
                    cursor: default;
                    font-size: 13px;
                    font-weight: 300;
                    user-select: none;
                    opacity: 1 !important;
                    span { cursor: default; }
                }/* end no-info-comment */
            }
        }/* end partner-bottombar-expand */
        .partner-maincontent {
            display: flex;
            position: relative;
            flex-direction: column;
            width: calc(100% - 60px);
            justify-content: space-between;
            .partner-topbar, .partner-bottombar {
                display: flex;
                align-items: center;
                padding-right: 15px;
                justify-content: space-between;
            }/* end partner-topbar, and partner-bottombar */
            .partner-topbar {
                .name-and-list {
                    display: flex;
                    cursor: default;
                    overflow: hidden;
                    align-items: center;
                    .name {
                        color: #000;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    .list {
                        cursor: default;
                        font-size: 12px;
                        color: #6e6e6e;
                        align-items: center;
                        display: inline-flex;
                    }/* end lists */
                }/* end name-and-list */
                .partner-options-wrap {
                    display: flex;
                    visibility: hidden;
                    align-items: center;
                    .partner-options { margin-left: 10px; }
                }/* end partner-options-wrap */
            }/* end .partner-topbar */
            .partner-bottombar {
                min-height: 26px;
                .main-info {
                    display: flex;
                    font-size: 14px;
                    overflow: hidden;
                    align-items: center;
                    .main-contact {
                        display: flex;
                        align-items: center;
                    }/* end main-contact */
                    .sima-icon { 
                        cursor: default;
                        color: #0079d3;
                        margin-right: 5px;
                        &.sir-pib { font-size: 18px; }
                        &.sir-pdv { font-size: 24px; }
                        &.sir-sd, &.sir-mb { font-size: 20px; }
                    }/* end sima-icon */
                    .main-info-comment {
                        cursor: default;
                        font-style: italic;
                        color: #e69500 !important;
                        .sis-circle {
                            left: 2px;
                            bottom: 2px;
                            position: relative;
                        }/* end sis-circle */
                    }/* end main-info-comment */
                    span {
                        color: #6E6E6E;
                        white-space: nowrap;
                        &:hover { color: #333; }
                    }
                }/* end main-info */
                .all-info {
                    cursor: default;
                    margin-right: -5px;
                    display: inline-flex;
                    .sima-icon { 
                        display: flex;
                        padding: 0 5px;
                        font-size: 14px;
                        color: #3293db;
                        position: relative;
                        align-items: center;
                        &:hover { color: #004085; }
                        &.no-info {
                            opacity: 0.2;
                            cursor: default;
                            color: #6e6e6e;
                        }/* end no-info */
                        &.company-icon {
                            padding: 0 5px;
                            font-size: 14px;
                            &.sir-sd { font-size: 18px; }
                            &.sir-pib, &.sir-mb { font-size: 20px; }
                            &.sir-pdv {
                                top: 1px;
                                font-size: 26px;
                            }
                        }/* end company-icon */
                    }/* end sima-icon */
                    .popper {
                        border: none !important;
                        box-shadow: none !important;
                        .popper-inner {
                            padding: 0 !important;
                            .partner-list-popper {
                                padding: 10px;
                                border-radius: 3px;
                                border: 1px solid #d0d0d0;
                                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                            }/* end partner-list-popper */
                        }/* end popper-inner */
                    }/* end popper */
                }/* end all-info */
            }/* end partner-bottombar */
        }/* end partner-maincontent */
        &:nth-child(even) { background: #f9f9f9; }
        &:nth-child(odd) { background: #fff; }
    }/* end partner-card */
    .load-more {
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .sima-btn { margin-top: 20px; }
    }/* end load-more */
    .sima-popup-vue {
        display: flex;
        align-items: center;
        .tooltip-header {
            display: flex;
            align-items: center;
            .sima-icon { 
                cursor: default;
                color: #0079d3 !important;
            }
            span.copy-to-clipboard:hover { color: #000; }
        }/* end tooltip-header */
        .tooltip-body {
            margin: 5px 10px 5px 25px;
            &.sd-txt { margin-left: 28px; }
            &.vat-txt { margin-left: 35px; }
            &:first-of-type { margin-top: 10px; }
            &.left-20 { margin-left: 20px; }
            &.left-30 { margin-left: 30px; }
            &.copy-to-clipboard, .copy-to-clipboard { 
                color: #6e6e6e;
                &:hover { color: #333; }
            }/* end copy-to-clipboard  */
        }/* end tooltip-body */
    }/* end sima-popup-vue */
    .highlight-comment {
        cursor: default;
        margin: -2px 0 5px 0;
        color: #0079d3 !important;
        &:last-of-type { margin-bottom: 0; }
    }/* end highlight-comment  */
    .with-comment {
        display: flex;
        flex-direction: column;
    }/* end with-comment */
}/* end sima-partner-list */
