.s-ei
{
    /*display: inline-block;*/
    height: 100%;
    width: 100%;
}

.s-ei-data
{
    width: calc(100% - 25px);
    float:left;
    height: 100%;
}

.s-ei-row
{
/*    position: relative;
    height: 30px;
    padding: 0 0 0 10px;
    width: 100%;*/
    height: 30px;
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    vertical-align: middle;
}

.s-ei-row:hover
{
    background-color: #e0e0e0;
}

.s-ei-label
{
/*    vertical-align: middle;
    color: #929292;
    height: 30px;
    width: 70px;
    float: left;*/
    color: #929292;
    /*flex-basis: 70px;*/
    flex-shrink: 0;
    font-weight: 900;
    min-width: 70px;
    margin-right: 5px;
}

.s-ei-label._black
{
    color: black;
}

.s-ei-value
{
/*    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    height: 30px;
    float: left;*/
    flex-grow: 1;
    flex-basis: 250px;
    max-width: calc(100%-70px-50px);
}

.s-ei-expand_button
{
    float: left;
    width: 24px;
    height: 100%;
    min-height: 90px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: -2px 0px 5px #B0B0B0;
}

/*.s-ei-ei._absolute
{
    position: absolute;
    display: none;
}*/
.s-ei-ei._not_absolute
{
    float: left;
}

.s-ei-ei
{
    background-color: rgb(255, 227, 204);
    width: calc(100% - 25px);
    /*position: absolute;*/
    /*z-index: 5;*/
}

/*.s-ei-ei .s-ei-row
{
    position: absolute;
}
.s-ei-ei .s-ei-row .s-ei-label
{
    position: absolute;
}*/

.s-ei-buttons
{
    display: none;
}

.s-ei-row:hover>.s-ei-buttons, .s-ei-inner-row:hover>.s-ei-buttons
{
    display: block;
}