
.accounting-ios {
    
}
.accounting-ios .slideup, .accounting-ios .slidedown {
    max-height: 100px;           
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;
}
.accounting-ios .slidedown {            
    max-height: 0 ;
}
.accounting-ios .text-center{
    text-align: center;
}
.accounting-ios .ioses-table{
    border-collapse: collapse;
}
.accounting-ios .ioses-table{
    border-collapse: collapse;
}
.accounting-ios .ioses-table th, td {
    border-collapse: collapse;
}
.accounting-ios .ioses-table, td {
    padding: 3px 5px;
}
.accounting-ios .ioses-table tbody tr:hover {
    background-color: lightgray;
    cursor: pointer;
}
.accounting-ios .ioses-table .status{
    
}
.accounting-ios .ioses-table .selected-row{
    background-color: lightgray;
}
