
.sima-model-default-layout {
    
}

.sima-model-default-layout-basic-info {
    height: 200px;
    max-height: 200px;
}

.sima-model-default-layout-tabs {
    
}

/*notifikacije*/
.sima-model-default-layout-notifs {
    display: block;
    padding: 0px 5px;
    font-size: 13px;
}

/*upozorenja*/
.sima-model-default-layout-warns {
    display: block;
    padding: 0px 5px;
}

.sima-model-default-layout-warns .sima-model-warn {
    background-color: #FEEFB3;
    color: #9F6000;
    padding: 10px;
    margin: 5px 0px;
    font-size: 13px;
}

.sima-model-default-layout-warns .sima-model-warn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sima-model-default-layout-warns .sima-model-warn._not-clickable {
    cursor: default;
    opacity: 1;
}