

.accounting_file_tab_bill_releasing {
    background: #fff;
    padding: 0;
    /* font for this page */
    td, th, div, p, h3, select, input, textarea, a {
        font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
    }/* end font for this page */
    table {
        margin-bottom: 30px;
        li {
            &._selected {
                font-weight: bold;
            }/* end &._selected */
        } /* end li */
    }/* end table */
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }/* end flex */    
    .monospace {
        cursor: auto;
        font-family: monospace;        
        font-size: 15px;        
        word-spacing: -3px;        
        user-select: text;        
        display: inline-block;
    }/* end monospace */
    .percent {
        position: relative;
        &:after {
            content: '%';
            color: #999;
            position: absolute;
            right: -10px;
        }/* end &:after */
    }/* end percent */
    /* progress bar */
    .progress-bar {
        width: 100%;
        display: flex;
        border-radius: 50px;
        overflow: hidden;
        margin: 10px 0; 
        & > span {
            height: 15px;
            background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
            background-size: 1rem 1rem;
            position: relative;
            i {
                margin: 0 0 0 10px;
                position: absolute;
                font-weight: 500;
                font-size: 12px;
                color: #fff;
                &.grey {
                    color: #231F20;
                }/* end &.grey */
            }/* end i */
        }/* end & > span */
    }/* end progress-bar */
    /* progress bar - wrap */
    .sima-layout-fixed-panel {
        padding: 20px;
        /* progress bar - text */
        h2 {
            color: #58595B;
            font-weight: 400;
            font-size: 16px;
            cursor: default;
            margin: 0;
            & > strong {
                color: #231F20;
                margin: 0 0 0 10px;
                font-weight: 600;
                cursor: initial;
            }/* end & > strong */
        }/* end h2 */
    }/* end progress bar - wrap */
    /* separator */
    .sima-ui-resizable-separator { 
        display: none; 
    }/* end sima-ui-resizable-separator */
    .title-option {
        display: flex;
        justify-content: space-between;
    }/* end title-option */
    .btn-options {
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
        .sima-btn {
            margin: 0 0 0 5px;
        }/* end sima-btn */
    }/* end btn-options */
    /* table */
    .amount_vat {
        line-height: 1;
        float: right;
        margin: 0;
        tr {
            white-space: nowrap;
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                display: none;
            }/* end &:nth-child(4/5/6) */
        }/* end tr */
        td {
            padding: 0;
            position: relative;
            &:first-child {
                left: 0;
                position: absolute;
                min-width: 30px;
            }
        }/* end tr */
        &:after {
            content: '';
            width: 20px;
            height: 100%;
            background: transparent;
            position: absolute;
            z-index: 10;
            top: 0;        
        }
    }/* end amount_vat */
    .table {
        display: block;
        .check-col {
            width: 5%;
            display: flex;
            white-space: nowrap;
            align-items: center;
        }/* end check-col */
        .amount-col {
            width: 20%;
            text-align: right; 
            padding: 0 10px 0 0;
        }/* end amount-col */
        .date-col {
            width: 10%;
            padding: 0 20px;
            text-align: center;
            span {
                font-size: 12px;
            }/* end span */
        }/* end date-col */
        .name-col {
            width: 35%;
            min-width: 200px;
            overflow: hidden;
            font-size: 12px;
            &>div {
                overflow: hidden !important;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
                width: 100%;
            }/* end &>div */
        }/* end name-col */
        .available-amount-col {
            width: 25%;
            min-width: 150px;
            text-align: right;
            margin: 0 20px 0 0;
            max-width: 208.59px;
            position: relative;
            white-space: nowrap;  
            .value {
                font-weight: 400;
            }/* end value */        
            .sima-icon {
                display: none;
                position: absolute;
                right: -16px;
                transform: rotate(-45deg);
                bottom: 3px;
            }/* end &.sima-icon */          
            &.expand_this { 
                .sima-icon {
                    display: block;
                }/* end sima-icon */
                .amount_vat {     
                    width: calc(100% + 10px);
                    right: -5px;
                    &:hover {
                        position: relative;
                        z-index: 10;
                        tr {
                            white-space: nowrap;
                            // border: 5px solid #99d3a9;
                            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                                display: table-row;
                            }/* end &:nth-child(4/5/6) */
                        }/* end tr */
                        .sima-icon {
                            display: none;
                        }/* end sima-icon */
                    }/* end &:hover */
                }/* end amount_vat */
            }/* end amount_vat */
        }/* end available-amount-col */
        &.liquidate {
            margin: 0 10px 0 20px;
        }/* end &.liquidate */
        &.to-liquidate {
            margin: 0 20px 0 10px;
        }/* end  &.to-liquidate */
        &>div {
            padding: 0;
            height: 48px;
            margin: 10px 0;
            border-radius: 2px;
            &>div {
                &:first-child {
                    margin: 0;
                }/* end &:first-child */
            }/* end &>div*/
            &:last-child {
                margin: 10px 0 0 0;
            }/* end &:last-child */
            /* col style */
            &>div { 
                font-size: 14px;
                text-align: left;
                position: relative;
                .sima-model-display-html {
                    background: #e3e3e3;
                    border-radius: 2px;
                    display: inline;
                }
                &>span {
                    text-align: left;
                }/* end &>span */
            }/* end &>div */
        }/* end & > div */        
    }/* end table */
    /* left tab only */
    .left-tab .table {
       .table-header {
            margin: 0 10px 0 20px;
        }/* end table-header */
    }/* end left-tab */
    /* right table only */
    .right-tab {
        box-shadow: none !important;
        h2 {
            margin: 20px 20px 20px 10px !important;
        }/* end h2 */
        .btn-options {
            margin: 0 20px 0 0;
        }/* end btn-options  */
        .table-header {
            margin: 0 20px 0 10px;
        }/* end table-header */
    }/* end right table only */
    /* body */
    .sima-layout-panel h2 {
        font-size: 16px;
        font-weight: 500;
        margin: 20px;
        text-transform: uppercase;
        cursor: default;
    }/* end sima-layout-panel */
    .value {
        font-weight: 600;
    }/* end value */
    .div_options {
        height: 100%;
        left: 25px;
        align-items: center;
        display: flex;
        position: absolute !important;
    }/* end div options */
    #liquidate, #to-liquidate {
        border: 1px solid #e3e3e3;
        background-color: #e3e3e3;
        text-transform: uppercase;
        align-items: center;
        border-radius: 2px;
        font-weight: 600;
        font-size: 12px;
        color: #777;
        display: flex;
        height: 28px;
        padding: 0;
        margin: 0;
        & > .name-col {
            font-size: 12px;
        }
    }/* end &#liquidate, &#to-liquidate */
}/* end accounting_file_tab_bill_releasing */