
.accounting-overview_ios {
    display: flex;
    box-sizing: border-box;
}
.accounting-overview_ios .years .selected{
    background-color: lightgray;
}
.accounting-overview_ios .years {
    flex: 0 0 100px;
}
.accounting-overview_ios .customers {
    flex: 1;
    max-width: 50%;
}
.accounting-overview_ios .customers h3 {
    margin-left: 10px;
}
.accounting-overview_ios .suppliers {
    flex: 1;
    max-width: 50%;
}
.accounting-overview_ios .partner-ioses {
    background-color: white;
    margin: 10px;
    padding: 5px;
    min-width: 100px;
    border: 1px solid lightgrey;
}

.accounting-overview_ios ul {
    list-style: none;
    padding: 0 10px;
    text-align: center;
}
.accounting-overview_ios ul li {
    padding: 8px;
}
.accounting-overview_ios ul li:hover {
    background-color: lightgrey;
    cursor: pointer;
}