.accounting-account_document_view-account_order_span {
    position: relative;
}

.accounting-account_document_view-account_order_span .not_ready_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 100;
    background-color: gray;
}

.accounting-account_document_view-account_order_span > div{
    background-color: pink;
}

.accounting-account_document_view-account_order_span > div._confirmed{
    background-color: lightgreen;
}