
.theme-tab-bill-of-quantity-item-group {
    
}

.theme-tab-bill-of-quantity-item-group-wrap {
    display: flex;
}

.theme-tab-bill-of-quantity-item-group-wrap._expanded._group-name-row .table-cell {
    border-right-color: transparent;
}

.theme-tab-bill-of-quantity-item-group-wrap._expanded._group-name-row {
    box-shadow: -1px 0px 0px 0px #ccc inset;
}

.theme-tab-bill-of-quantity-item-group-wrap._group-total-row {
    font-weight: bold;
}

.theme-tab-bill-of-quantity-item-group-wrap > .column-name .column-name-text {
    font-weight: bold;
}

.theme-tab-bill-of-quantity-item-group-wrap > .column-name .column-name-options .add-sub-group {
    color: #F3791E;
}

.theme-tab-bill-of-quantity-item-group-wrap > .column-name .column-name-options .add-item {
    color: #2A257A;
}
