
.theme-tab-bill-of-quantity-header-object {
    display: grid;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: min-content;
}

.theme-tab-bill-of-quantity-header-object-name {
    min-height: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
}

.theme-tab-bill-of-quantity-header-object-children {
    display: flex;
}

.theme-tab-bill-of-quantity-header-object._has_only_root_object .theme-tab-bill-of-quantity-header-object-children > .table-cell {
    border-top: none;
}

.theme-tab-bill-of-quantity-header-object .header-column-interim-bill {
    display: table;
}

.theme-tab-bill-of-quantity-header-object .header-column-interim-bill-head {
    display: table-caption;
    border-top: none;
}

.theme-tab-bill-of-quantity-header-object .header-column-interim-bill-body {
    display: flex;
}

.theme-tab-bill-of-quantity-header-object .header-column-interim-bill-body > * {
    min-width: 80px;
}