
.theme-tab-bill-of-quantity {
    padding: 10px;
    list-style: none;
    font-size: 12px;
}

.theme-tab-bill-of-quantity ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.theme-tab-bill-of-quantity-options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.theme-tab-bill-of-quantity-options > * {
    display: inline-flex;
    align-items: center;
}

.theme-tab-bill-of-quantity-options > *:hover {
    cursor: pointer;
}

.theme-tab-bill-of-quantity-options > *:not(:last-child) {
    margin-right: 10px;
}

.theme-tab-bill-of-quantity-options > .add-group {
    font-size: 14px;
    color: #F3791E;
}

.theme-tab-bill-of-quantity-options > .locked {
    display: flex; 
    align-items: center; 
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}

.theme-tab-bill-of-quantity-options > .add-group .add-group-text {
    margin-left: 5px;
    color: initial;
}

.theme-tab-bill-of-quantity-table {
    display: grid;
    width: max-content;
    position: relative;
}

.theme-tab-bill-of-quantity-table .table-cell {
    min-height: 15px;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.theme-tab-bill-of-quantity-table .table-cell._no-border {
    border: none;
}

.theme-tab-bill-of-quantity-table .table-cell._no-border-right {
    border-right: none;
}

.theme-tab-bill-of-quantity-table .table-cell._align-right {
    justify-content: flex-end;
}

.theme-tab-bill-of-quantity-table .table-cell._align-left {
    justify-content: flex-start;
}

.theme-tab-bill-of-quantity-table .column-name {
    flex-grow: 1;
    width: 250px;
}

.theme-tab-bill-of-quantity-table .column-measurement_unit {
    width: 60px;
}

.theme-tab-bill-of-quantity-table .column-quantity {
    width: 80px;
}

.theme-tab-bill-of-quantity-table .column-value_per_unit {
    width: 80px;
}

.theme-tab-bill-of-quantity-table .column-value {
    width: 100px;
}

.theme-tab-bill-of-quantity-table .column-quantity_done {
    width: 80px;
}

.theme-tab-bill-of-quantity-table .column-value_done {
    width: 100px;
}

.theme-tab-bill-of-quantity-table .column-percentage_done {
    width: 80px;
}

.theme-tab-bill-of-quantity-table .table-cell._interim-bill._pre {
    background-color: #d3e5ff;
    color: black;
}

.theme-tab-bill-of-quantity-table .table-cell._interim-bill._current {
    background-color: #B7D4FF;
    color: black;
}

.theme-tab-bill-of-quantity-table .table-cell._interim-bill._current._edit-interim-bill {
    box-shadow: -1px 0px 10px 0px #ffcd84 inset;
    color: black;
}

.theme-tab-bill-of-quantity-table .table-cell._interim-bill._current._edit-interim-bill:hover {
    opacity: 0.8;
    cursor: pointer;
}

.theme-tab-bill-of-quantity-table .table-cell._interim-bill._total {
    background-color: #a4bee5;
    color: black;
}

.theme-tab-bill-of-quantity-table-header {
    display: flex;
    color: white;
    border-left: 1px solid #ccc;
    overflow: unset;
}

.theme-tab-bill-of-quantity-table-header .table-cell {
    border-color: #ccc;
}

.theme-tab-bill-of-quantity-table-header > *:not(.header-scroll) {
    border-top-color: #ccc !important;
    background: #427FB3;
}

.theme-tab-bill-of-quantity-table-header > ._last {
    border-right-color: #ccc;
}

.theme-tab-bill-of-quantity-table-header .header-scroll {
    visibility: hidden;
}

.theme-tab-bill-of-quantity-table-body {
    overflow: scroll;
    width: -moz-available !important;
    width: -webkit-fill-available !important;
}

.theme-tab-bill-of-quantity-table-body > li {
    border-left: 1px solid #ccc;
}

.theme-tab-bill-of-quantity-table-body > li:last-child {
    border-bottom: 1px solid #ccc;
}

.theme-tab-bill-of-quantity-table-body .column-name {
    display: flex;
}

.theme-tab-bill-of-quantity-table-body .column-name > *:not(:last-child) {
    margin-right: 3px;
}

.theme-tab-bill-of-quantity-table-body .column-name-arrow {
    visibility: hidden;
    flex-basis: 15px;
    flex-shrink: 0;
    line-height: inherit;
}

.theme-tab-bill-of-quantity-table-body .column-name-arrow._visible:hover {
    cursor: pointer;
}

.theme-tab-bill-of-quantity-table-body .column-name-arrow._visible {
    visibility: visible;
}

.theme-tab-bill-of-quantity-table-body .column-name-order {
    flex-basis: 15px;
    flex-shrink: 0;
}

.theme-tab-bill-of-quantity-table-body .column-name-text {
    flex-grow: 1;
    justify-content: flex-start;
    word-break: break-all;
    text-align: left;
}

.theme-tab-bill-of-quantity-table-body .column-name-options {
    display: inline-flex;
    color: #707070;
    font-size: 14px;
    margin-left: 2px;
}

.theme-tab-bill-of-quantity-table-body .column-name-options > *:not(:last-child) {
    margin-right: 3px;
}

.theme-tab-bill-of-quantity-table-body .column-name-options > *:hover {
    cursor: pointer;
}

.theme-tab-bill-of-quantity-table-body .column-name-note {
    color: #FFC30B;
    padding: 2px;
}