
.theme-tab-bill-of-quantity-item-edit-value._clickable {
    cursor: pointer;
}

.theme-tab-bill-of-quantity-item-edit-value input {
    box-sizing: border-box;
    width: inherit;
    height: 15px;
    font-size: inherit;
    border-color: #707070;
}