.sima-search-field-result-list {
    padding: 5px;
    border: 1px solid lightgray;
    background-color: #e8e8e8;
    position: absolute;
/*    overflow-y: auto;*/
    overflow-y: scroll;
    max-height: 265px;
    min-width: 290px;
    z-index: 101;
}

.sima-search-field-result-list ul {    margin: 2px;
    padding: 2px;
}
.sima-search-field-result-list ul, 
.sima-search-field-result-list li {list-style-type: none;}
.sima-search-field-result-list li {
    margin: 2px;
    padding: 2px;
}

.sima-search-field-result-list .result-item:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}
.sima-search-field-result-list .active-item {
    cursor: pointer;
    background-color: #c9c9c9;
}

.sima-search-field-result-list .ssf-form {
    margin-top: 10px;
    width: 100%;
}

.sima-search-field-result-list .saf-form-field {
    width: 100%;
}
.sima-search-field-result-list .ssf-field-label {
    width: 100px;
    display: inline-block;
    text-align: right;
}
.sima-search-field-result-list .ssf-add-new-item {
    cursor: pointer;
    font-style: italic;
}
.sima-search-field-result-list .ssf-add-new-item:hover {
    font-weight: bold;
}
.sima-search-field-result-list .required {
    color: red;
}

