.sima-bi-profile-image {
    width:125px;
    height:125px;
    margin:10px auto;
    float: none;
    border: 1px solid #eeeeee;
    border-radius: 125px;
    overflow: hidden;
}
.sima-bi-profile-image img{
    width:100%;
    height:auto;
    border-radius:125px;
}
.sima-bi-user_heading{
    text-align: center;
}

.sima-bi-user_heading h3{
    margin-bottom:0;
    font-weight:300;
    font-size: 20px;
}

.sima-bi-user_heading h5{
    margin-bottom:0;
    margin-top:0;
    font-weight:normal;
    font-size: 14px;
}

.sima-bi-info_heading{
    font-size: 12px;
    margin: 10px 0 10px 0px;
    color: #555;
}
.sima-bi-info_heading h3{
    text-align:center;
    margin-bottom:5px;
    margin-top: 5px;
    font-weight: normal;
    font-size:18px;
}
.sima-bi-info_heading .information{
    width:80%;
    display: block;
    margin: 0 auto;
}
.info_holder{
    margin-top: 20px;
    overflow: hidden;
}
.info_holder h3{
    font-size: 12px;
    margin: 10px 0 10px 0;
    color:#555;
}
a.link, span.link{
    color:#960C66;
    text-decoration: none;
}
.sima-bi-row{
    margin-bottom: 0px;
    overflow: hidden;
    color: #666!important;
    font-size: 12px;
    padding: 1px 0;
    border-bottom: 1px solid #ccc;
}
.sima-bi-row div:nth-child(1){
    width: 100px;
    float:left;
}
.sima-bi-row div:nth-child(2){
    float:left;
    width: calc(100% - 100px);
}
.sima-bi-row div:nth-child(3){
    float:right;
    width: calc(100% - 100px);
    text-align: left;
}
.sima-file-belongs{
    padding: 0 0px;
    font-size: 12px;
}
.sima-b-bi-field{
    margin-bottom:10px;
    overflow: hidden;
}
.sima-b-bi-field div:first-child{
    min-width: 75px;
    float:left;
}
.sima-b-bi-field div:last-child{
    float:left;
}
.sima-bi-bill-number{
    font-size: 12px;
}
.sima_bi_notice{
    padding: 10px 10px 10px 0;
    font-size:12px;
    color:#666;
    display: inline-block;
}
.sima-b-bi-holder .title{
    font-size:12px;
}
.sima-b-info{
    padding: 5px 10px!important;
}
.sima-bi-photo{
    display: inline-block;
    cursor: default;
    width: 72px;
    height: 72px;
    border-radius: 125px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.sima-bi-radius-photo{
    border-radius: 100px;
}
.s-ei-ei{
    padding: 20px!important;
    background-color: #f9f9f9!important;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2)!important;
}
/* Pregažena klasa */
.s-ei-inner-row{
    padding:7px 0;
    display: flex;
    border-bottom: 1px solid #e3e3e3;
    vertical-align: middle;
}
.s-ei-inner-row:last-child{
    border-bottom:0;
}
.sima-bi-header-name{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    float:left;
    line-height: 24px;
    width:80%;
}
/* EMPLOYEE LIST */
.sima-el{
    float:left;
    padding: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.sima-el img{
    width:40px;
    height:40px;
    border-radius:50px;
}
.img-holder{
    position: relative;
    width:40px;
    height:40px;
    margin-right:15px;
    float: left;
}
/*.status{
    width:10px;
    height:10px;
    display: block;
    border-radius: 10px;
    background: #00eb21;
    position: absolute;
    bottom:2px;
    right:3px;
    border: 2px solid #f8f8f8;
}*/
.sima-el-list{
    margin: 20px 0 0 10px;
    font-size:14px;
}
.sima-el h4{
    margin: 5px 0 0 0;
}
.sima-el p.name{
    font-size: 12px;
    margin: 7px 0 0 0;
    font-weight: 500;
}
.sima-el p.position {
    font-size:11px;
    margin:0;
    color:#777;
}

.sima-rp-row{
    margin-bottom: 5px;
    overflow: hidden;
    color: #666!important;
    font-size: 12px;
    padding: 1px 0;
}
.sima-rp-row div:nth-child(1){
    width: 150px;
    float:left;
}
.sima-rp-row div:nth-child(2){
    float:left;
    /*width: calc(100% - 150px);*/
}

/* PREGAŽENO */
.sima-vertical-tabs .sima-tree-item > .sima-tree-item-wra{
    border-bottom: 1px solid #A8A8A8!important;
}