/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2014, 10:32:13 AM
    Author     : shakal
*/

/*ADD BUTTON*/
.sima-gui-button {
    cursor: pointer;
}

.sima-gui-button.disabled {
    cursor: auto !important; 
    opacity: 0.3 !important;
}

.sima-gui-button._disabled {
    cursor: auto !important; 
    opacity: 0.3 !important;
}

/*dugmici u simi*/
.sima-ui-button {
    color: white !important;
    font-size: 12px !important;
    font-family: DroidSansTTF !important; 
    border: none !important;
    line-height: 16px !important;
    background-origin: border-box, border-box, padding-box;
    background-clip: border-box, border-box, padding-box;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left center, right center, left center;
    border-left: 2px solid transparent !important;
    border-right: 2px solid transparent !important;
    margin: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-image: url(../images/buttons/levo-oblo.png), url(../images/buttons/desno-oblo.png), url(../images/buttons/meso.png);  
    margin-left: -1px;
}

.sima-ui-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.sima-ui-button:focus {
    outline: 0 !important;
}

.sima-ui-button.disabled {
    cursor: auto !important; 
    opacity: 0.3 !important;
}

.sima-ui-button._disabled {
    cursor: auto !important; 
    opacity: 0.3 !important;
}

/* pojedinacni izgled dugmica */
.sima-ui-button.sharp {
    background-image: url(../images/buttons/levo-ostro.png), url(../images/buttons/desno-ostro.png), url(../images/buttons/meso.png);
    /*margin-left: -1px;*/
}


.sima-ui-button.round-top {
    background-image: url(../images/buttons/gore-levo-oblo.png), url(../images/buttons/gore-desno-oblo.png), url(../images/buttons/meso.png);
    margin-left: -1px;
}

.sima-ui-button.round-bottom {
    background-image: url(../images/buttons/dole-levo-oblo.png), url(../images/buttons/dole-desno-oblo.png), url(../images/buttons/meso.png);
    margin-left: -1px;
}

.sima-ui-button.round-left {
    background-image: url(../images/buttons/levo-oblo.png), url(../images/buttons/desno-ostro.png), url(../images/buttons/meso.png);
    margin-left: -1px;
}

.sima-ui-button.round-right {
    background-image: url(../images/buttons/levo-ostro.png), url(../images/buttons/desno-oblo.png), url(../images/buttons/meso.png);
    margin-left: -1px;
}

.sima-ui-button-group-horizontal-round
{
    display: inline-block;
}

/* horizontalno redjanje dugmica */
.sima-ui-button-group-horizontal-round, .sima-ui-button-group-horizontal-sharp {
    /*    ovo ne sme da bude za sve, nego se postavlja na konkretnom primeru */
    margin: 0 !important;
    padding: 0 !important;
}

.sima-ui-button-group-horizontal-round .sima-ui-button {
    background-image: url(../images/buttons/levo-ostro.png), url(../images/buttons/desno-ostro.png), url(../images/buttons/meso.png);
    float: left;
}

.sima-ui-button-group-horizontal-round .sima-ui-button:first-child:not(:last-child) {
    background-image: 
        url(../images/buttons/levo-oblo.png),
        url(../images/buttons/desno-ostro.png), 
        url(../images/buttons/meso.png);
}

.sima-ui-button-group-horizontal-round .sima-ui-button:last-child:not(:first-child) {
    background-image: 
        url(../images/buttons/levo-ostro.png), 
        url(../images/buttons/desno-oblo.png),
        url(../images/buttons/meso.png);
}

.sima-ui-button-group-horizontal-round .sima-ui-button:first-child:last-child {
    background-image: 
        url(../images/buttons/levo-oblo.png), 
        url(../images/buttons/desno-oblo.png),
        url(../images/buttons/meso.png);
}

.sima-ui-button-group-horizontal-sharp .sima-ui-button {
    background-image: url(../images/buttons/levo-ostro.png), url(../images/buttons/desno-ostro.png), url(../images/buttons/meso.png);
    float: left;
}

.sima-ui-button-group-horizontal-sharp .sima-ui-button:not(:first-child) {
    margin-left: -1px;
}

/* vertikalno redjanje dugmica */
.sima-ui-button-group-vertical-round, .sima-ui-button-group-vertical-sharp {
    margin: 0 !important;
    padding: 0 !important;
}

.sima-ui-button-group-vertical-round .sima-ui-button {    
    background-image: url(../images/buttons/levo-ostro.png), url(../images/buttons/desno-ostro.png), url(../images/buttons/meso.png);
    float: left;
    clear: both;
    margin-bottom: -1px;
}

.sima-ui-button-group-vertical-round .sima-ui-button:first-child:not(:last-child)  {    
    background-image: url(../images/buttons/gore-levo-oblo.png), url(../images/buttons/gore-desno-oblo.png), url(../images/buttons/meso.png);
    float: left;
    clear: both;
}

.sima-ui-button-group-vertical-round .sima-ui-button:last-child:not(:first-child) {
    background-image: url(../images/buttons/dole-levo-oblo.png), url(../images/buttons/dole-desno-oblo.png), url(../images/buttons/meso.png);
}

.sima-ui-button-group-vertical-round .sima-ui-button:first-child:last-child {
    background-image: url(../images/buttons/levo-oblo.png), url(../images/buttons/desno-oblo.png), url(../images/buttons/meso.png);
}

.sima-ui-button-group-vertical-sharp .sima-ui-button {    
    background-image: url(../images/buttons/levo-ostro.png), url(../images/buttons/desno-ostro.png), url(../images/buttons/meso.png);
    float: left;
    clear: both;
    margin-bottom: -1px;
}

/* NOVI DIZAJN DUGMICA */
.sima-old-btn-group {
    /*min-width: 48px;*/
    height: 24px;
    display: inline-block;
    background: transparent;
    border: 1px solid #aaa;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
}

.sima-old-btn-group._disabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
}

.sima-old-btn-group:hover,
.sima-old-btn-group:focus {
    border: 1px solid #aaa;
}

.sima-old-btn-group .sima-old-btn {
    position: relative;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0 1px 0 0;
    border: none;
    box-shadow: inset -1px 0 0 #aaa;
    -webkit-box-shadow: inset -1px 0 0 #aaa;
    -moz-box-shadow: inset -1px 0 0 #aaa;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}

.sima-old-btn-group .sima-old-btn:first-child {    
    box-shadow: inset -1px 0 0 #aaa;
    -webkit-box-shadow: inset -1px 0 0 #aaa;
    -moz-box-shadow: inset -1px 0 0 #aaa;
}

.sima-old-btn-group .sima-old-btn:last-child {
    border-right: none;
    box-shadow: -1px 0 0 transparent;
    -webkit-box-shadow: -1px 0 0 transparent;
    -moz-box-shadow: -1px 0 0 transparent;    
}

.sima-old-btn-group .sima-old-btn:first-child:hover {
    border: none;
    box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -webkit-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -moz-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
}

.sima-old-btn-group .sima-old-btn:hover {
    border: none;
    box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -webkit-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -moz-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
}

.sima-old-btn-group .sima-old-btn:last-child:hover {
    border: none;
    box-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -webkit-box-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -moz-box-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
}

.sima-old-btn-group .sima-old-btn:first-child:active{
    border: none;
    box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;		
    -webkit-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;	
    -moz-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
}

.sima-old-btn-group .sima-old-btn:last-child:active {		
    border: none;
    box-shadow: -1px 0 0 #000, 1px 0 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0);		
    -webkit-box-shadow: -1px 0 0 #000, 1px 0 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0);	
    -moz-box-shadow: -1px 0 0 #000, 1px 0 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0);
}

.sima-old-btn-group .sima-old-btn:active {
    box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -webkit-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
    -moz-box-shadow: -1px 0 0 #000, inset -1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
}

.sima-old-btn-group .sima-old-btn._dropdown {
    position: relative;
    border: none;
    border-right: none;
    box-shadow: -1px 0 0 transparent;
    -webkit-box-shadow: -1px 0 0 transparent;
    -moz-box-shadow: -1px 0 0 transparent;
}

.sima-old-btn-group .sima-old-btn._dropdown:hover {
    border: none;
    box-shadow: -1px 0 0 transparent, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
    -webkit-box-shadow: -1px 0 0 transparent, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
    -moz-box-shadow: -1px 0 0 transparent, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.sima-old-btn-group .sima-old-btn._dropdown:active {
    border: none;
    box-shadow: -1px 0 0 transparent, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
    -webkit-box-shadow: -1px 0 0 transparent, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
    -moz-box-shadow: -1px 0 0 transparent, 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.sima-old-btn-group .sima-old-btn-group {
    border: none;
    height: 22px;
    margin: 0;
}

.sima-old-btn-group .sima-old-btn-group.btn-more-opts .sima-old-btn:first-child {
    border-radius: 0;
    box-shadow: inset -1px 0 0 #aaa;
    -webkit-box-shadow: inset -1px 0 0 #aaa;
    -moz-box-shadow: inset -1px 0 0 #aaa;
}

.sima-old-btn-group.btn-more-opts {
    min-width: 40px;
}

.sima-old-btn-group.btn-more-opts .sima-old-btn._dropdown._half {
    min-width: 16px;
    padding: 0;
}

.sima-old-btn-group .sima-old-btn-group.btn-more-opts {
    position: relative;
}

.sima-old-btn-group .sima-old-btn-group.btn-more-opts:before {
    position: absolute;
    content: '';
    top: 3px;
    left: 23px;
    z-index: 11;
    width: 1px;
    height: 16px;
    background: #aaa;
}
