/* SIMA Konfiguration Tab css style */
.tab-title {
    width: 100%;
    position: relative;
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 20px;
    background: rgb(254, 211, 158);
}
.tab-title h2 {
    font-size: 16px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0;
    -moz-margin-end: 0;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

/* tables */
.sima-ui-vertical-menu.table-wrapper {
    width: 100%;
    width: calc(100% - 292px);
    float: left;
    padding: 0 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sima-ui-vertical-menu.table-wrapper table {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: inline-table;
    box-shadow: 0 1px 5px #CCCCCC;
    -webkit-box-shadow: 0 1px 5px #CCCCCC;
    -moz-box-shadow: 0 1px 5px #CCCCCC;
}
.sima-ui-vertical-menu.table-wrapper table thead {
    margin: 0;
    padding: 0;
    background: #ebebeb;
    border-bottom: 1px solid #ccc;
}
.sima-ui-vertical-menu.table-wrapper table thead tr th,
.sima-ui-vertical-menu.table-wrapper table tbody tr td {
    padding: 10px;
}
.sima-ui-vertical-menu.table-wrapper table tbody tr {
    border-bottom: 1px solid #ccc;
}
.sima-ui-vertical-menu.table-wrapper table tbody tr td {
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;
}
.sima-ui-vertical-menu.table-wrapper table tbody {
    border-bottom: 1px solid #ccc;
}

.sima-ui-vertical-menu.table-wrapper table tbody tr td.table-btn {
    width: 24px;
}