/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2014, 2:19:06 PM
    Author     : sasa
*/

.sima-search-model-choose {
    width: 100%;
    height: 100%;
}

.sima-search-model-choose .sima-search-model-choose-list .item {
    display: inline-block;
    width: calc(100% - 5px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-left: 5px;
}

.sima-search-model-choose .sima-search-model-choose-list .item._hidden {
    display: none;
}

.sima-search-model-choose .sima-search-model-choose-list .item._non_editable ._delete {
    display: none;
}

.sima-search-model-choose .sima-search-model-choose-ok {
    left: auto !important;
    right: 0;
}

.sima-display-html {
    position: relative;
    background-color: #E3E3E3;
    border-radius: 3px;
    padding: 1px 1px;
}

.sima-display-html .sima-model-link{
    cursor: pointer;
}

.sima-display-html .sima-model-link._open_new_tab {
    cursor: se-resize;
}

.sima-display-html:hover{
    background-color: #D0D0D0;
}

.sima-display-html._job, .sima-theme-display-colored-span._job {
    background-color: lightskyblue;
}

.sima-display-html._bid, .sima-theme-display-colored-span._bid {
    background-color: lightgreen;
}

.sima-span-info-box {
    display: none;
    position: absolute;
    min-width: 150px;
    min-height: 20px;
    max-height: 500px;
    overflow: auto;
    margin: 0 0 20px;
    padding: 3px;
    border: 1px solid #d8d8d8;
    background: #f9f9f9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 5px 5px 10px #888888;
    -webkit-box-shadow: 5px 5px 10px #888888;
    box-shadow: 5px 5px 10px #888888;
    z-index: 101;
}

.mceEditor table.mceToolbar {
    float: left;
}

.sima-ajaxLong-progressBar-wrapper {
    height: 15px;
    width: 200px;
    display: none;
    text-align: center;
    position: absolute;
    margin: auto;
    top: calc(50% + 80px);
    left: calc(50% - 100px);
    z-index: 10;
}

.sima-progressBar {
    position: absolute;
    top: 0;
    left: 0;       
    width: 100%;
    height: 15px;
    border: none !important;
    background: #C0C0C0;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.sima-progressBar.ui-progressbar {
    background: none repeat scroll 0 0 rgb(192, 192, 192);
}

.sima-progressBar .ui-progressbar-value {
    background: black;
    border: none;
    margin: 0 !important;
}

.sima-progressBar .progress-label {
    position: absolute;
    left: 45%;
    top: -1px;
    font-weight: bold;    
    vertical-align: middle;
    color: white;
}

#tooltip_overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: rgba(0, 0, 0, 0.8);    
    display: none;
}

.sima-popup {
    /*overflow: hidden;*/
    position: absolute;
}

._enforce_no_scroll{
    overflow: hidden !important;
}

.sima-display-inline {
    display: inline-block;
    vertical-align: middle;
}

._hidden {
    display: none;
}

._hidden-important {
    display: none !important;
}

.theme-settings-item {
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
}

.theme-settings-item-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.theme-settings-item-value {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.fill-from-nbs-in-form {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px !important;
}

.sima-guitable-row._system-partner-list {
    background-color: #66cccc !important;
}

.sima-font-style-italic {
    font-style: italic;
}

.sima-contact-converter .sima-guitable-row .phone-number-type {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.sima-contact-converter .sima-guitable-row .sima-phone-field {
    display: inline-block;
}

.start-page-center-panel-header {
    padding: 10px;
}

/*SIMA SWITCH START*/
.sima-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 14px;
    vertical-align: middle;
}
.sima-switch.none {
    opacity: 0;
}
.sima-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.sima-switch .sima-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadce0;
    -webkit-transition: .4s;
    transition: .4s;
}
.sima-switch.none .sima-slider {
    cursor: default;
}
.sima-switch .sima-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    top: -3px;
    background: #909090;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
}
.sima-switch.checked .sima-slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
    background: #4285f4;
}
.sima-switch .sima-slider.round {
    border-radius: 34px;
}
.sima-switch .sima-slider.round:before {
    border-radius: 50%;
}
/*SIMA SWITCH END*/

/*SIMA FLIP START*/
.sima-flip {
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.sima-flip-this {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}
.sima-flip:hover .sima-flip-this {
    transform: rotateX(180deg);
}
.sima-flip-front, .sima-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    left: 0;
}
.sima-flip-back {
    transform: rotateX(-180deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*SIMA FLIP END*/
