@CHARSET "UTF-8";

.scroll-container{ overflow:auto; overflow-x:hidden;}
.sima-layout-panel{ 
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}
/*da se ne bi pojavljivali scrollovi zarad jednog piksela*/
.sima-layout-panel._splitter, .sima-layout-panel._has_layout_children, .ui-dialog-content._has_layout_children  {
    overflow: hidden !important; 
}

.sima-layout-panel._vertical > .sima-layout-panel{ 
    float: left;
}

.sima-layout-panel._vertical > .sima-layout-fixed-panel{ 
    float: left;
}

.sima-layout-fixed-panel{
    overflow: auto;
}

.sima-layout-fixed-panel > .sima-model-view
{
    overflow: auto;
}

.sima-layout-panel._splitter > .sima-layout-panel{ 
    box-shadow: -5px 0 5px -5px #CCCCCC;
    -webkit-box-shadow: -5px 0 5px -5px #CCCCCC;
    -moz-box-shadow: -5px 0 5px -5px #CCCCCC;
}

.sima-layout-panel._splitter div.sima-ui-resizable-separator{
    
    background-color: #CCCCCC;
    border: 0;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    position: absolute;
}
.sima-layout-panel._splitter._vertical div.sima-ui-resizable-separator{
    height: 100%; 
}

.sima-layout-panel._splitter._horizontal div.sima-ui-resizable-separator{
    width: 100%; 
}

.sima-layout-panel._splitter div.sima-ui-resizable-draghandle{
    
    background-color: transparent;    
    border:0;
    margin:0;
    position: absolute;
    z-index: 5;
}

.sima-layout-panel._splitter._vertical > .sima-ui-resizable-separator > div.sima-ui-resizable-draghandle{
    height: 100%; 
    cursor:col-resize;
}

.sima-layout-panel._splitter._horizontal > .sima-ui-resizable-separator > div.sima-ui-resizable-draghandle{
    width: 100%; 
    cursor: row-resize;
}

.sima-layout-panel._splitter div.sima-ui-resizable-draghandle._warning{
    background-color: blueviolet;    
}
.sima-layout-panel._splitter div.sima-ui-resizable-draghandle.dragged{
    background-color: #CCCCCC;
}

.sima-layout-panel._splitter div.sima-ui-resizable-minimized-front{
    background-color: #CCCCCC;
    border: 0;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    position: absolute;
    z-index: 10;
}

.sima-layout-panel._splitter._vertical div.sima-ui-resizable-minimized-front{
    height: 100%; 
}

.sima-layout-panel._splitter._horizontal div.sima-ui-resizable-minimized-front{
    width: 100%; 
}

.sima-layout-panel._floater > .sima-layout-panel {
    float: left;
    overflow-y: hidden;
}
