/* 
    Document   : notifications
    Created on : Dec 23, 2013, 8:02:11 PM
    Author     : Milos Sreckovic
    Description:
        Purpose of the stylesheet follows.
*/

/*.count_cloud		{ background: url(../images/red_cloud_20.png) top left no-repeat;
                                          width: 20px; height: 18px; margin: 0px; padding: 0px; display: block;
                                          font-size: 10px; color: white; font-weight: bold; text-align: center;
                                          position: absolute;  }*/
/*#notif_info_count 	{top:1px; left: 137px;}
#notif_alert_count 	{top:1px; left: 212px;}*/
#notification_table_overlay {position: absolute; width: 100%; z-index:100;}

.notification_table.info  {
    position: absolute; top: 38px; left:68px; z-index:100;
    background: white;
    border: 1px solid #C9E0ED; border-radius:5px; box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    max-width: 500px;
    /*width: 575px;*/
}

.notification_table.warn  {
    position: absolute; top: 38px; left:97px; z-index:100;
    background: white;
    border: 1px solid #FF8245; border-radius:5px; box-shadow: 0px 0px 6px rgba(0,0,0,0.3); 
    /*width: 575px;*/
}

.notification_table div.arrow {
    position:absolute;
    top: -10px;
    left: 88px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.notification_table.info div.arrow {
    border-bottom: 9px solid #54C0FF;
}

.notification_table.warn div.arrow {
    border-bottom: 9px solid #FF8245;
}

.notification_table.warn .warns li {
    cursor: pointer;
}

.notification_table .load_more_notifications, .notification_table .load_more_notifications_inner {
    height: 5px;
    width: 100%;
    padding: 10px 0px;
    background-image: url('../images/info_table/dots.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.notification_table .load_more_notifications:hover, .notification_table .load_more_notifications_inner:hover, .notification_table .load_more_messages:hover {
    cursor: pointer;
    background-color: Lavender;
}

.notification_table div.see_all {position: relative; overflow: auto;}
.notification_table.info div.see_all {background: linear-gradient(#B8D8FF 10%, white);}
.notification_table.warn div.see_all {background: linear-gradient(#FF8245 10%, white);}
.notification_table div.see_all span {display:inline-block; margin: 5px; }
.notification_table div.see_all span.title {  float: left; font-size: 10px; }
.notification_table div.see_all span.link { float: right; font-size: 9px; cursor: pointer; text-decoration: none;}
.notification_table ul.template {display:none;}
.notification_table ul 		{float: none; margin: 0px; padding: 0px; list-style:none; }
.notification_table ul 		li {float: none; margin: 2px 5px; padding: 5px; font-size: 12px;}
.notification_table ul 		li:not(:last-child) {    border-bottom: 1px solid #C9E0ED; }
.notification_table ul 		li.unseen p, 
.notification_table ul          li.unseen 
{opacity: 1; font-weight: bold;}

.notification_table ul 		li.unseen_temp p, 
.notification_table ul          li.unseen_temp span 
{opacity: 1; font-weight: normal;}
.notification_table ul 		li.seen p,
.notification_table ul          li.seen span 
{opacity: 0.5; font-weight: normal;}
.notification_table ul       	li:hover    {background: Lavender; cursor: pointer;}
.notification_table ul 		li 			span.id {display:none;}
.notification_table ul 		li 			p.title { width: 100%; margin: 2px; }
.notification_table ul 		li 			p.info { width: 100%; margin: 2px; }
.notification_table ul 		li 			span.time { font-size: 10px;}

.notification_table ul 		li 			span.multi {display:inline-block; width: 9px; height: 9px;background-image: url('../images/info_table/multi.png'); float: right;}
.notification_table ul 		li 			input.chBox {float: right; margin-left: 10px; margin-top: 7px;}
.notification_table ul          li 			label.chBox {margin-top:3px; float: right; font-size: 10px;}

.notification_table ul 		li 	span.icons  {display:inline-block; height: 15px;}
.notification_table ul 		li 	span.icons      span {margin: 2px; display:inline-block; width: 12px; height: 15px;}
.notification_table ul 		li 	span.icons      span.comment_listener{background-image: url('../images/notifications/comment_listen.png'); background-repeat: no-repeat;}
.notification_table ul 		li 	span.icons      span.new_comment{background-image: url('../images/notifications/new_comment.png'); background-repeat: no-repeat;}
.notification_table ul 		li 	span.icons      span.file{background-image: url('../images/info_table/file_icon.png'); background-repeat: no-repeat;}
.notification_table ul 		li 	span.icons      span.file_responsible{background-image: url('../images/info_table/file_icon.png'); background-repeat: no-repeat;}
.notification_table ul 		li 	span.icons      span.b_cake{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAADddAAA3XQEZgEZdAAAAB3RJTUUH3gcPBzIhqvVJEwAAAN5JREFUOMvN0zFKQ0EQxvHfM48QiJWiYLULg52lYCGSwkIrTyBYeQNbL+AVLESwtLexEsRTBJID2Ig2QcRmlUeQJOQ1fjAwM7v8Gb5h+NeKlPuR8smsPytzGIfYbwPYwKANYK/E0oDODH9A1WgMsIq6tCYIbOEFn+jhC93heHQ/TbyMlA8a9UWkfFPy7Uj5tfF2/pPXU5M9RcpneMcVqkh5B32sRcoPuMMprv8CwO1UvdvIj0s8LmriXNWRcg/rxcBF1Y2UN/FWFVOeyzSTBQEdfAzHo6PffS55K+0P7huYoyIM1P2TOQAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
}

.notification_table ul 		li 			span.option             {margin: 2px; display:inline-block; width: 16px; height: 16px; float: right; cursor: pointer;}
.notification_table ul 		li 			span.option.show_info   {background-image: url('../images/notifications/info.png'); background-repeat: no-repeat;}
.notification_table ul 		li 			span.option.open_new_tab{background-image: url('../images/notifications/new_tab.png'); background-repeat: no-repeat;}
.notification_table .notifs {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

/*style za chrome scroll */
.notification_table ::-webkit-scrollbar{
    width: 5px;
}

.notification_table ::-webkit-scrollbar-track{
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 20px;
}

.notification_table ::-webkit-scrollbar-thumb{
    background: linear-gradient(#B8D8FF 10%, #C2DFFF);
}

.notification_table ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 20px;
}

/*.notification_table ul.children 	li.unseen 	{background-color: LightSalmon;}*/
/*.notification_table ul.children                         {background-color: White !important;}*/

/*.notification_table ul.notifs 		li.parent 	{position: relative;}


.notification_table ul.notifs 		li.parent 			ul.children {position: absolute; z-index: 10; left: 95%; top: 5px;
                                                          width: 100%; display: none;}
.notification_table ul.notifs		li.parent:hover 	{background: Lavender ;}
.notification_table ul.notifs 		li.parent:hover 	ul.children{ display: block; border: 1px solid #C9E0ED; }
.notification_table ul.notifs 		li.parent:hover 	ul.children	{display: block;  left: 98%; top: 2px; border: 1px solid #C9E0ED; float: none; }*/
/* .notification_table ul.notifs		li.parent 			ul.children li {width: 150px;} */


/* style za row u tabeli*/
div.sima-guitable-body table tr.row.notification_seen td:nth-of-type(2) ~ td{
    opacity: 0.5;
}