.gchartcontainer .gminorheadingwkend {
    background-color: #ffcccc;
    font-weight: bold; 
}
.gchartcontainer .glistlbl {
    width: 50%;
}
.gchartcontainer .glistgrid {
    width: 50%;
}
.gchartcontainer * {
    font-size: 12px;
}
.gtasktableh {
    width: 100%;
}
.gtasktable {
    width: 100%;
}
.gchartcontainer .gtasklist {
    width: 1%;
}
.gchartcontainer .gstartdate {
    width: 13%;
}
.gchartcontainer .gstartdate div{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.gchartcontainer .genddate {
    width: 13%;
}
.gchartcontainer .genddate div{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.gchartcontainer .gtaskname {
    width: 36%;
}
.gchartcontainer .gtaskname div{
    font-size: 12px;
}
.gchartcontainer .gresource {
    width: 15%;
}
.gchartcontainer .gpccomplete {
    width: 12%;
}
 .gchartcontainer .gduration {
    width: 10%;
}
.gchartcontainer .gcharttableh tbody tr td div{
    font-size: 9px;
}
.gchartcontainer .gminorheading div {
    font-size: 9px;
}
.gchartcontainer .gminorheadingwkend div {
    font-size: 9px;
}
.gchartcontainer .gtasktable .gtaskname div {
    text-overflow:ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.gchartcontainer .gtasktable .gresource div, .JSGanttToolTip .gTtTitle {
    text-overflow:ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.JSGanttToolTip {
    z-index: 110;
}