/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2014, 9:34:21 AM
    Author     : sasa
*/

table.sima-simpletable {
    border: 1px solid #AAAAAA;
    padding: 2px 5px;
    border-collapse:collapse;
}

table.sima-simpletable th, table.sima-simpletable td {
    border: 1px solid #AAAAAA;
}
