/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2015, 3:18:48 PM
    Author     : sasa
*/

.tooltip-wrapper {
    display: block;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;      
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.tooltip-wrapper .tooltip-hand {
    background: url(../images/tooltips/hand-one-finger-up.png) no-repeat;
    background-size: 50% auto;
    position: absolute;
    width: 100px;
    height: 100%;
    left: 100px;
    position: absolute;
    top: 50px;
}

.tooltip-wrapper .tooltip-content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 28%;
}

.tooltip-wrapper .tooltip-content .text {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: arial, sans-serif;
    margin: 20px 0;
    padding: 0;    
    display: block;    
}

.tooltip-wrapper .tooltip-content .tooltip-url {
    position: relative;
    font-size: 16px;
    line-height: 14px;    
    font-family: arial, sans-serif;
    margin: 20px 0;
    padding: 0;
    float: left;
    display: block;    
}

.tooltip-wrapper .tooltip-content .tooltip-url a {
    color: white;
    text-decoration: underline;
}

.tooltip-wrapper .tooltip-content .show-again {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    clear: left;
    margin: 20px 0;
}

.tooltip-wrapper .tooltip-content .show-again input[type="checkbox"] {
    display:none;
}

.tooltip-wrapper .tooltip-content .show-again input[type="checkbox"] + label span {
    display: block;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px 0;
    padding: 0 0 0 34px;
    vertical-align: middle;
    background: url(../images/tooltips/checkbox-white.png) left top no-repeat;
    cursor: pointer;
    max-width: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.tooltip-wrapper .tooltip-content .show-again input[type="checkbox"] + label span:hover {
    background: url(../images/tooltips/checkbox-white-hover.png) 0px top no-repeat;
}

.tooltip-wrapper .tooltip-content .show-again input[type="checkbox"]:checked + label span {
    background:url(../images/tooltips/checkbox-white-checked.png) 0px top no-repeat;
}

.tooltip-wrapper .tooltip-content .tooltip-ok {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    float: left;
    margin: 10px 0 20px 0;
    padding: 0;
    display: block;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border: 4px solid #fff;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    outline: none;
}

.tooltip-wrapper .tooltip-content .tooltip-ok:hover {
    border-color: #aaa;
}

.tooltip-wrapper .tooltip-content .tooltip-ok:active {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.70);
    border-color: #fff;
}