/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2016, 2:45:38 PM
    Author     : sasa
*/

.sima-vm .sima-tree-list {
    background: #fff;
}

.sima-vm .sima-tree-item {
    position: relative;
    margin: 0;
    background: #fff;
    color: #414141;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
}

.sima-vm .sima-tree-item-subtree > li:first-child {
    border-top: 1px solid #ccc;
}

.sima-vm li > .sima-tree-item-subtree > li:last-child {
    border-bottom: none;
}

.sima-vm .sima-tree-item-wrap:hover {
    background-color: rgba(59, 95, 142, 0.8) !important;
    color: white;
    cursor: pointer;
}

.sima-vm .sima-tree-item._selected > .sima-tree-item-wrap {
    background-color: rgb(59, 95, 142) !important;
    color: white;
}

.sima-vm .sima-tree-item-subtree {
    padding: 0px;
    margin: 0px;
}

.sima-vm .sima-tree-item-subtree._level1 > .sima-tree-item {
    border-bottom: 1px solid #B8B8B8;
}

.sima-vm .sima-tree-item-subtree._level1 > .sima-tree-item > .sima-tree-item-wrap {
    padding-left: 15px;
    background-color: #E8E8E8;
}

.sima-vm .sima-tree-item-subtree._level2 > .sima-tree-item {
    border-bottom: 1px solid #C8C8C8;
}

.sima-vm .sima-tree-item-subtree._level2 > .sima-tree-item > .sima-tree-item-wrap {
    padding-left: 25px;
    background-color: #D8D8D8;
}

.sima-vm .sima-tree-item-subtree._level3 > .sima-tree-item {
    border-bottom: 1px solid #D8D8D8;
}

.sima-vm .sima-tree-item-subtree._level3 > .sima-tree-item > .sima-tree-item-wrap {
    padding-left: 35px;
    background-color: #C8C8C8;
}

.sima-vm .sima-tree-item-subtree._level4 > .sima-tree-item {
    border-bottom: 1px solid #E8E8E8;
}

.sima-vm .sima-tree-item-subtree._level4 > .sima-tree-item > .sima-tree-item-wrap {
    padding-left: 40px;
    background-color: #B8B8B8;
}

.sima-vm .sima-tree-item-expand-icon {
    height: 40px;
}

.sima-vm .sima-tree-item-title-text {
    line-height: 40px;
}

.sima-vm .sima-tree-item-title-part {
    height: 40px;
}

.sima-vm .sima-tree-item-title-part:hover {
    background-color: #6D8FBB;
}
