
.sima-model-display-html {
    z-index: 0;
    cursor: default;
    padding: 0px 2px;
    overflow: hidden;
    color: black;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    transition: color .25s ease-out;
        cursor: pointer;
        &:active { opacity: 0.5; }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #606060;
            transition: transform .25s ease-out;
            transform: translateY(calc(100% - 1px));
         }/* end before */
         &:hover {
            color: white !important; 
            transition-delay: .25s;
            &:before {
                transform: translateY(0);
                background-color: #2e3d4c;
                transition: transform .25s ease-out;
                transition-delay: .25s;
            }/* end before in hover */
         }/* end hover */
         &._open_new_tab { cursor: se-resize !important; }
         &._job { color: blue !important; }
         &._bid { color: green !important; }
         &._ctrl {
            cursor: default;
            &:active { opacity: 1; }
            &:hover {
                color: #2e3d4c !important; 
                &:before {
                    transform: translateY(100%);
                }/* end before in hover */
             }/* end hover */
         }/* end _ctrl */
         &._ctrl_pressed {
            cursor: pointer;
            transition-delay: .25s;
            color: white !important; 
            &:hover {
                color: white !important; 
                &:before {
                    transform: translateY(0);
                    background-color: #2e3d4c;
                    transition: transform .25s ease-out;
                    transition-delay: .25s;                    
                }
            }
            &:before {
                transform: translateY(0);
                background-color: #7a848e;
                transition: transform .25s ease-out;
                transition-delay: .25s;
            }/* end _ctrl_pressed */
            &:active { opacity: 0.5; }
         }/* end _ctrl_pressed */
 }/* end sima-model-display-html */

 .dark-background {
	.sima-model-display-html {
        color: #ccc;
        cursor: auto;
        &._disabled {
            cursor: auto;
        }
        &._job { color: #3b9bfd !important; }
        &._bid { color: #34a853 !important; }
    }/* end sima-model-display-html */
	.sima-model-display-html {
        cursor: pointer;
        color: #ccc;
        &:before { background-color: #ccc; }
        &:hover {
            color: #2e3d4c !important;
            &:before {
                background-color: white;
                transition-delay: 0.25s;
            }
        }
	}/* end sima-model-display-html */
	.sima-model-display-html._ctrl {
        cursor: default;
        &:active { opacity: 1; }
        &:hover {
            color: #ccc !important;
            &:before {
                background-color: #ccc;
                transform: translateY(100%);
            }
        }
	}/* end sima-model-display-html _ctrl */
	.sima-model-display-html._ctrl_pressed {
        cursor: pointer;
        color: #2e3d4c !important;
        &:hover {
            color: #2e3d4c !important;
            &:before {
                transform: translateY(0);
                background-color: white;
            }
        }
        &:before {
            transform: translateY(0);
            background-color: #ccc;
        }
	}/* end sima-model-display-html _ctrl_pressed */
}/* end dark-background */
